<div class="components components--computed">
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
        'component--tfa-form-container',
      ],
    }
  %}
    {% block component_content %}
      <form{{ attributes }}>
        {{ children }}
      </form>
    {% endblock component_content %}
  {% endembed %}
</div>
