$_branding-icon-size-mobile: $spacing-and-half;
$_branding-icon-size-desktop: $spacing-double;

.header-branding {
  align-items: center;
  background-color: $color-white;
  border-bottom: 1px solid $color-black-20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 $spacing;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @include breakpoint($breakpoint-m) {
    flex-wrap: nowrap;
    position: static;
    top: auto;
  }

  @include breakpoint($breakpoint-l) {
    padding: 0 $spacing-double;
  }

  &::before {
    background-color: $color-white;
    border-bottom: 1px solid $color-black-10;
    content: "";
    height: 65px; // Height of the mobile header
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    @include breakpoint($breakpoint-m) {
      display: none;
    }
  }

  .toolbar-vertical & {
    top: 39px; // Height of the toolbar
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu__item + .menu__item {
    margin-left: $spacing-half;
  }

  .menu__link {
    @include font('special.navigation.icon_label');
    display: block;
    min-width: $_branding-icon-size-mobile;
    padding-top: $_branding-icon-size-mobile + $spacing-half; // Icon should be a bit below the center axis
    position: relative;
    text-align: center;
    text-decoration: none;

    @include breakpoint(440px) {
      min-width: $_branding-icon-size-desktop;
      padding-top: $_branding-icon-size-desktop + $spacing-half; // Icon should be a bit below the center axis
    }

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  .menu__link__icon {
    --icon-size: #{$_branding-icon-size-mobile};
    display: block;
    margin-left: 50%;
    margin-top: - $_branding-icon-size-mobile;
    position: absolute;
    transform: translateX(-50%);
    @include breakpoint(440px) {
      --icon-size: #{$_branding-icon-size-desktop};
      margin-top: - $_branding-icon-size-desktop;
    }
  }
}
