$-branding-icon-size-desktop: $spacing-double;

.header-branding {
  --block-branding-height-mobile: 65px;
  background-color: $color-white;
  border-bottom: 1px solid $color-black-20;
  display: grid;
  grid-template-areas:
    '. logo . brand toggle .'
    '. lang lang lang lang .'
    'menu menu menu menu menu menu';
  grid-template-columns: $spacing auto 1fr auto auto $spacing;
  grid-template-rows: auto auto auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @include breakpoint($breakpoint-m) {
    grid-template-areas:
      '. logo . lang brand toggle .'
      'menu menu menu menu menu menu menu';
    grid-template-columns: $spacing auto 1fr auto auto auto $spacing;
    grid-template-rows: auto auto;
  }

  @include breakpoint($breakpoint-m) {
    position: static;
    top: auto;
  }

  &::before {
    background-color: $color-white;
    border-bottom: 1px solid $color-black-10;
    content: '';
    height: 65px; // Height of the mobile header
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    @include breakpoint($breakpoint-m) {
      display: none;
    }
  }

  .toolbar-vertical & {
    top: var(--drupal-toolbar-height);
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu__item + .menu__item {
    margin-left: $spacing-half;
  }

  .block--branding-navigation {
    .menu__link {
      @include font('special.navigation.icon_label');
      align-self: center;
      cursor: pointer;
      display: grid;
      grid-template-areas:
        'icon'
        'label';
      padding: 5px; // Handles spacing for "inside" focus ring
      text-align: center;
      user-select: none;

      @include breakpoint($breakpoint-l) {
        display: none;
      }

      &:focus,
      &:hover {
        text-decoration: underline;
      }

      &:active,
      &:focus {
        outline: 3px solid $color-black;
        outline-offset: -3px;
      }
    }

    .menu__link__icon {
      --icon-size: #{$-branding-icon-size-desktop};
      align-self: end;
      display: block;
      grid-area: icon;
      justify-self: center;
    }
  }
}
