.breadcrumb {
  @include font('special.breadcrumb.parent');
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding-inline: $spacing;

  @include breakpoint($breakpoint-m) {
    padding-inline: $spacing-and-half;
  }

  @include breakpoint($breakpoint-l) {
    padding-inline: $spacing-double;
  }

  .hel-icon {
    display: none;

    @include breakpoint($breakpoint-m) {
      --icon-size: #{remify(14px)};
      display: block;
      margin: 0 $spacing-quarter * 0.5;
    }
  }
}

.breadcrumb__link {
  display: none;
  padding-block: $spacing-half;
  text-decoration: underline;

  @include breakpoint($breakpoint-m) {
    display: block;
    padding-block: $spacing;
  }

  &:hover {
    text-decoration: none;
  }

  &:last-of-type {
    align-items: center;
    display: flex;
    margin-left: -$spacing-half;

    @include breakpoint($breakpoint-m) {
      margin-left: 0;
    }

    &::before {
      @include pseudo-icon('angle-left', $spacing-and-half);

      @include breakpoint($breakpoint-m) {
        display: none;
      }
    }
  }
}

.breadcrumb__current {
  @include font('special.breadcrumb.current');
  display: none;

  @include breakpoint($breakpoint-m) {
    display: block;
  }
}
