$-button-height: 2px + $spacing + get-font-size('button', $unremify: true) * 1.15 + $spacing + 2px; // border + padding + font-size * hds-button line-height + padding + border

.hds-pagination-container {
  // Spacing for pager element needs to be added since hds doesn't set these values.
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-quadruple;
  }
}

.hds-pagination {
  // Theming the hds-pagination to use Hel.fi brand color scheme.
  --active-page-background-color: #{$color-black};

  // Make sure the clickable area is tall enough to meet the minimum height requirement for the WCAG AAA standard.
  --link-height: #{$wcag-touch-target-size-aaa};

  @include font('body');
  font-weight: $font-weight-bold; // The body font doesn't have enough font weight so set it again here.

  &::before {
    @include font('button');
    line-height: $-button-height;
    padding-left: 34px; // 8px gap + 2px button border + 8px button padding + 16px span padding
    padding-right: 46px; // 4px gap + 24px icon + 8px icon margin + 8px button padding + 2px button border
    transform: scaleY(-1); // Helps debugging text position
  }
}

.hds-pagination__pages {
  // Next & Previous button structure is different in the hds and hdbt templates of the pager so
  // the numbers need to be a bit higher.
  margin-top: 6px;
}

.hds-pagination__button-prev,
.hds-pagination__button-next {
  // The Drupal pager requires the ul-structure around the pager buttons so we need some
  // extra styles to fight away the styling related to those wrapping elements.
  --border-color-focus: transparent;
  --border-color-hover-focus: transparent;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;

  &:hover {
    text-decoration: underline; // Add underline as hover here since background-color hover would not be visible with gray background.
  }

  // Numbers
  .hds-button {
    --border-color-focus: transparent; // Remove double outline from buttons.
    --border-color-hover-focus: transparent;

    &:hover {
      text-decoration: underline; // Add underline as hover here since background-color hover would not be visible with gray background.
    }
  }
}

// This is hdbt specific selector to fix issues with the pager button differences between hds.
.hds-pagination__button-prev-label {
  padding: $spacing $spacing $spacing 4px;
}

// This is hdbt specific selector to fix issues with the pager button differences between hds.
.hds-pagination__button-next-label {
  padding: $spacing 4px $spacing $spacing;
}

.hds-pagination__item-link {
  min-width: var(--link-height); // This is different from hds-core since we are using border-box sizing and not content-box.

  &:focus,
  &:active {
    --color-focus-outline: #{$color-black}; // Theming the hds-pager to use Hel.fi brand color scheme.
  }
}
