.header-top {
  // Hide on mobile
  display: none;

  @include breakpoint($breakpoint-l) {
    @include font('special.navigation.header_top');
    align-items: center;
    background-color: $color-black-5;
    display: flex;
    justify-content: space-between;
    padding: 14px $spacing-and-half; // Specific pixel size for top and bottom padding from layout.
  }

  @include breakpoint($breakpoint-l) {
    padding: 14px $spacing-double; // Specific pixel size for top and bottom padding from layout.
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu__item + .menu__item {
    margin-left: $spacing;
  }

  .link-to-site-frontpage {
    @include navigation_link_defaults;
  }

  .menu__link__text::after {
    --external-icon-move: translate(1px, -1px);

    @media (prefers-reduced-motion) {
      --external-icon-move: scale(1);
    }
  }
}
