$-icon-size: calc($spacing-and-half - $spacing-quarter);

.header-anchor-button {
  background: transparent;
  border: none;
  margin-block: 0;
  margin-inline: $spacing-half 0;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid $color-black-90;
    outline-offset: 2px;
  }
}

.js-header-with-anchor:hover .header-anchor-button,
.header-anchor-button:focus {
  display: inline-flex;
  vertical-align: middle;

  &::after {
    @include pseudo-icon('link', $-icon-size);
  }
}

.header-anchor-button:focus.header-anchor-button--success {
  outline-color: $color-success;

  &::after {
    @include pseudo-icon('check', $-icon-size, $color-success);
  }
}

.header-anchor-button:focus.header-anchor-button--error {
  outline-color: $color-error;

  &::after {
    @include pseudo-icon('cross', $-icon-size, $color-error);
  }
}

// White coloring for titles on dark background colors.
.js-header-with-anchor:hover .header-anchor-button.header-anchor-button--white,
.header-anchor-button:focus.header-anchor-button--white {
  outline-color: $color-white;

  &::after {
    background-color: $color-white;
  }
}
