$-search-button-min-width: 112px;

// HDS input height from search-input.css
$-search-button-min-height: 56px;

.helfi-search__form {
  align-items: flex-end;
  display: flex;
  gap: $spacing-half;

  .form-item {
    margin-bottom: 0;
  }
}

.helfi-search__submit-button {
  height: $-search-button-min-height;
  min-width: $-search-button-min-width;
}
