$-language-link-font: 'small';
$-padding-size: ($wcag-touch-target-size-aaa - get-line-height($-language-link-font, $unremify: true) ) * 0.5; // Lets calculate the padding size for the language link based on the line-height of the chosen font.
$-current-border-size: 3px;

.language-link__wrapper {
  margin-left: $spacing-half;
  margin-right: $spacing-half;
  position: relative;

  &:first-child {
    margin-left: 0;
  }
}

.language-link {
  @include navigation_link_defaults;
  @include font($-language-link-font);
  color: $color-black-90;
  display: inline-block;
  padding-block: $-padding-size;

  &[aria-current='true'] {
    cursor: default;
    position: relative;
    text-decoration: none;

    &::before {
      border-bottom: $-current-border-size solid $color-black-90;
      bottom: $-padding-size - $-current-border-size;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  &.is-disabled {
    background-color: transparent;
    border: 0 none;
    color: $color-black-60;
    cursor: not-allowed;

    &.is-alternative {
      display: none;
    }

    &.has-toast {
      cursor: pointer;
    }
  }
}
