.menu__link {
  @include navigation_link_defaults;
}

.menu__link__text {
  text-decoration: inherit; // Fix missing underline
}

.menu__link__icon {
  // Hide icons by default so that they aren't displayed accidentally somewhere where they have no styles defined.
  display: none;
}

.menu__link--unpublished {
  color: var(--color-error);
}
