$inner-item-spacing: 5px;
$-outline-width: 3px;

.layout-sidebar-first {
  display: none;

  @include breakpoint($breakpoint-l) {
    display: block;
  }
}

.sidebar-navigation__title {
  @include font('h4');
  border-bottom: 2px solid $color-black;
  margin-top: 0;

  a {
    @include navigation_link_defaults;
    align-items: center;
    display: flex;
    margin-block: $spacing-half;
    padding-block: $spacing;
    position: relative;

    &::before {
      @include pseudo-icon('arrow-left', 25px, $color-black, flex);
      @include hover-link-arrow-transition;
      margin-left: $spacing-half;
      margin-right: $spacing;
    }

    &:focus::before,
    &:hover::before {
      transform: translateX(-$spacing-quarter);

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }

    &:focus {
      outline: $-outline-width solid $color-black;
      outline-offset: -5px;
    }
  }
}

.sidebar-navigation {
  width: 100%;

  .menu__toggle-button {
    background: transparent;
    border: none;
    height: 44px;
    padding: 0;
    position: relative;
    width: 44px;

    // Decorative gray box around icon
    &::before {
      background-color: $color-black-5;
      content: '';
      height: $spacing-and-half;
      inset: 0;
      margin: auto;
      position: absolute;
      width: $spacing-and-half;
    }

    .hel-icon {
      @include rotating-icon-transition;
    }

    &:focus {
      outline: $-outline-width solid $color-black;
      outline-offset: -5px;
    }

    &:hover {
      cursor: pointer;

      &::before {
        background-color: $color-black-20;
      }
    }
  }

  .menu__link-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .menu__item {
    @include font('body');

    &.menu__item--active-trail {
      display: flex;
      flex-wrap: wrap;
    }

    &.menu__item--active-trail > .menu__link-wrapper {
      font-weight: bold;
    }
  }

  // Hides closed menus
  .menu__item--children .menu {
    display: none;
  }

  .menu__item--open {
    & > .menu {
      display: block;
    }

    & > .menu__link-wrapper .hel-icon {
      transform: rotate(180deg);
    }
  }

  .menu__item--nolink,
  .menu__link {
    margin-block: $inner-item-spacing;
    padding: $inner-item-spacing $spacing-quarter;
    position: relative;
    width: 100%;

    &:focus {
      outline: $-outline-width solid $color-black;
      outline-offset: -3px;
    }
  }

  .menu--level-1 {
    border-left: 1px solid $color-black-20;
    margin-bottom: $spacing;
    padding-left: $spacing;

    .menu {
      border-left: 1px solid $color-black-20;
      padding-left: $spacing;
    }

    .menu__item--nolink[aria-current='page']::before,
    .menu__link[aria-current='page']::before {
      background-color: $color-black;
      content: '';
      height: calc(100% + (2 * $inner-item-spacing));
      inset: 0;
      left: calc(-1 * #{$spacing} - 1px);
      position: absolute;
      top: -$inner-item-spacing;
      width: $-outline-width;
    }
  }

  .menu--level-0 > .menu__item {
    border-bottom: 1px solid $color-black-20;

    & > .menu__link-wrapper .menu__link {
      margin-block: $spacing-half;
      padding: $spacing-half $spacing-quarter;
    }
  }
}
