$-inner-item-spacing: 5px;
$-outline-width: 3px;
$-menu-item-font: 'body';
$-menu-item-padding: 0.5 * ($wcag-touch-target-size-aaa - get-line-height($-menu-item-font, $unremify: true)); // Adjust padding to fit the touch target size
$-menu-item-margin: (2 * $-inner-item-spacing - $-menu-item-padding); // Adjust margin from original $-inner-item-spacing to compensate for larger padding

.layout-sidebar-first {
  display: none;

  @include breakpoint($breakpoint-l) {
    display: block;
  }
}

.has-section-nav .layout-sidebar-first {
  display: block;
}

.sidebar-navigation__title {
  @include font('h4');
  border-bottom: 2px solid $color-black;
  margin-top: 0;

  .sidebar-navigation__title-link {
    @include navigation_link_defaults;
    align-items: center;
    display: flex;
    margin-block: $spacing-half;
    padding-block: $spacing;
    position: relative;

    &::before {
      @include pseudo-icon('arrow-left', 25px, $color-black, flex);
      @include hover-link-arrow-transition;
      margin-left: $spacing-half;
      margin-right: $spacing;
      transform: scaleX(var(--lang-direction, 1));
    }

    &:focus::before,
    &:hover::before {
      transform: scaleX(var(--lang-direction, 1)) translateX(-$spacing-quarter);

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }

    &:focus {
      outline: $-outline-width solid $color-black;
      outline-offset: -5px;
    }


    &.sidebar-navigation__title-link--unpublished {
      color: var(--color-error);

      /* stylelint-disable-next-line max-nesting-depth */
      &::before {
        background-color: var(--color-error);
      }
    }

  }
}

.sidebar-navigation {
  width: 100%;

  .menu__toggle-button {
    background: transparent;
    border: none;
    display: none;
    height: 44px;
    padding: 0;
    position: relative;
    width: 44px;

    :where(html.js) & {
      display: block;
    }

    // Decorative gray box around icon
    &::before {
      background-color: $color-black-5;
      content: '';
      height: $spacing-and-half;
      inset: 0;
      margin: auto;
      position: absolute;
      width: $spacing-and-half;
    }

    .hel-icon {
      @include rotating-icon-transition;
    }

    &:focus {
      outline: $-outline-width solid $color-black;
      outline-offset: -5px;
    }

    &:hover {
      cursor: pointer;

      &::before {
        background-color: $color-black-20;
      }
    }
  }

  .menu__link-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .menu__item {
    @include font($-menu-item-font);

    &.menu__item--active-trail {
      display: flex;
      flex-wrap: wrap;
    }

    &.menu__item--active-trail > .menu__link-wrapper {
      font-weight: bold;
    }
  }

  // Hides closed menus
  .menu__item--children .menu {
    display: block;

    :where(html.js) & {
      display: none; // By default hide closed menus when js is enabled
    }
  }

  .menu__item--open {
    & > .menu {
      display: block;
    }

    & > .menu__link-wrapper .hel-icon {
      transform: rotate(180deg);
    }
  }

  .menu__item--nolink,
  .menu__link {
    margin-block: $-menu-item-margin;
    padding: $-menu-item-padding $spacing-quarter;
    position: relative;
    width: 100%;

    &:focus {
      outline: $-outline-width solid $color-black;
      outline-offset: -3px;
    }
  }

  .menu__item--item-below > .menu__link-wrapper {
    .menu__item--nolink,
    .menu__link {
      width: calc(100% - 44px);
    }
  }

  .menu--level-1 {
    border-left: 1px solid $color-black-20;
    margin-bottom: $spacing;
    padding-left: $spacing;

    .menu {
      border-left: 1px solid $color-black-20;
      padding-left: $spacing;
    }

    .menu__item--nolink[aria-current='page']::before,
    .menu__link[aria-current='page']::before {
      background-color: $color-black;
      content: '';
      height: calc(100% + (2 * #{$-menu-item-margin}));
      inset: 0;
      left: calc(-1 * #{$spacing} - 1px);
      position: absolute;
      top: -$-menu-item-margin;
      width: $-outline-width;
    }
  }

  .menu--level-0 > .menu__item {
    border-bottom: 1px solid $color-black-20;

    & > .menu__link-wrapper .menu__link {
      margin-block: $spacing-half;
      padding: $spacing-half $spacing-quarter;
    }
  }
}

.sidebar-navigation + .sidebar-navigation {
  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-quadruple;
  }
}

// Section navigation special-case

$section-navigation-toggle-button-size: 54px;

.sidebar-navigation--section-navigation {
  @include breakpoint(max-width $breakpoint-l) {
    background-color: $color-black-5;
    display: block;
  }

  .menu__toggle-button {
    @include breakpoint(max-width $breakpoint-l) {
      margin-right: -10px; // Align the button with the first menu toggle button.
    }
  }

  .menu--level-0 {
    @include breakpoint(max-width $breakpoint-l) {
      padding-left: $spacing;
      padding-right: $spacing;
    }
  }

  .menu--level-0 > .menu__item:last-child {
    @include breakpoint(max-width $breakpoint-l) {
      border-bottom: 0;
    }
  }

  .menu__item--item-below > .menu__link-wrapper {
    @include breakpoint(max-width $breakpoint-l) {
      padding-right: 0;
    }
  }
}

.section-navigation__title {
  @include breakpoint(max-width $breakpoint-l) {
    @include font('h5');
    background-color: $color-black-5;
    border-bottom: 0 none;
    flex-grow: 1;
    margin-top: 0;
    padding: 0;
  }

  a {
    @include breakpoint(max-width $breakpoint-l) {
      margin-bottom: 0;
      margin-top: 0;
      padding-left: $spacing;
      padding-right: $spacing;
    }
  }

  a::before {
    @include breakpoint(max-width $breakpoint-l) {
      display: none;
    }
  }
}

.section-navigation__header {
  @include breakpoint(max-width $breakpoint-l) {
    @include font('body');
    align-items: stretch;
    display: flex;
  }

  .section-navigation__toggle-wrapper {
    @include breakpoint(max-width $breakpoint-l) {
      align-items: center;
      background-color: $color-silver;
      display: flex;
    }
  }

  .menu__toggle-button {
    display: none;

    @include breakpoint(max-width $breakpoint-l) {
      background-color: $color-silver;
      height: $section-navigation-toggle-button-size;
      margin-right: 0;
      width: $section-navigation-toggle-button-size;
    }

    &::before {
      display: none;
    }
  }
}

:where(html.js) .section-navigation__header .menu__toggle-button {
  @include breakpoint(max-width $breakpoint-l) {
    display: block;
  }
}

.section-navigation__menu-wrapper {
  @include breakpoint(max-width $breakpoint-l) {
    display: block;

    :where(html.js) & {
      display: none;
    }
  }

  .menu__toggle-button::before {
    @include breakpoint(max-width $breakpoint-l) {
      background-color: $color-silver;
    }
  }
}

.sidebar-navigation--section-navigation--open {
  .sidebar-navigation__title {
    @include breakpoint(max-width $breakpoint-l) {
      background-color: $color-silver;
    }
  }

  .section-navigation__header .menu__toggle-button .hel-icon {
    @include breakpoint(max-width $breakpoint-l) {
      transform: rotate(180deg);
    }
  }

  .section-navigation__menu-wrapper {
    @include breakpoint(max-width $breakpoint-l) {
      display: block;
    }
  }
}
