.skip-link--skip-to-main {
  top: 0;

  &:focus,
  &:active {
    transform: translate(-50%, 102px); // A little overlap with language switcher header on mobile.

    @include breakpoint($breakpoint-m) {
      transform: translate(-50%, 24px); // Half of the top navigation bar.
    }
  }
}
