.tab__content[aria-hidden='true'] {
  display: none;
}

.tab {
  background: transparent;
  border: none;
  display: inline-block;
  padding: $spacing;
  text-decoration: none;

  &[aria-selected='true'] {
    border-bottom: $spacing-quarter solid $color-black-90;
  }

  &:hover {
    cursor: pointer;
  }
}

.tabs--unit-search {
  margin-top: $spacing-three-quarters;
}
