{#
/**
 * @file
 * Default theme implementation to display an oEmbed resource in an iframe.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html>
  <head>
    <css-placeholder token="{{ placeholder_token }}">
  </head>
  {# The "right: -15px" is added to the video because it is returned with scrollbars. Once they are removed this can also be removed. #}
  <body style="margin: 0; height: 100%; left: 0; right: -15px; position: absolute; top: 0; width: auto; overflow: hidden;">
    {{ media|raw }}
  </body>
</html>
