.hdbt-icon {
  // Using before pseudo element because hds has already used after on buttons for example.
  &::before {
    --icon-size: #{$spacing-and-half};
    background-color: $color-black;
    content: "";
    display: inline-block;
    height: var(--icon-size);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: var(--icon-size) var(--icon-size);
    min-height: var(--icon-size);
    min-width: var(--icon-size);
    position: static;
    width: var(--icon-size);
  }
}
