.banner__title {
  @include font('h3');
  margin-top: 0;
}

.banner__desc {
  @include font('body');
  margin-top: $spacing;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-and-half;
  }

  p:first-child {
    margin: 0;
  }
}

.banner__icon {
  display: inline-flex;
  margin-bottom: $spacing-and-half;
  margin-inline-end: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-inline-end: $spacing-and-half;
  }

  .hel-icon {
    --icon-size: #{$spacing-quadruple};

    @include breakpoint($breakpoint-m) {
      --icon-size: #{remify(100px)};
    }
  }

  a {
    --hdbt-default-link-color: var(--hdbt-color-palette-text--primary);
  }
}

.component--banner .banner {
  padding-bottom: $spacing-double;
  padding-left: $spacing-double;
  padding-right: $spacing-double;
  padding-top: $spacing-double;
}

.component--banner .banner a[data-hds-component='button'] {
  margin: $spacing-double auto 0;
}

.component--banner-align-center {
  text-align: center;

  .banner__title,
  .banner__desc {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px; // According to layouts.
  }

  .component__content {
    margin-left: auto;
    margin-right: auto;
  }
}

.component--banner-align-left {
  .banner {
    display: flex;
    flex-flow: column;

    @include breakpoint($breakpoint-m) {
      flex-flow: row;
    }
  }

  &.component--banner-has-icon {
    a {
      @include breakpoint($breakpoint-l) {
        margin-left: auto;
        margin-right: 0;
      }

      &[data-hds-component='button']:not([class*='hds-button'])[data-hds-variant='supplementary'],
      &.hds-button--supplementary {
        // Fix for supplementary button alignment.
        margin-left: calc(-#{$spacing-half} + (-2px));
      }
    }
  }
}

.component--banner .component__container {
  background-color: var(--hdbt-color-palette--primary);
  color: var(--hdbt-color-palette-text--primary);
}

.banner {
  a {
    --hdbt-default-link-color: var(--hdbt-color-palette-text--primary);
  }

  @include button-palettes('primary');
}

.component--banner-secondary .component__container {
  background-color: var(--hdbt-color-palette--secondary);
  color: var(--hdbt-color-palette-text--secondary);
}

.component--banner-secondary .banner {
  a {
    --hdbt-default-link-color: var(--hdbt-color-palette-text--secondary);
  }

  @include button-palettes('secondary');
}
