@use "sass:math";

$-chart-aspect-ratio: math.div(16, 9);

.chart__container {
  height: 0;
  padding-bottom: aspect-ratio-padding($-chart-aspect-ratio);
  position: relative;
  width: 100%;

  .helfi-charts-cookie-compliance,
  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.chart__transcript {
  margin-top: $spacing;
}
