.helfi-charts-content iframe {
  aspect-ratio: 16 / 9;
  border: 0;
  height: auto;
  width: 100%;
}

.helfi-charts-noscript {
  background: $color-silver;
  padding: $spacing;

  p:first-child {
    margin-top: 0;
  }
}

.chart__transcript {
  margin-top: $spacing;
}
