.chart__container {
  position: relative;

  .responsive-chart-container {
    aspect-ratio: 16 / 9;
    background-color: $color-black-5; // Add color to show a "placeholder" while the video is loading.
    overflow: hidden;

    iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.chart__transcript {
  margin-top: $spacing;
}
