.columns {
  align-items: center;
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-m) {
    flex-direction: row;
    margin-left: -$spacing-and-half;
    margin-right: -$spacing-and-half;
  }

  @include breakpoint($breakpoint-l) {
    margin-left: -$spacing-double;
    margin-right: -$spacing-double;
  }

  // Overrides for image paragraph styles.
  .image {
    .image__container {
      padding: 0;

      @include breakpoint($breakpoint-m) {
        padding: 0;
      }

      @include breakpoint($breakpoint-l) {
        padding: 0;
      }
    }
  }
}

.columns__column {
  align-self: stretch;

  @include breakpoint($breakpoint-m) {
    margin-left: $spacing-and-half;
    margin-right: $spacing-and-half;
  }

  @include breakpoint($breakpoint-l) {
    margin-left: $spacing-double;
    margin-right: $spacing-double;
  }

  &.column--50 {
    @include breakpoint($breakpoint-m) {
      width: 50%;
    }
  }
  &.column--30 {
    @include breakpoint($breakpoint-m) {
      width: 30%
    }
  }
  &.column--70 {
    @include breakpoint($breakpoint-m) {
      width: 70%;
    }
  }

  + .columns__column {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-m) {
      margin-top: 0;
    }
  }
}

// Sidebar layout.
.has-sidebar.enriched-content, // TODO: REGIONS Clean up when unit sidebar block has been created.
.has-sidebar .main-content {

  // Columns in content area and inside accordion.
  .columns {
    @include breakpoint($breakpoint-l) {
      flex-direction: column;
    }

    @include breakpoint($breakpoint-xl) {
      flex-direction: row;
    }
  }
  .columns__column {
    @include breakpoint($breakpoint-l) {
      width: auto;

      &:not(:first-of-type) {
        margin-top: $spacing-double;
      }
    }
    @include breakpoint($breakpoint-xl) {
      margin-top: 0;

      &:not(:first-of-type) {
        margin-top: 0;
      }
    }
  }

  .columns__column.column--50 {
    @include breakpoint($breakpoint-xl) {
      width: 50%;
    }
  }
  .columns__column.column--30 {
    @include breakpoint($breakpoint-xl) {
      width: 30%;
    }
  }
  .columns__column.column--70 {
    @include breakpoint($breakpoint-xl) {
      width: 70%;
    }
  }
}
