$column-gap: $spacing-and-half;

.columns {
  @include breakpoint($breakpoint-m) {
    grid-gap: calc($column-gap * 2);
    display: grid;
  }

  // Overrides for image paragraph styles.
  .image {
    .image__container {
      padding: 0;

      @include breakpoint($breakpoint-m) {
        padding: 0;
      }

      @include breakpoint($breakpoint-l) {
        padding: 0;
      }
    }
  }
}

.columns--30-70 {
  @include breakpoint($breakpoint-m) {
    grid-template-columns: calc(30% - $column-gap) calc(70% - $column-gap);
  }
}

.columns--70-30 {
  @include breakpoint($breakpoint-m) {
    grid-template-columns: calc(70% - $column-gap) calc(30% - $column-gap);
  }
}

.columns--50-50 {
  @include breakpoint($breakpoint-m) {
    grid-template-columns: calc(50% - $column-gap) calc(50% - $column-gap);
  }
}

.columns__column {
  width: 100%;

  + .columns__column {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-m) {
      margin-top: 0;
    }
  }
}
