$contact-card-image-size: 200px;
$contact-card-color-line-width: 4px;

.contact-card {
  display: flex;
}

.contact-card--with-image {
  flex-direction: column;
}

.contact-card--image-container {
  margin-bottom: $spacing;
  margin-right: 0;

  img {
    height: $contact-card-image-size;
    width: $contact-card-image-size;
  }
}

.contact-card--person-phone-number a:not(:last-of-type)::after {
  content: ',';
  margin-right: 2px;
}

.contact-card--person-information {
  @include font(small);
  word-wrap: break-word;
  hyphens: auto;
  margin-bottom: $spacing-half;
  overflow-wrap: break-word;
}

.contact-card--person-name {
  @include font('h5');
  margin-top: 0;
}

.contact-card--person-email {
  word-break: break-all;
}

.contact-card--person-social-media {
  display: flex;
  margin-bottom: $spacing;
  margin-top: $spacing;

  .hel-icon {
    height: $spacing-and-half;
    margin-right: $spacing-half;
    width: $spacing-and-half;
  }
}

* + .contact-card--person-description {
  margin-top: $spacing;
}

.contact-card--color-line {
  background-color: var(--hdbt-color-palette--primary);
  margin-right: $spacing-and-half;
  min-width: $contact-card-color-line-width;
}

.contact-card--person-description {
  color: var(--color-black-60);
}
