$-card-spacing: $spacing-and-half;

.content-cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: 0;

  @include breakpoint($breakpoint-s) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$-card-spacing;
    width: calc(100% + #{$-card-spacing});
  }
}

.content-card {
  background-color: $color-white;
  margin-top: $spacing-double;
  position: relative;

  @include breakpoint($breakpoint-s) {
    margin-left: $-card-spacing;
    width: calc(50% - #{$-card-spacing});
  }

  @include breakpoint($breakpoint-l) {
    width: calc(25% - #{$-card-spacing});
  }

  &:first-child {
    margin-top: 0;
  }
}

.content-card__image {
  line-height: 0;

  img {
    @include image-defaults($width: 100%, $max-width: null);
    @include loading-image-background;
  }

  .image-placeholder {
    // Change the image placeholder aspect ratio from the the default 16/9 to ratio used by the paragraphs images.
    aspect-ratio: 6 / 4;
  }
}

.content-card__title {
  @include heading-hyphens;
  @include font('h4');
  display: block;
}

.content-card__date {
  margin-top: $spacing-half;
}

.content-card__link {
  display: block;
  overflow: hidden;
  padding-block: $spacing;

  &::before {
    content: '';
    inset: 0;
    position: absolute;
  }
}

.content-card--unpublished {
  outline: 2px solid var(--color-error);
  outline-offset: $spacing-quarter;

  .content-card__link {
    color: var(--color-error);
  }
}

.component--content-cards-large {
  .content-card {
    @include breakpoint($breakpoint-s) {
      margin-left: $-card-spacing;
      width: calc(50% - #{$-card-spacing});
    }

    @include breakpoint($breakpoint-l) {
      width: calc(33.3333% - #{$-card-spacing});
    }

    &:nth-child(-n+2) {
      @include breakpoint($breakpoint-s) {
        margin-top: 0;
      }
    }

    &:nth-child(-n+3) {
      @include breakpoint($breakpoint-l) {
        margin-top: 0;
      }
    }
  }
}

.component--content-cards-small {
  .content-card {
    &:nth-child(-n+2) {
      @include breakpoint($breakpoint-s) {
        margin-top: 0;
      }
    }

    &:nth-child(-n+4) {
      @include breakpoint($breakpoint-l) {
        margin-top: 0;
      }
    }
  }
}

// If the content-cards with grey design is just before footer on basic page or landing page. On TPR-content this is
// almost impossible to achieve so we will leave this variant away since its quite hard to implement without html-changes.
.page-type--landing-page .layout-main-wrapper > *:last-child .component--content-cards-grey:last-child,
.page-type--page .layout-main-wrapper > *:last-child .components--lower > .component--content-cards-grey:last-child {
  margin-bottom: -115px; // Enough to get the block under the footer.
  padding-bottom: 96px; // Leave enough room between the last card and footer.
}
