$contact-card-max-width: 200px;
$contact-card-gap: $spacing-and-half;
// The width when two cards don't fit next to each other anymore.
$contact-card-bp: calc(($contact-card-max-width * 2) + ($component-side-padding-mobile * 2) + $contact-card-gap);

.contact-card-listing--container {
  align-items: flex-start;
  column-gap: $contact-card-gap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .contact-card {
    margin-bottom: $spacing-triple;

    @include breakpoint($contact-card-bp) {
      max-width: $contact-card-max-width;
    }

    @include breakpoint($breakpoint-s) {
      max-width: none;
      min-width: min-content;
      width: 25%;
    }
  }
}
