.district-and-project-search {
  ul[role='listbox'] {
    background-color: var(--color-white);
  }
}

.district-project-search-form__filters-container {
  margin-bottom: $spacing-double;

  .district-project-search-form__filters {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-and-half;
    justify-content: space-between;

    > div {
      flex-basis: 100%;
    }

    @include breakpoint($breakpoint-m) {
      > div {
        flex-basis: 48%;
      }
    }
  }

  .district-project-search-form__additional-filters {
    border-bottom: none !important;
    border-top: 1px solid var(--color-black-20);
    margin-top: $spacing-and-half;

    div[role='heading'] {
      flex: 0 1 auto;
      font-weight: 500;
    }

    div[role='button'] {
      width: auto;

      svg {
        margin-left: $spacing-half;
      }
    }

    > div:last-child {
      margin-bottom: $spacing;
    }
  }

  .district-project-search-form__submit-button {
    margin-block: $spacing-double;
    max-width: 280px;
    width: 100%;
  }
}
