.district-and-project-search {
  ul[role="listbox"] {
    background-color: var(--color-white);
  }
}

.district-project-search-form__filters-container {
  .district-project-search-form__filters {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-and-half;
    justify-content: space-between;

    >div {
      flex-basis: 100%;
    }

    @include breakpoint($breakpoint-m) {
      >div {
        flex-basis: 48%;
      }
    }
  }

  .district-project-search-form__additional-filters {
    border-bottom: none !important;
    border-top: 1px solid var(--color-black-20);
    margin-top: $spacing;

    div[role="heading"] {
      flex: 0 1 auto;
      font-weight: 500;
    }

    div[role="button"] {
      width: auto;

      svg {
        margin-left: $spacing-half;
      }
    }

    >div:last-child {
      margin-bottom: $spacing;
    }
  }

  .district-project-search-form__submit-button {
    margin-block: $spacing-double;
    max-width: 280px;
    width: 100%;
  }
}

.district-project-search__results_heading {
  border-bottom: 1px solid var(--color-black-20);
  margin-bottom: $spacing-triple;
  margin-top: $spacing;

  >div:last-of-type {
    margin-bottom: $spacing-and-half;
    margin-top: $spacing-and-half;
  }

  .district-project-search__count {
    @include font('lead');

    .district-project-search__count-total {
      font-weight: $font-weight-bold;
    }
  }

  @include breakpoint($breakpoint-m) {
    align-items: center;
    display: flex;
    justify-content: space-between;

    >div:last-of-type {
      margin-left: $spacing-and-half;
      margin-top: 0;
    }
  }
}

.district-project-search__listing {
  margin-top: 0;
  padding-left: 0;
}

.district-project-search__listing__no-results {
  p {
    @include font('lead');
  }
}
