// Image width from sketch
$event-list-image-width: 325px;

// Image height in mobile
$event-list-image-mobile-height: 264px;

// Padding values for tag elements
$tag-horizontal-padding: 12px;
$tag-vertical-padding: 5px;

.component--event-list {
  @include component-side-padding;
}

.events-list__empty-subtext {
  margin-bottom: $spacing-and-half;
}

.event-form-container {
  border-bottom: 1px solid $color-black-20;
  margin-bottom: $spacing-double;
}

.event-form__filters-container {
  margin-bottom: $spacing-double;
  margin-top: $spacing;

  .event-form__filter-section-container {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-and-half;
    justify-content: space-between;
  }

  .event-form__filter--location,
  .event-form__filter--topics,
  .event-form__filter--date {
    flex-basis: 100%;

    @include breakpoint($breakpoint-m) {
      flex-basis: 48%;
    }
  }

  .event-form__filter-checkbox-container {
    display: flex;
    flex-direction: column;

    .hdbt-search__checkbox {
      margin-top: var(--spacing-2-xs);
    }

    @include breakpoint($breakpoint-m) {
      flex-direction: row;
      flex-wrap: wrap;

      @include flex-gap($spacing-and-half);
    }
  }
}

// Override HDS style for multiple checkboxes
.event-form__filter-section-container .hdbt-search__checkbox:not(:first-of-type) {
  @include breakpoint($breakpoint-l) {
    margin-top: 0;
  }
}

.event-form__checkboxes-label {
  font-weight: $font-weight-medium;
  margin-bottom: $spacing;
}

.event-list__see-all-button {
  margin-inline: auto;
  margin-top: $spacing-double;
  text-align: center;
}

.event-list__filter-title {
  @include font('h3');
}
