// Max width for selects when not in mobile (From HDBT).
$select-max-width: 420px;

.component--event-list {
  @include component-side-padding;
}

.events-list__empty-subtext {
  margin-bottom: $spacing-and-half;
}

.event-form-container {
  border-bottom: 1px solid $color-black-20;
}

.event-form__filters-container {
  margin-bottom: $spacing-double;
  margin-top: $spacing;

  .event-form__filter-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .event-form__filter--location,
  .event-form__filter--topics {
    flex-basis: 100%;

    @include breakpoint($breakpoint-m) {
      flex-basis: 48%;
    }
  }
}

.event-form__filter-section-container .hdbt-search__dropdown {
  max-width: none;

  @include breakpoint($breakpoint-m) {
    max-width: $select-max-width;
  }
}

.event-list__see-all-button {
  margin-inline: auto;
  margin-top: $spacing-double;
  text-align: center;
}

.event-list__see-all-button--near-you {
  text-align: left;
}

.event-list__filter-title {
  @include font('h3');
}
