.component--hearings {
  @include component-side-padding;
  background: $color-black-5;
}

.hearings__count-container {
  @include font('lead');
  margin-bottom: $spacing-and-half;

  .hearings__count {
    font-weight: $font-weight-bold;
  }
}

.hearings__list {
  margin-top: $spacing-and-half;
}

.hearings__link-wrapper {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-quadruple;
  }
}
