.component--hearings {
  @include component-side-padding;
  background: $color-black-5;
}

.hearings__count-container {
  margin-bottom: $spacing-and-half;
}

.hearings__list {
  margin-top: $spacing-and-half;
}
