$koro-height: 50px;

.hero {
  color: $body-bg-color;

  .hero__container {
    color: $color-black-90;
    padding-bottom: $spacing-triple;
    padding-top: $spacing-and-half;
    position: relative;

    @include breakpoint(max-width $breakpoint-s) {
      max-width: 100%;
    }
  }

  .hds-koros {
    svg {
      margin-bottom: -1px;
    }
  }

  .hero__text-content {
    max-width: 690px;
  }

  .hero__title {
    margin-bottom: $spacing;
    margin-top: $spacing;
  }

  .hero__title + .hero__cta {
    margin-top: $spacing-triple;
  }

  .hero__cta {
    align-items: flex-start;
    display: inline-flex;
    flex-flow: column;
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-s) {
      flex-flow: row;
      margin: $spacing-double 0 0;
    }

    .hero__button {
      margin-top: $spacing-half 0 0;

      @include breakpoint($breakpoint-s) {
        margin: 0 0 0 $spacing;
      }

      &:first-child {
        margin: 0;
      }

      &.hds-button--supplementary {
        margin-left: calc(-#{$spacing-half} + (-2px));

        @include breakpoint($breakpoint-s) {
          margin-left: $spacing;
        }

        &:first-child {
          @include breakpoint($breakpoint-s) {
            margin-left: -#{$spacing-half};
          }
        }
      }
    }
  }

  .hero__description {
    p {
      @include font('body');
    }

    a:not(.hds-button) {
      color: currentColor;
    }
  }

  .hero__arrow {
    background-color: var(--hdbt-color-palette--accent);
    bottom: -90px;
    height: 100px;
    left: $spacing-and-half;
    mask-image: icon_url('hero-arrow-mobile');
    mask-position: center;
    mask-repeat: no-repeat;
    position: absolute;
    width: 94px;
    z-index: 10;

    @include breakpoint($breakpoint-l) {
      bottom: -100px;
      height: 110px;
      left: $spacing-double;
      mask-image: icon_url('hero-arrow-desktop');
      width: 94px;
    }
  }
}

.hero-wrapper.has-first-gray-bg-block {
  background-color: $color-silver-light;
  margin-bottom: -$spacing-quadruple;
  padding-bottom: $spacing-triple;

  @include breakpoint($breakpoint-m) {
    margin-bottom: -$spacing-sextuple;
  }
}

// Hero colors
.hero--bg-color--coat-of-arms {
  background-color: $color-coat-of-arms;

  .hero__container {
    color: $color-white;
  }

  .hero__image-container {
    color: $color-coat-of-arms;
  }

  .hds-button {
    @include hds-button-colors-on-dark-bg;
  }
}

.hero--bg-color--gold {
  background-color: $color-gold;

  .hero__image-container {
    color: $color-gold;
  }
}

.hero--bg-color--silver {
  background-color: $color-silver;

  .hero__image-container {
    color: $color-silver;
  }
}

.hero--bg-color--brick {
  background-color: $color-brick;

  .hero__container {
    color: $color-white;
  }

  .hero__image-container {
    color: $color-brick;
  }

  .hds-button {
    @include hds-button-colors-on-dark-bg;
  }
}

.hero--bg-color--bus {
  background-color: $color-bus;

  .hero__container {
    color: $color-white;
  }

  .hero__image-container {
    color: $color-bus;
  }

  .hds-button {
    @include hds-button-colors-on-dark-bg;
  }
}

.hero--bg-color--copper {
  background-color: $color-copper;

  .hero__image-container {
    color: $color-copper;
  }
}

.hero--bg-color--engel {
  background-color: $color-engel;

  .hero__image-container {
    color: $color-engel;
  }
}

.hero--bg-color--fog {
  background-color: $color-fog;

  .hero__image-container {
    color: $color-fog;
  }
}

.hero--bg-color--metro {
  background-color: $color-metro;

  .hero__image-container {
    color: $color-metro;
  }
}

.hero--bg-color--summer {
  background-color: $color-summer;

  .hero__image-container {
    color: $color-summer;
  }
}

.hero--bg-color--suomenlinna {
  background-color: $color-suomenlinna;

  .hero__image-container {
    color: $color-suomenlinna;
  }
}

.hero--bg-color--tram {
  background-color: $color-tram;

  .hero__container {
    color: $color-white;
  }

  .hero__image-container {
    color: $color-tram;
  }

  .hds-button {
    @include hds-button-colors-on-dark-bg;
  }
}

/**
 * DESIGNS
 */

.hero--without-image-left {
  .has-first-gray-bg-block & .hds-koros {
    color: $color-silver-light;
  }
}

// With image designs.
.hero--with-image-right,
.hero--with-image-left,
.hero--with-image-bottom {
  .hero__container {
    padding-bottom: $spacing;

    @include breakpoint($breakpoint-m) {
      padding-bottom: $spacing-triple;
    }
  }

  .hds-koros {
    display: none;
  }

  .hero__image-container {
    height: 200px;
    position: relative;

    @include breakpoint($breakpoint-xs) {
      height: 300px;
    }

    img {
      @include image-defaults($height: 100%, $width: 100%, $max-width: null);
      object-fit: cover;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
    }

    .hds-koros {
      display: block;
      position: absolute;
      z-index: 1;
    }
  }
}

.hero--with-image-right,
.hero--with-image-left {
  @include breakpoint($breakpoint-m) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero__container {
    @include breakpoint($breakpoint-m) {
      align-items: center;
      display: flex;
      margin: 0;
      max-width: ($component-side-padding-mobile + $content-area-wrapper-width-max + $component-side-padding-mobile) * 0.5;
      width: 50%;
    }

    @if $component-side-padding-mobile != $component-side-padding-desktop {
      @include breakpoint($component-spacing-breakpoint) {
        max-width: ($component-side-padding-desktop + $content-area-wrapper-width-max + $component-side-padding-desktop) * 0.5;
      }
    }
  }

  .hds-koros {
    @include breakpoint($breakpoint-m) {
      display: block;
    }
  }

  .has-first-gray-bg-block & .hds-koros {
    @include breakpoint($breakpoint-m) {
      color: $color-silver-light;
    }
  }

  .hero__image-container {
    @include breakpoint($breakpoint-m) {
      height: auto;
      margin-top: $spacing-quadruple;
      max-width: ($component-side-padding-mobile + $content-area-wrapper-width-max + $component-side-padding-mobile) * 0.5;
      padding: 0 $spacing-double $spacing-quadruple;
      width: 50%;
    }

    @if $component-side-padding-mobile != $component-side-padding-desktop {
      @include breakpoint($component-spacing-breakpoint) {
        max-width: ($component-side-padding-desktop + $content-area-wrapper-width-max + $component-side-padding-desktop) * 0.5;
      }
    }

    img {
      // image defaults already set above
      @include breakpoint($breakpoint-m) {
        height: auto;
        position: static;
        transform: none;
        width: 100%;
      }
    }

    .hds-koros {
      @include breakpoint($breakpoint-m) {
        display: none;
      }
    }
  }

  .hero__arrow {
    bottom: -355px;

    @include breakpoint($breakpoint-m) {
      bottom: -90px;
    }
  }
}

.hero--with-image-left {
  @include breakpoint($breakpoint-m) {
    flex-direction: row-reverse;
  }

  .hero__arrow {
    @include breakpoint($breakpoint-m) {
      left: calc(-100% + 24px);
    }
  }
}

.hero--with-image-bottom {
  .hero__container {
    padding-bottom: $spacing;
  }

  .hero__image-container {
    @include breakpoint($breakpoint-l) {
      height: 400px;
    }
  }

  .hero__arrow {
    bottom: -355px;

    @include breakpoint($breakpoint-l) {
      bottom: -470px;
    }
  }
}

.hero--diagonal,
.hero--with-search {
  @include breakpoint($breakpoint-l) {
    position: relative;
  }

  .hero__container {
    align-items: center;
    display: flex;
    padding-bottom: $spacing;
    position: relative;
    width: 100%;
    z-index: 2;

    @include breakpoint($breakpoint-l) {
      min-height: 480px;
      padding-bottom: $spacing-triple;
    }
  }

  .hero__text-content {
    @include breakpoint($breakpoint-l) {
      max-width: 400px;
    }

    @include breakpoint($breakpoint-xl) {
      max-width: 500px;
    }
  }

  .hero__title {
    @include breakpoint($breakpoint-l) {
      margin-top: $spacing;
    }
  }

  .hero__image-container {
    height: 200px;
    position: relative;

    @include breakpoint($breakpoint-xs) {
      height: 300px;
    }

    @include breakpoint($breakpoint-l) {
      bottom: 0;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .hds-koros {
      display: block;
      position: absolute;
      top: -1px; // To avoid occasional 1px line on top of the koro when being scaled.
      z-index: 1;

      @include breakpoint($breakpoint-l) {
        bottom: 50%;
        left: 5%;
        top: auto;
        transform: rotate(135deg);
        transform-origin: center;
        width: 100%;
      }

      @include breakpoint($breakpoint-xl) {
        left: 0%;
      }

      &::after {
        @include breakpoint($breakpoint-l) {
          background-color: currentColor;
          content: '';
          display: block;
          height: 1000px;
          left: 15%;
          position: absolute;
          top: $koro-height - 2px; // Koro-element height - 2px
          width: 1500px;
        }

        @include breakpoint($breakpoint-xl) {
          left: 25%;
        }
      }
    }

    img {
      @include image-defaults($height: 100%, $width: 100%, $max-width: null);
      object-fit: cover;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;

      @include breakpoint($breakpoint-l) {
        margin-left: 30%;
        position: static;
        transform: none;
      }
    }
  }

  .hds-koros {
    display: none;
  }

  .hero__arrow {
    bottom: -355px;

    @include breakpoint($breakpoint-l) {
      bottom: -70px;
    }
  }
}
