$breakpoint-design-image-on-left-right: 830px;

.component--liftup-with-image .component__content {
  position: relative;
}

.liftup-with-image__image {
  picture {
    width: 100%;
  }

  img {
    @include image-defaults($width: 100%, $max-width: null);
    @include loading-image-background;
  }
}

.liftup-with-image__content {
  padding: $spacing-double;
}

.liftup-with-image__title {
  @include font('h3');
  margin-top: 0;
}

.liftup-with-image__desc {
  @include font('body');
  margin-top: $spacing;

  > *:first-child {
    margin-top: 0;
  }

  a {
    --hdbt-default-link-color: var(--hdbt-color-palette-text--primary);
  }
}

.liftup-with-image__content .hds-button {
  @include font('button');
}

// Designs with image on the left or right.
.component--liftup-with-image-img {
  // max-width: $container-width-xl;

  .liftup-with-image__image,
  .liftup-with-image__container {
    display: flex;
  }

  .liftup-with-image__container {
    @include breakpoint($breakpoint-design-image-on-left-right) {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .liftup-with-image__content {
    @include breakpoint($breakpoint-design-image-on-left-right) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 350px; // According to layouts
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 460px; // According to layouts
    }

    @include breakpoint($breakpoint-xl) {
      min-height: 435px; // According to layouts
    }
  }
}

.component--liftup-with-image-img.component--liftup-with-image-img-on-right {
  .liftup-with-image__image {
    justify-content: flex-end;
    padding-left: 10%;
    padding-right: 0;
    position: relative;
    z-index: 0;

    @include breakpoint($breakpoint-s) {
      padding-left: 20%;
    }

    @include breakpoint($breakpoint-design-image-on-left-right) {
      padding-left: 30%;
    }

    @include breakpoint($breakpoint-xl) {
      padding-left: 20%;
    }
  }

  .liftup-with-image__container {
    justify-content: flex-start;
    margin-right: 10%;
    margin-top: -#{$spacing-double};
    position: relative;
    z-index: 1;

    @include breakpoint($breakpoint-s) {
      margin-right: 20%;
    }

    @include breakpoint($breakpoint-design-image-on-left-right) {
      margin-right: auto;
      margin-top: 0;
      position: absolute;
    }
  }

  .liftup-with-image__content {
    @include breakpoint($breakpoint-design-image-on-left-right) {
      left: 0;
      right: auto;
    }
  }
}

.component--liftup-with-image-img.component--liftup-with-image-img-on-left {
  .liftup-with-image__image {
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 10%;
    position: relative;
    z-index: 0;

    @include breakpoint($breakpoint-s) {
      padding-right: 20%;
    }

    @include breakpoint($breakpoint-design-image-on-left-right) {
      padding-right: 30%;
    }

    @include breakpoint($breakpoint-xl) {
      padding-right: 20%;
    }
  }

  .liftup-with-image__container {
    justify-content: flex-end;
    margin-left: 10%;
    margin-top: -#{$spacing-double};
    position: relative;
    z-index: 1;

    @include breakpoint($breakpoint-s) {
      margin-left: 20%;
    }

    @include breakpoint($breakpoint-design-image-on-left-right) {
      margin-left: auto;
      margin-top: 0;
      position: absolute;
    }
  }

  .liftup-with-image__content {
    @include breakpoint($breakpoint-design-image-on-left-right) {
      left: auto;
      right: 0;
    }
  }
}

// Designs with primary background color.
.component--liftup-with-image-img {
  color: var(--hdbt-color-palette-text--primary);

  a.link {
    color: var(--hdbt-color-palette-text--primary);
  }

  .liftup-with-image__content {
    background-color: var(--hdbt-color-palette--primary);
    color: var(--hdbt-color-palette-text--primary);
  }

  .hds-button--primary {
    --background-color: var(--hdbt-color-palette-button--primary);
    --background-color-hover: transparent;
    --background-color-focus: var(--hdbt-color-palette-button--primary);
    --background-color-hover-focus: transparent;
    --background-color-disabled: var(--color-black-20);
    --border-color: var(--hdbt-color-palette-button--primary);
    --border-color-hover: var(--hdbt-color-palette-button--primary);
    --border-color-focus: var(--hdbt-color-palette-button--primary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--primary);
    --border-color-disabled: var(--color-black-20);
    --color: var(--hdbt-color-palette-button-contrast--primary);
    --color-hover: var(--hdbt-color-palette-button--primary);
    --color-focus: var(--hdbt-color-palette-button-contrast--primary);
    --color-hover-focus: var(--hdbt-color-palette-button--primary);
    --color-disabled: var(--color-black);
    --focus-outline-color: var(--hdbt-color-palette-button--primary);
    --submit-input-focus-gutter-color: var(--hdbt-color-palette-button-contrast--primary);
  }

  .hds-button--secondary {
    --background-color: transparent;
    --background-color-hover: var(--hdbt-color-palette-button--primary);
    --background-color-focus: transparent;
    --background-color-hover-focus: var(--hdbt-color-palette-button--primary);
    --background-color-disabled: transparent;
    --border-color: var(--hdbt-color-palette-button--primary);
    --border-color-hover: var(--hdbt-color-palette-button--primary);
    --border-color-focus: var(--hdbt-color-palette-button--primary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--primary);
    --border-color-disabled: var(--hdbt-color-palette-button--primary);
    --color: var(--hdbt-color-palette-button--primary);
    --color-hover: var(--hdbt-color-palette-button-contrast--primary);
    --color-focus: var(--hdbt-color-palette-button--primary);
    --color-hover-focus: var(--hdbt-color-palette-button-contrast--primary);
    --focus-outline-color: var(--hdbt-color-palette-button--primary);
  }

  .hds-button--supplementary {
    --background-color: transparent;
    --background-color-hover: transparent;
    --background-color-focus: transparent;
    --background-color-hover-focus: transparent;
    --background-color-disabled: transparent;
    --border-color: transparent;
    --border-color-hover: transparent;
    --border-color-focus: var(--hdbt-color-palette-button--primary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--primary);
    --border-color-disabled: transparent;
    --color: var(--hdbt-color-palette-button--primary);
    --color-hover: var(--hdbt-color-palette-button--primary);
    --color-focus: var(--hdbt-color-palette-button--primary);
    --color-hover-focus: var(--hdbt-color-palette-button--primary);
    --color-disabled: var(--hdbt-color-palette-button--primary);
    --focus-outline-color: transparent;
    --submit-input-focus-gutter-color: transparent;
  }
}

// Designs with secondary background color.
.component--liftup-with-image-secondary {
  color: var(--hdbt-color-palette-text--secondary);

  a.link {
    color: var(--hdbt-color-palette-text--secondary);
  }

  .liftup-with-image__content {
    background-color: var(--hdbt-color-palette--secondary);
    color: var(--hdbt-color-palette-text--secondary);
  }

  .hds-button--primary {
    --background-color: var(--hdbt-color-palette-button--secondary);
    --background-color-hover: transparent;
    --background-color-focus: var(--hdbt-color-palette-button--secondary);
    --background-color-hover-focus: transparent;
    --background-color-disabled: var(--color-black-20);
    --border-color: var(--hdbt-color-palette-button--secondary);
    --border-color-hover: var(--hdbt-color-palette-button--secondary);
    --border-color-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-disabled: var(--color-black-20);
    --color: var(--hdbt-color-palette-button-contrast--secondary);
    --color-hover: var(--hdbt-color-palette-button--secondary);
    --color-focus: var(--hdbt-color-palette-button-contrast--secondary);
    --color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --color-disabled: var(--color-black);
    --focus-outline-color: var(--hdbt-color-palette-button--secondary);
    --submit-input-focus-gutter-color: var(--hdbt-color-palette-button-contrast--secondary);
  }

  .hds-button--secondary {
    --background-color: transparent;
    --background-color-hover: var(--hdbt-color-palette-button--secondary);
    --background-color-focus: transparent;
    --background-color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --background-color-disabled: transparent;
    --border-color: var(--hdbt-color-palette-button--secondary);
    --border-color-hover: var(--hdbt-color-palette-button--secondary);
    --border-color-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-disabled: var(--hdbt-color-palette-button--secondary);
    --color: var(--hdbt-color-palette-button--secondary);
    --color-hover: var(--hdbt-color-palette-button-contrast--secondary);
    --color-focus: var(--hdbt-color-palette-button--secondary);
    --color-hover-focus: var(--hdbt-color-palette-button-contrast--secondary);
    --focus-outline-color: var(--hdbt-color-palette-button--secondary);
  }

  .hds-button--supplementary {
    --background-color: transparent;
    --background-color-hover: transparent;
    --background-color-focus: transparent;
    --background-color-hover-focus: transparent;
    --background-color-disabled: transparent;
    --border-color: transparent;
    --border-color-hover: transparent;
    --border-color-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-disabled: transparent;
    --color: var(--hdbt-color-palette-button--secondary);
    --color-hover: var(--hdbt-color-palette-button--secondary);
    --color-focus: var(--hdbt-color-palette-button--secondary);
    --color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --color-disabled: var(--hdbt-color-palette-button--secondary);
    --focus-outline-color: transparent;
    --submit-input-focus-gutter-color: transparent;
  }
}

// Designs with image as background.
.no-sidebar .components--upper > .component--liftup-with-image-bg {
  padding-left: 0;
  padding-right: 0;
}

// Designs with image as background.
.component--liftup-with-image-bg {
  .component__container {
    max-width: none;
  }

  .liftup-with-image__container {
    @include components-container-max-width;
    @include component-side-padding;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($breakpoint-l) {
      align-items: center;
      display: flex;
      min-height: 540px; // Minimum height determined with designers.
      overflow: hidden;
      position: relative;
      z-index: 2;
    }
  }

  .liftup-with-image__content {
    padding-left: 0;
    padding-right: 0;

    @include breakpoint($breakpoint-l) {
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: $spacing-quadruple 0;
      min-height: 350px; // According to layouts
      padding-left: $spacing-double;
      padding-right: $spacing-double;
      width: 460px; // According to layouts
    }
  }

  .liftup-with-image__image {
    @include breakpoint($breakpoint-l) {
      bottom: 0;
      height: 100%;
      left: 0;
      line-height: 0;
      min-height: 540px; // Minimum height determined with designers.
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    img {
      @include breakpoint($breakpoint-l) {
        @include image-defaults($height: 100%, $width: 100%, $max-width: null);
        object-fit: cover;
      }
    }
  }

  a {
    --hdbt-default-link-color: var(--color-black);
  }

  .hds-button--primary {
    --background-color: var(--color-black-90);
    --background-color-hover: var(--color-white);
    --background-color-focus: var(--color-black-90);
    --background-color-hover-focus: var(--color-white);
    --background-color-disabled: var(--color-black-20);
    --border-color: var(--color-black-90);
    --border-color-hover: var(--color-black);
    --border-color-focus: var(--color-black-90);
    --border-color-hover-focus: var(--color-black-90);
    --border-color-disabled: var(--color-black-20);
    --color: var(--color-white);
    --color-hover: var(--color-black-90);
    --color-focus: var(--color-white);
    --color-hover-focus: var(--color-black-90);
    --color-disabled: var(--color-white);
    --focus-outline-color: var(--color-black-90);
    --submit-input-focus-gutter-color: var(--color-white);
  }

  .hds-button--secondary {
    --background-color: transparent;
    --background-color-hover: var(--color-black-90);
    --background-color-focus: transparent;
    --background-color-hover-focus: var(--color-black-90);
    --background-color-disabled: transparent;
    --border-color: var(--color-black-90);
    --border-color-hover: var(--color-black-90);
    --border-color-focus: var(--color-black-90);
    --border-color-hover-focus: var(--color-black-90);
    --border-color-disabled: var(--color-black-50);
    --color: var(--color-black-90);
    --color-hover: var(--color-white);
    --color-focus: var(--color-black-90);
    --color-hover-focus: var(--color-white);
    --focus-outline-color: var(--color-black-90);
  }

  .hds-button--supplementary {
    --background-color: transparent;
    --background-color-hover: transparent;
    --background-color-focus: transparent;
    --background-color-hover-focus: transparent;
    --background-color-disabled: transparent;
    --border-color: transparent;
    --border-color-hover: transparent;
    --border-color-focus: var(--color-black-90);
    --border-color-hover-focus: var(--color-black-90);
    --border-color-disabled: transparent;
    --color: var(--color-black-90);
    --color-hover: var(--color-black-90);
    --color-focus: var(--color-black-90);
    --color-hover-focus: var(--color-black-90);
    --color-disabled: var(--color-black-20);
    --focus-outline-color: transparent;
    --submit-input-focus-gutter-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }
}

.component--liftup-with-image-bg.component--liftup-with-image-img-on-left {
  .liftup-with-image__container {
    @include breakpoint($breakpoint-l) {
      justify-content: flex-end;
    }
  }
}

.component--liftup-with-image-bg.component--liftup-with-image-img-on-right {
  .liftup-with-image__container {
    @include breakpoint($breakpoint-l) {
      justify-content: flex-start;
    }
  }
}
