$-item-spacing: $spacing-triple;
// Lets calculate the padding size for the list of links item based on the line-height of the chosen font.
$-item-link-padding: ($wcag-touch-target-size-aaa - get-line-height(h4, $unremify: true) );

.list-of-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  @include breakpoint($breakpoint-s) {
    flex-direction: row;
    margin-left: -$-item-spacing;
    width: calc(100% + #{$-item-spacing});
  }
}

.list-of-links__item {
  margin-bottom: $spacing-double;
  position: relative;
  width: 100%;

  @include breakpoint($breakpoint-s) {
    margin-left: $-item-spacing;
    width: calc(50% - #{$-item-spacing});
  }

  @include breakpoint($breakpoint-m) {
    width: calc(25% - #{$-item-spacing});
  }

  // If there is 1,2 or 3 items inside the list of links:
  @include content_count(1, 2, 3) {
    @include breakpoint($breakpoint-s) {
      width: calc(50% - #{$-item-spacing});
    }

    @include breakpoint($breakpoint-m) {
      width: calc(33.3333% - #{$-item-spacing});
    }
  }

  .list-of-links__item__title {
    @include heading-hyphens;
    @include font('h4');
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-block: 0;
    margin-inline-start: (100px + $spacing);
    // There should be minimal height for the links with images so that the listings won't be too crammed.
    min-height: calc(get-line-height('h4', $unremify: true) + $spacing-quadruple);

    @include breakpoint($breakpoint-s) {
      margin-inline-start: 0;
      min-height: auto;
    }
  }

  .list-of-links__item__link {
    box-sizing: border-box;
    display: inline-block;
    overflow-wrap: anywhere;
    // Make the clickable area conform with WCAG AAA standard and adjust the text slightly higher than
    // the center to make it look balanced.
    padding-bottom: calc($-item-link-padding * 0.666667);
    padding-top: calc($-item-link-padding * 0.333334);

    @include breakpoint($breakpoint-s) {
      display: block;
      min-height: calc(get-line-height('h4.breakpoint_l', $unremify: true) + $spacing-quadruple);
    }

    &:focus,
    &:hover {
      text-decoration: underline;

      &::after {
        transform: scaleX(var(--lang-direction, 1)) translateX($spacing-half);

        @media (prefers-reduced-motion) {
          transform: scaleX(var(--lang-direction, 1));
        }
      }
    }

    &::before {
      content: '';
      display: block;
      inset: 0;
      position: absolute;
    }
  }

  .list-of-links__item__image {
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    // Size of thumbnails on mobile
    width: 90px;

    @include breakpoint($breakpoint-s) {
      margin-bottom: $spacing;
      position: static;
      width: 100%;
    }

    img {
      @include image-defaults($width: 100%, $max-width: null);
      @include loading-image-background;
    }

    .image-placeholder {
      padding-bottom: 100%;
    }
  }
}

// Without image variants
.component--list-of-links-without-image {
  .list-of-links__item {
    align-self: flex-start;
    min-height: 2rem; // Min-height is the same as the icon height.
    padding-bottom: 0;

    @include breakpoint($breakpoint-m) {
      width: calc(33.3333% - #{$-item-spacing});
    }

    // If there is 1,2 or 3 items inside the list of links:
    @include content_count(1, 2) {
      @include breakpoint($breakpoint-m) {
        width: calc(50% - #{$-item-spacing});
      }
    }

    .list-of-links__item__link {
      min-height: auto;
      // Make the clickable area conform with WCAG AAA standard.
      padding-block: calc($-item-link-padding * 0.5);
    }

    .list-of-links__item__title {
      margin-inline: 0;
      min-height: auto;
    }
  }
}

// Without image but with description variant
.component--list-of-links-without-image {
  .list-of-links__item {
    .list-of-links__item__desc {
      @include font('body');
      color: $color-black-60;
    }
  }
}

// Sidebar layout.
.has-sidebar .main-content {
  .list-of-links__item {
    @include breakpoint($breakpoint-l) {
      width: calc(50% - #{$-item-spacing});
    }
  }

  // Without image.
  .component--list-of-links-without-image {
    .list-of-links__item {
      @include breakpoint($breakpoint-l) {
        width: calc(50% - #{$-item-spacing});
      }
    }
  }
}
