.component--map {
  @include component-side-padding;
  background-color: $color-silver-light;
}

// Patch Siteimprove false positive color contrast issue to reduce noise
.component--map .map__external-link {
  background-color: $color-silver-light;
}

.map {
  margin: $spacing 0 0;
  position: relative;

  .responsive-map-container {
    aspect-ratio: 1;
    position: relative;

    @include breakpoint($breakpoint-s) {
      aspect-ratio: 16/9;
    }
  }

  iframe {
    background-color: $color-black-10; // Add color to show a "placeholder" while the map is loading
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .map__external-link {
    $-map-external-font: 'button';
    $-map-external-padding: 0.5 * ($wcag-touch-target-size-aaa - get-line-height($-map-external-font, $unremify: true)); // Adjust padding to fit the touch target size
    $-map-external-padding-start: max($-map-external-padding, $spacing); // Ensure most of the padding stays on top where previously was $spacing size margin
    $-map-external-padding-end: $-map-external-padding * 2 - $-map-external-padding-start; // Add rest of the needed padding to the bottom

    @include font($-map-external-font);
    display: inline-flex;
    padding-block-end: $-map-external-padding-end;
    padding-block-start: $-map-external-padding-start;
  }
}

.skip-link--map--after {
  bottom: 0;

  &:focus,
  &:active {
    transform: translate(-50%, -24px);
  }
}

.skip-link--map--before {
  top: 0;

  &:focus,
  &:active {
    transform: translate(-50%, 24px);
  }
}
