$_map-aspect-ratio-desktop: 16/9;
$_map-aspect-ratio-mobile: 1;

.component--map {
  background-color: $color-silver-light;

  .address-line1::after {
    content: ',';
  }
}

.unit__header .component--map {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-triple;
   }
}

.component--map .component__container {
  padding: $spacing-triple 0;
}

.unit__header .component--map .component__container,
.has-sidebar .component--map .component__container {
  padding: $spacing-and-half $spacing-and-half $spacing-triple;

  @include breakpoint($breakpoint-m) {
   padding: $spacing-double $spacing-double $spacing-triple;
  }
}

.has-sidebar .components--upper .component--map,
.unit__header .component--map {
  @include breakpoint(max-width $breakpoint-l) {
    @include component-negative-side-margin;
  }
}

.map {
  height: 0;
  margin: $spacing 0;
  padding-bottom: aspect-ratio-padding($_map-aspect-ratio-mobile);
  position: relative;

  @include breakpoint($breakpoint-s) {
    padding-bottom: aspect-ratio-padding($_map-aspect-ratio-desktop);
  }

  > div,
  iframe {
    background-color: $color-black-10; // Add color to show a "placeholder" while the map is loading
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .map__external-link {
    @include font('button');
    align-items: center;
    bottom: -40px;
    display: inline-flex;
    position: absolute;
    right: 0;
    text-decoration: underline;
  }
}
