.component--map {
  @include component-side-padding;
  background-color: $color-silver-light;
}

// Patch Siteimprove false positive color contrast issue to reduce noise
.component--map .map__external-link {
  background-color: $color-silver-light;
}

.map {
  margin: $spacing 0 0;
  position: relative;

  .responsive-map-container {
    aspect-ratio: 1;
    position: relative;

    @include breakpoint($breakpoint-s) {
      aspect-ratio: 16/9;
    }
  }

  iframe {
    background-color: $color-black-10; // Add color to show a "placeholder" while the map is loading
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .map__external-link {
    @include font('button');
    display: inline-flex;
    margin-top: $spacing;
  }
}

.skip-link--map--after {
  bottom: 0;

  &:focus,
  &:active {
    transform: translate(-50%, -24px);
  }
}

.skip-link--map--before {
  top: 0;

  &:focus,
  &:active {
    transform: translate(-50%, 24px);
  }
}
