// Min-height for filter components - prevents weird issues with z-indexed components
$filter-component-min-height: 84px;

// Min-width for filter components in desktop. Helps preventing weird behavior with hds-dropdowns.
$filter-component-min-width-xl: 328px;

// Background color for the archive's form component.
$news-archive-background: #f2f2f2;

// Set these to enable 100% width background for the form element only.
.news-form-container,
.news-wrapper {
  @include component-side-padding;
  @include components-container-max-width;
  margin: auto;
  position: relative;
  width: 100%;
}

.news-form-wrapper {
  @include component-margin-top;
  background: $news-archive-background;
}

.news-wrapper .layout-sidebar-second {
  padding-left: 0;
  padding-right: 0;
}

.hdbt__loading-wrapper {
  position: relative;
}

.hdbt__loading-overlay {
  // Simple white overlay color
  background: rgba(255, 255, 255, .5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.news-form-container {
  padding-bottom: $spacing-double;
  padding-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    padding-top: $spacing-quadruple;
  }
}

.news-form-wrapper h2 {
  margin-bottom: $spacing-and-half;
  margin-top: 0;

  @include font('h4');
}

.news-form__filters-container {
  @include breakpoint($breakpoint-m) {
    display: flex;

    @include flex-gap($spacing);
  }
}

.news-form__filter {
  flex: 1;
  margin-bottom: $spacing;
  min-height: $filter-component-min-height;
  position: relative;

  @include breakpoint($breakpoint-xl) {
    min-width: $filter-component-min-width-xl;
  }
}

.news-form__filter-container {
  position: absolute;
  width: 100%;

  // CSS variable set by react application
  z-index: var(--menu-z-index)
}

// Target inside hds-react's component, cant set a direct target class
.news-form__filter li {
  margin-top: 0;
}

.news-form__submit {
  padding-bottom: $spacing-double;

  @include breakpoint($breakpoint-m) {
    margin-bottom: $spacing;
    padding-bottom: 0;
  }

  @include breakpoint($breakpoint-xl) {
    flex: 1;
  }
}

.news-form__submit .news-form__submit-button {
  // Set state-specific colors for submit button
  --background-color: var(--hdbt-color-black);
  --background-color-hover: var(--hdbt-text-color);
  --background-color-focus: var(--hdbt-text-color);
  --background-color-hover-focus: var(--hdbt-text-color);
  --border-color: var(--hdbt-color-black);
  --border-color-hover: var(--hdbt-color-black);
  --border-color-focus: var(--hdbt-color-black);
  --border-color-hover-focus: var(--hdbt-color-black);
  --color: var(--hdbt-text-color);
  --color-hover: var(--hdbt-color-black);
  --color-focus: var(--hdbt-color-black);
  --color-hover-focus: var(--hdbt-color-black);
  --focus-outline-color: var(--hdbt-color-black);
  margin-top: $spacing-half;
  width: 100%;

  @include breakpoint($breakpoint-m) {
    // Match filter elements' top offset to align properly
    margin-top: $spacing-and-half + $spacing-quarter;
  }
}

.news-wrapper {
  padding-top: $spacing-triple;
}

.news-listing--teasers {
  max-width: 100%;
}

.news-listing__no-results {
  margin-top: $spacing;
}

// Use a very specific selector here to override hds styles
button.news-form__remove-selection-button:not(:disabled) {
  @include tag('interactive--deletable');
  --color-hover-focus: var(--hdbt-text-color);
  color: var(--hdbt-color-black);
}

// Neagate HDS-defined paddings for span-element inside button
.news-form__remove-selection-button span {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.news-archive__heading {
  border-bottom: 2px solid $color-black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;

  @include breakpoint($breakpoint-m) {
    flex-flow: row;
  }
}

.news-archive__title {
  @include font('h3');
  margin-top: 0;
  padding-bottom: $spacing-and-half;
}

.news-archive__rss-link {
  @include font('button');
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  padding-top: $spacing;
}

.news-archive__rss-link svg {
  margin-right: $spacing-half;
}
