$-item-spacing-top-and-bottom: $spacing-double;
$-item-spacing-left-and-right: $spacing-quadruple;
$-item-spacing-left--with-numbers-desktop: $spacing-sextuple;
$-item-spacing-left--with-numbers: 80px;
$-circle-border-width: 3px;
$-circle-size: $spacing;
$-circle-size--with-numbers-desktop: $spacing-triple;
$-circle-size--with-numbers: 40px;
$-item-heading-lineheight: get-line-height('h4');

// Calculated values from static values above
$-circle-heading-difference: calc(($-item-heading-lineheight - $-circle-size) * 0.5);
$-circle-heading-difference--with-numbers-desktop: calc(($-item-heading-lineheight - $-circle-size--with-numbers-desktop) * 0.5);
$-circle-heading-difference--with-numbers: calc(($-item-heading-lineheight - $-circle-size--with-numbers) * 0.5);
$-line-position-left: $-item-spacing-left-and-right * 0.5;
$-line-position-left--with-numbers-desktop: $-item-spacing-left--with-numbers-desktop * 0.5;
$-line-position-left--with-numbers: $-item-spacing-left--with-numbers * 0.5;
$-line-position-top--first-item: $-item-spacing-top-and-bottom + ($-circle-size * 0.5);
$-line-height--last-item: calc($-item-spacing-top-and-bottom + $-circle-heading-difference);
$-line-height--first-item: 100%;
$-line-height--other-item: calc(100% + $-item-spacing-top-and-bottom);
$-circle-position-left: ($-item-spacing-left-and-right - $-circle-size + $-circle-border-width) * 0.5;
$-circle-position-top: calc($-item-spacing-top-and-bottom + $-circle-heading-difference);
$-circle-position-left--with-numbers-desktop: ($-item-spacing-left--with-numbers-desktop - $-circle-size--with-numbers-desktop + $-circle-border-width) * 0.5;
$-circle-position-top--with-numbers-desktop: calc($-item-spacing-top-and-bottom + $-circle-heading-difference--with-numbers-desktop);
$-circle-position-left--with-numbers: ($-item-spacing-left--with-numbers - $-circle-size--with-numbers + $-circle-border-width ) * 0.5;
$-circle-position-top--with-numbers: calc($-item-spacing-top-and-bottom + $-circle-heading-difference--with-numbers);

.component--phasing {
  counter-reset: item;
}

.phasing__item {
  background-color: var(--hdbt-color-palette--secondary);
  padding: $-item-spacing-top-and-bottom $spacing-quadruple;
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: $spacing;
  }

  &::before {
    background-color: $color-black;
    content: '';
    height: $-line-height--other-item;
    left: $-line-position-left;
    position: absolute;
    right: $-item-heading-lineheight;
    top: 0;
    width: 2px;
  }

  &:first-of-type::before {
    height: $-line-height--first-item;
    top: $-line-position-top--first-item;
  }

  &:last-of-type::before {
    height: $-line-height--last-item;
  }

  &:only-child::before {
    display: none;
  }

  &::after {
    background-color: $color-white;
    border: $-circle-border-width solid $color-black;
    border-radius: 50%;
    content: '';
    display: block;
    height: $-circle-size;
    left: $-circle-position-left;
    position: absolute;
    top: $-circle-position-top;
    width: $-circle-size;
  }
}

.phasing__item-with-numbers {
  padding-left: $-item-spacing-left--with-numbers;

  @include breakpoint($breakpoint-m) {
    padding-left: $-item-spacing-left--with-numbers-desktop;
  }

  &::after {
    align-items: center;
    content: counter(item);
    counter-increment: item;
    display: flex;
    height: $-circle-size--with-numbers;
    justify-content: center;
    left: $-circle-position-left--with-numbers;
    top: $-circle-position-top--with-numbers;
    width: $-circle-size--with-numbers;

    @include font('h4');

    @include breakpoint($breakpoint-m) {
      height: $-circle-size--with-numbers-desktop;
      left: $-circle-position-left--with-numbers-desktop;
      top: $-circle-position-top--with-numbers-desktop;
      width: $-circle-size--with-numbers-desktop;
    }
  }

  &::before {
    left: $-line-position-left--with-numbers;

    @include breakpoint($breakpoint-m) {
      left: $-line-position-left--with-numbers-desktop;
    }
  }
}

.phasing__item-title {
  @include font('h4');
  margin-bottom: $spacing;
  margin-top: 0;
}

// If phasing element is inside of an accordion
.component--accordion .component--phasing {
  .component__title {
    @include font('h5');
  }

  .phasing__item-with-numbers::after,
  .phasing__item-title {
    @include font('h5');
  }
}
