$-item-gap: $spacing;
$-item-padding: $spacing-and-half;
$-item-padding--desktop: $spacing-double;
$-item-padding-left: 68px;
$-item-padding-left--desktop: $spacing-sextuple;
$-item-padding-left--ol: 80px;
$-item-padding-left--ol-l: $spacing-sextuple;
$-circle-size: $spacing;
$-circle-size--ol: 40px;
$-circle-size--ol-l: $spacing-triple;

.component--phasing {
  --item-title-lineheight: #{1.5 * get-font-size('h4')}; // As we have paragraph, its line-height must be at least 1.5
  counter-reset: item;

  @include breakpoint($breakpoint-l) {
    --item-title-lineheight: #{1.5 * get-font-size('h4.breakpoint_l')};
  }

  .component__content {
    padding-inline-start: 0;
  }
}

.phasing__item {
  --circle-size: #{$-circle-size};
  --p-left: #{$-item-padding-left};
  background-color: var(--hdbt-color-palette--secondary);
  list-style: none;
  padding-block: $-item-padding;
  padding-inline: var(--p-left) $-item-padding;
  position: relative;

  @include breakpoint($breakpoint-l) {
    --p-left: #{$-item-padding-left--desktop};
    padding-block: $-item-padding--desktop;
    padding-inline: var(--p-left) $-item-padding--desktop;
  }

  &:not(:last-of-type) {
    margin-bottom: $-item-gap;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    inset-inline-start: calc(var(--p-left) * 0.5);
    position: absolute;
  }

  &::after {
    background-color: $color-black;
    height: calc(100% + $-item-gap + $spacing-half); // Height of the line should overlap 16px with the one below it.
    top: 0;
    transform: translateX(calc(var(--lang-direction) * -50%));
    width: 2px;
    z-index: 0;
  }

  &:first-of-type::after {
    height: 100%;
    top: calc($-item-padding + var(--item-title-lineheight) * 0.5);

    @include breakpoint($breakpoint-l) {
      top: calc($-item-padding--desktop + var(--item-title-lineheight) * 0.5);
    }
  }

  &:last-of-type::after {
    height: calc($-item-padding + var(--item-title-lineheight) * 0.5);

    @include breakpoint($breakpoint-l) {
      height: calc($-item-padding--desktop + var(--item-title-lineheight) * 0.5);
    }
  }

  &:only-child::after {
    display: none;
  }

  &::before {
    background-color: $color-white;
    border: 3px solid $color-black;
    border-radius: 50%;
    height: var(--circle-size);
    top: calc($-item-padding + var(--item-title-lineheight) * 0.5);
    transform: translate(calc(var(--lang-direction) * -50%), -50%);
    width: var(--circle-size);
    z-index: 1;

    @include breakpoint($breakpoint-l) {
      top: calc($-item-padding--desktop + var(--item-title-lineheight) * 0.5);
    }
  }
}

.phasing__item--with-numbers {
  --circle-size: #{$-circle-size--ol};
  --p-left: #{$-item-padding-left--ol};

  @include breakpoint($breakpoint-l) {
    --circle-size: #{$-circle-size--ol-l};
    --p-left: #{$-item-padding-left--ol-l};
  }

  &::before {
    align-items: center;
    content: counter(item);
    counter-increment: item;
    display: flex;
    justify-content: center;

    @include font('h4');
  }
}

.phasing__item-title {
  @include font('h4');
  margin-top: 0;
}

// We need this duplicate selector to combat the media query generated by font
// stylelint-disable-next-line no-duplicate-selectors
.phasing__item-title {
  --line-height: var(--item-title-lineheight);
}

.phasing__item-title + .phasing__item-description {
  margin-top: $spacing;
}

// If phasing element is inside of an accordion
.component--accordion .component--phasing {
  --item-title-lineheight: #{1.5 * get-font-size('h5')}; // As we have paragraph, its line-height must be at least 1.5

  @include breakpoint($breakpoint-l) {
    --item-title-lineheight: #{1.5 * get-font-size('h5.breakpoint_l')};
  }

  .phasing__item--with-numbers::after,
  .phasing__item-title,
  .component__title {
    @include font('h5');
  }
}
