.component--react-search {
  background-color: $color-silver-light;

  .component__container {
    padding-bottom: $spacing-double;
    padding-top: $spacing-double;

    @include breakpoint($breakpoint-m) {
      padding-bottom: $spacing-quadruple;
      padding-top: $spacing-quadruple;
    }
  }
}

// If the event search search is just before footer it needs to function the same way as unit search.
.layout-main-wrapper > *:last-child .component--react-search:last-child .component__container {
  margin-bottom: -115px; // Enough to get the block under the footer.
  padding-bottom: 115px; // Leave enough room between the last card and footer.
}

.react-search__form-container {
  border-bottom: 1px solid $color-black-20;
  margin-bottom: $spacing-double;
}

.react-search__list-container {
  margin-bottom: $spacing-double;
}

.react-search__result-top-area {
  margin-bottom: $spacing;

  @include breakpoint($breakpoint-l) {
    display: flex;
    justify-content: space-between;
  }
}

.react-search__results-stats {
  margin-bottom: $spacing;
}

.react-search__tabs {
  margin-bottom: $spacing-triple;
}

.react-search__tab {
  --tab-active-border-color: var(--hdbt-color-black);
  --tab-color: var(--hdbt-color-black);
}

.react-search__form-description {
  margin-bottom: $spacing;
}

// Override some fieldset default styles here
.react-search__fieldset {
  @include breakpoint($breakpoint-l) {
    display: flex;
    flex: wrap;
  }
  border: none;
  margin-bottom: $spacing-double;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.react-search__legend {
  font-weight: $font-weight-medium;
  margin-bottom: $spacing;
}

// Use specific selectors here to override HDS styles
fieldset .react-search__checkbox {
  --background-selected: var(--hdbt-color-black);
}

fieldset .react-search__checkbox:not(:first-of-type) {
  @include breakpoint($breakpoint-l) {
    margin-left: $spacing;
    margin-top: 0;
  }
  margin-top: $spacing-double;
}
