.component--paragraph-text .component__content {
  @include font('body');
  max-width: $content-width-max;

  > *:first-child,
  > p:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
