.component--unit-search {
  @include component-side-padding;
  background-color: $color-silver-light;
}

.component--unit-search .hds-checkbox__input {
  z-index: 1; // make sure that the checkbox is above the following label to show focus-ring properly
}

// Patch Siteimprove false positive color contrast issue to reduce noise
.component--unit-search .hds-checkbox__label {
  background-color: $color-silver-light;
}

// If the unit-search is just before footer.
.layout-main-wrapper > *:last-child .component--unit-search:last-child {
  margin-bottom: -115px; // Enough to get the block under the footer.
  padding-bottom: 55px; // Leave enough room between the last card and footer.
}

.views--unit-search {
  margin-top: $spacing-double;

  .form-actions {
    width: 100%;
  }

  .form-actions [data-hds-component='button']:not([class*='hds-button']):where(
    :not([data-hds-variant]), // When variant is not defined, we fallback to primary styles
    [data-hds-variant='primary'],
  ),
  .form-actions .hds-button--primary {
    margin-top: $spacing;
    max-width: 280px; // Max-width for button from hds/designs.
    min-width: 44px; // Min-width for button from hds/designs.
    width: 100%;
  }

  .views-exposed-form {
    @include breakpoint($breakpoint-m) {
      align-items: flex-end;
      display: flex;
      flex-wrap: wrap;
    }

    .form-item {
      @include breakpoint($breakpoint-m) {
        width: 100%;
      }
    }

    .description {
      white-space: normal;
    }

    .hds-text-input__input-wrapper {
      &::after {
        @include pseudo-icon('search', 20px, $color-black, block);
        position: absolute;
        right: $spacing;
        top: 50%;
        transform: translateY(-50%);
      }

      .hds-text-input__input {
        border-radius: 0;
        padding-right: $spacing-triple;
      }
    }

    [data-drupal-selector='edit-provided-languages-value'] {
      margin-top: $spacing-and-half;
    }
  }

  .unit-search__results > .views-row:first-of-type {
    margin-top: $spacing;

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing-double;
    }
  }
}

.unit-search__results {
  display: block;
  margin-top: $spacing-triple;
  width: 100%;

  > .views-row + .views-row {
    margin-top: $spacing;
  }
}

.unit-search__count-container {
  margin-top: 0;

  &:focus {
    outline: 3px solid $color-black;
    outline-offset: 2px;
  }
}

.unit-search__result-actions {
  @include breakpoint($breakpoint-m) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.unit-search__additional-information {
  @include font('body');
  display: block;
  margin-bottom: $spacing-and-half;
  margin-top: $spacing;

  &.unit-search__address-not-found {
    padding-left: $spacing-triple;
    position: relative;

    &::before {
      @include pseudo-icon('alert-circle-fill', $spacing-and-half);
      background-color: $color-alert-dark;
      left: $spacing;
      margin-top: -12px; // Move icon up half of the line-height of the text that follows (line-height is 24px).
      position: absolute;
      top: 50%;
    }

    p {
      margin-top: 0;
    }
  }
}

.unit-search__result--list,
.unit-search__result--map {
  margin-top: $spacing;
}

.unit-search__result--map {
  padding-bottom: 52%;
  position: relative;
  width: 100%;
}

.unit-search__map {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.unit-search__map-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-and-half;
  }
}

.unit-search__no-results-title {
  @include font('h3');
  margin-top: $spacing-and-half;
}

.unit-search__no-results-desc {
  @include font('body');
}

// Unit search with large volume of units listed such as daycare search.
.views--unit-search--large-volume .unit-search__results .views-row + .views-row {
  margin-top: $spacing-half;
}
