.unit-contact-card {
  background-color: $color-silver-light;
  display: flex;
  flex-direction: column;
  gap: $spacing;
  padding: $spacing-and-half;

  @include breakpoint($breakpoint-s) {
    padding-bottom: $spacing-double;
    padding-top: $spacing-double;
  }
}

.component--unit-contact-card--with-image .unit-contact-card {
  @include breakpoint($breakpoint-s) {
    flex-direction: row-reverse;
    gap: $spacing-and-half;
  }
}

.unit-contact-card__image {
  flex-basis: 30%;
  flex-shrink: 0;

  picture,
  img {
    aspect-ratio: 1.5;
    background-color: $color-black-5;
    display: block;
    height: auto;
    width: 100%;
  }
}

.unit-contact-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.unit-contact-card__info-row {
  margin-top: $spacing-and-half;
  padding-left: calc(#{$spacing-and-half} + #{$spacing-half}); // Icon width + spacing between text and icon.
  position: relative;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }

  // Icons container.
  &::before {
    left: 0;
    position: absolute;
    top: 0;
  }

  p:first-child {
    margin-top: 0;
  }

  .form-item {
    margin-bottom: 0;
  }
}

.unit-contact-card__info-row__title {
  @include font(h6);
}

.unit-contact-card__info-row__content {
  margin-top: $spacing-half;
}

.unit-contact-card__info-row--address {
  &::before {
    @include pseudo-icon('location', $spacing-and-half, currentColor);
  }
}

.unit-contact-card__info-row--phone::before {
  @include pseudo-icon('phone', $spacing-and-half, currentColor);
}

.unit-contact-card__info-row--opening-hours::before {
  @include pseudo-icon('clock', $spacing-and-half, currentColor);
}

.unit-contact-card__info-row--details::before {
  @include pseudo-icon('info-circle', $spacing-and-half, currentColor);
}

.unit-contact-card__link-wrapper {
  margin-top: $spacing-double;
  padding-left: 0; // There is no icon on the link so this padding is not needed.

  &:first-child {
    @include breakpoint($breakpoint-s) {
      margin-top: 0;
    }
  }
}

.unit-contact-card__link {
  @include font(h6);

  &::after {
    @include pseudo-icon('arrow-right', $spacing-and-half, currentColor);
    margin-left: $spacing-half;
  }
}
