// If the unit contact card is at the upper content area.
.components--upper,
.components--unit,
.components--service {
  > .component--unit-contact-card .component__container {
    padding-bottom: $spacing-and-half;
    padding-left: $spacing-and-half;
    padding-right: $spacing-and-half;
    padding-top: $spacing-and-half;
    position: relative;

    @include breakpoint($breakpoint-s) {
      padding-bottom: $spacing-double;
      padding-top: $spacing-double;
    }

    @include breakpoint($breakpoint-l) {
      padding-left: $spacing-double;
      padding-right: $spacing-double;
    }

    .component__title {
      // The image is absolute positioned so this will
      // set the heading under it. The formula is:
      // (total width - margins - paddings + top margin) * aspect ratio
      margin-top: calc((100vw - ($spacing * 2) - ($spacing-and-half * 2) + $spacing) * 2 / 3);
      width: 100%;

      @include breakpoint($breakpoint-s) {
        margin-top: inherit;
        width: calc(70% - $spacing-and-half);
      }
    }

    .component__title + .component__content {
      margin-top: $spacing-double;
    }
  }
}

.component--unit-contact-card .component__container {
  background-color: $color-silver-light;
  display: flex;
  flex-direction: column;

  // If the unit has fever than 3 content rows, the absolutely
  // positioned image will overflow the card. Setting a min-height
  // mitigates this issue.
  @include breakpoint($breakpoint-xl) {
    min-height: 320px;
  }
}

.unit-contact-card {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.unit-contact-card__info-row {
  margin-top: $spacing-and-half;
  padding-left: calc(#{$spacing-and-half} + #{$spacing-half}); // Icon width + spacing between text and icon.
  position: relative;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }

  // Icons container.
  &::before {
    left: 0;
    position: absolute;
    top: 0;
  }

  p:first-child {
    margin-top: 0;
  }

  .form-item {
    margin-bottom: 0;
  }
}

.unit-contact-card__image {
  margin-top: $spacing-and-half;

  &-with-details {
    left: 0;
    padding-bottom: $spacing-and-half;
    padding-left: $spacing-and-half;
    padding-right: $spacing-and-half;
    position: absolute;
    top: 0;
    width: 100%;

    @include breakpoint($breakpoint-s) {
      left: unset;
      padding: 0;
      right: $spacing-and-half;
      top: $spacing-double;
      width: 30%;
    }

    @include breakpoint($breakpoint-l) {
      right: $spacing-double;
    }
  }

  img {
    display: block;
    height: auto;
    overflow: hidden;
    width: 100%;
  }

  + .unit-contact-card__info-row {
    margin-top: $spacing-and-half;
  }

  &:first-child {
    @include breakpoint($breakpoint-s) {
      margin-top: 0;
    }
  }
}

.unit-contact-card__info-row__title {
  @include font(h6);
}

.unit-contact-card__info-row__content {
  margin-top: $spacing-half;
}

.unit-contact-card__info-row--address {
  &::before {
    @include pseudo-icon('location', $spacing-and-half, currentColor);
  }
}

.unit-contact-card__info-row--phone::before {
  @include pseudo-icon('phone', $spacing-and-half, currentColor);
}

.unit-contact-card__info-row--opening-hours::before {
  @include pseudo-icon('clock', $spacing-and-half, currentColor);
}

.unit-contact-card__info-row--details::before {
  @include pseudo-icon('info-circle', $spacing-and-half, currentColor);
}

.unit-contact-card__link-wrapper {
  margin-top: $spacing-double;
  padding-left: 0; // There is no icon on the link so this padding is not needed.

  &:first-child {
    @include breakpoint($breakpoint-s) {
      margin-top: 0;
    }
  }
}

.unit-contact-card__link {
  @include font(h6);

  &::after {
    @include pseudo-icon('arrow-right', $spacing-and-half, currentColor);
    margin-left: $spacing-half;
  }
}
