.is-hidden {
  display: none;
}

// Override Drupals visually-hidden class with a bit more comprehensive class.
.visually-hidden:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
