.hdbt-icon {
  // Using before pseudo element because hds has already used after on buttons for example.
  &::before {
    --icon-size: #{$spacing-and-half};
    background-color: $color-black;
    content: "";
    display: inline-block;
    height: var(--icon-size);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: var(--icon-size);
    min-height: var(--icon-size);
    min-width: var(--icon-size);
    position: static;
    width: var(--icon-size);
  }
}

.hds-button.hdbt-icon {
  // Change the order of the elements inside buttons to print the icon in correct place.
  .hds-button__label {
    margin: 0 0 0 var(--spacing-2-xs);
    order: 1;
  }

  &:focus {
    &::before {
      background-color: var(--color-focus);
    }
  }

  &:hover {
    &::before {
      background-color: var(--color-hover);
    }
  }

  &:focus:hover {
    &::before {
      background-color: var(--color-hover-focus);
    }
  }

  &::after {
    order: 2;
  }

  &::before {
    background-color: var(--color);
    order: 3;
  }
}
