.logo {
  align-items: center;
  display: flex;

  .icon--logo-sv,
  .icon--logo-ru {
    width: 78px;
  }
}

.logo--header {
  color: $color-black;
  padding: $spacing-half 0;

  .icon {
    height: 32px;
    width: 64px;
  }
}

.logo--footer {
  margin-bottom: $spacing-half;
  margin-top: $spacing-half;

  @include breakpoint($breakpoint-m) {
    margin-right: $spacing;
  }

  .icon {
    height: 40px;
    width: 87px;
  }
}
