<article class="hakuvahti-confirmation">
  <div class="page-divider"></div>
  <div class="components">
    {% embed "@hdbt/misc/component.twig" with { component_classes: 'component--hakuvahti-form'} %}
      {% block component_content %}
        {% if message %}
          {% include "@hdbt/module/helfi_hakuvahti/hakuvahti-message-wrapper.twig" with { message: message } %}
        {% endif %}
        {{ content }}
      {% endblock component_content %}
    {% endembed %}
  </div>
</article>
