{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
  <ul{{ attributes.addClass('unit__services__pager') }}>
    <li class="pager__item unit__services__pager-button-wrapper">
      {% set link_attributes = {
        'class': [
          'unit__services__pager-button',
          'button',
        ],
        'rel': 'next',
      } %}
      {{ link(options.button_text, items.next.href, link_attributes) }}
    </li>
  </ul>
{% endif %}
