{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
  {# Sadly drupal targets `ul.js-pager__items > li > a` to enable ajax, so we have to have these elements #}
  <ul{{ attributes.addClass('infinite-scroll-pager') }}>
    <li>
      {% set link_title %}
        <span class="hds-button__label">{{ options.button_text }}</span>
      {% endset %}
      {% set link_attributes = {
        'class': [
          'hds-button',
          'hds-button--primary',
          'pager-button',
        ],
        'rel': 'next',
      } %}
      {{ link(link_title, items.next.href, link_attributes) }}
    </li>
  </ul>
{% endif %}
