{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
  {# Sadly drupal targets `ul.js-pager__items > li > a` to enable ajax, so we have to have these elements #}
  <ul{{ attributes.addClass('pager') }}>
    <li>
      {% set link_attributes = {
        'class': [
          'pager-button',
        ],
        'rel': 'next',
      } %}
      {{ link(options.button_text, items.next.href, link_attributes) }}
    </li>
  </ul>
{% endif %}
