{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
  <ul{{ attributes.addClass('unit__services__pager') }}>
    <li class="pager__item">
      <a class="unit__services__load-more-container button" href="{{ items.next.href }}" rel="next">
        {% include '@hdbt/button/button.html.twig' with {type: 'secondary', disabled: false, label: 'Show all services'|t } %}
      </a>
    </li>
  </ul>
{% endif %}
