{#
/**
 * @file
 * Button example.
 *
 * TODO: Refactor hds-button.
 */
#}

<button type="button" class="hds-button {% if type %}{{ 'hds-button--' ~ type }}{% endif %} {% if size %}{{ 'hds-button--' ~ size }}{% endif %}" {% if disabled == true %}disabled{% endif %}>
  {% if icon_first == true %}
    {% include '@hdbt/misc/icon.twig' ignore missing with {icon: icon_first_type} %}
  {% endif %}
  <span class="hds-button__label">{{ label }}</span>
  {% if icon_last == true %}
    {% include '@hdbt/misc/icon.twig' ignore missing with {icon: icon_last_type} %}
  {% endif %}
</button>
