.language-wrapper {
  align-content: stretch;
  align-items: center;
  align-self: center;
  background-color: $color-black-5;
  border-bottom: 1px solid $color-black-20;
  display: flex;
  grid-area: lang;
  height: 100%;
  justify-content: space-between;
  min-height: var(--language-block-height);
  padding: 0 $spacing;
  position: relative;
  transition: transform 0.3s ease 1s; // The transition delay here combats a bit for the accidental scroll ups during scrolling
  width: 100vw;
  z-index: 0;

  @include breakpoint($breakpoint-m) {
    background-color: transparent;
    border-bottom: 0 none;
    border-top: none;
    margin-left: auto;
    order: 2;
    padding: 0;
    transition: none;
    width: auto;
    z-index: 10; // floats over main menu dropdowns.
  }

  &.scroll-up {
    transform: translateY(calc(-1 * var(--language-block-height)));
    transition-delay: 0s; // Transition delay should be 0 when hiding the switcher

    @include breakpoint($breakpoint-m) {
      margin-top: 0;
      transition-duration: 0s;
    }
  }
}

#menu:not([data-js]) ~ * .mega-and-mobilemenu .block--language-switcher + * {
  margin-top: $spacing;
}

.language-links {
  display: flex; // disables wrapping to multiple lines for now
}

// This mixin is used to remove the overflow hidden from language
// switcher items when they are opened. The overflow:hidden
// is placed on the items to avoid horizontal scroll bar appearing
// on the pages when the language switcher is close to the right
// end of the page.
@mixin language-switcher-overflow-prevention($id, $wrapper-modifier) {
  #{$id}:target,
  #{$id}[data-target='true'] {
    & ~ * #{$wrapper-modifier} {
      overflow: visible;
    }
  }
}

@each $lang in fi, sv, en {
  $suffix: 'language-toast--#{$lang}';

  @include language-switcher-overflow-prevention('##{$suffix}', '.language-link__wrapper--#{$lang}');

  .language-link__wrapper--#{$lang} {
    overflow: hidden;
  }
}
