.page-title {
  padding-top: 0;

  h1 {
    margin-bottom: 0;
    margin-top: 0;
    max-width: $content-width-max;
  }
}

// When page title (not hero) is visible and lead-in follows it, set margin between them
.page-title + article > .lead-in {
  margin-top: $spacing-and-half;
}

// When page title (not hero) is visible and toc/components follows it, set margin between them
.page-title + article > .table-of-contents:first-child,
.page-title + article > .components:first-child {
  @include component-margin-top;
}
