.social-media {
  margin-top: $spacing-triple;
}

.social-media__title {
  @include font('h4');
}

.social-media__items {
  @include flex-gap($spacing-half);
  display: flex;
  margin-bottom: $spacing-double;
  margin-top: $spacing;
}

.social-media__item {
  color: $color-black;
  list-style: none;
  text-decoration: none;

  .link__type {
    display: none; // Hide link type for social media links.
  }

  .hel-icon {
    --icon-size: #{$spacing-double};
  }

  &:focus,
  &:active,
  &:hover {
    &.email {
      color: $color-black-70;
    }

    &.facebook-share {
      color: #4169AF;
    }

    &.linkedin {
      color: #0079B2;
    }

    &.twitter {
      color: #0DA4EE;
    }
  }
}
