// stylelint-disable scss/at-extend-no-missing-placeholder
$-announcement-link-padding: $spacing-three-quarters;

.announcement {
  @include font('small');
  height: var(--js-announcement-height, auto); // Allow overriding height for triggering css animation with js
}

.announcement__container {
  @extend .hds-notification__content;
}

.announcement__title {
  @extend .hds-notification__label;
}

.announcement__content {
  @extend .hds-notification__body;
}

.announcement__content-body {
  & *:first-child {
    margin-top: 0;
  }
}

.announcement__link {
  margin-top: $spacing-half;

  &:first-child {
    margin-top: 0;
  }

  a {
    padding-block: $-announcement-link-padding; // This sets the link clickable area to be big enough for a11y.
  }
}

.announcement__close {
  @include close-button;
  margin: 0;
  position: absolute;
  right: $spacing-quarter;
  top: $spacing-quarter;
}

.js-announcement__close--disabled {
  visibility: hidden; // Close button should be hidden until we have js enabled
}

.announcement.js-announcement--hide {
  $transition-a: 0.15s; // Fade out announcement
  $transition-b: 0.2s; // Then scale it out
  height: 0;
  margin-block: 0;
  opacity: 0;
  overflow: hidden;
  padding-block: 0;

  // This transition cannot be converted to high performance animation since
  // the space that the announcement takes needs to be reclaimed and in order
  // to do that the height and padding-bottom need to be animated.
  /* stylelint-disable plugin/no-low-performance-animation-properties */
  transition:
    opacity linear $transition-a,
    height linear $transition-b $transition-a,
    padding linear $transition-b $transition-a,
    margin linear $transition-b $transition-a,
    visibility linear 0s #{$transition-a + $transition-b};
  visibility: hidden;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

// Add padding when announcement is present on front page without breadcrumb
.is-front:not(:has(.hds-breadcrumb)) .announcement:not(.js-announcement--hide) {
  margin-block-start: $spacing;
}
