<div class="social-media__items">
  {% set classes = ['social-media__item'] %}
  {% for key, element in elements %}
    {% set use_lang_attributes = alternative_language %}

    {% if element.url and element.img and element.text %}
      {% set link_title %}
        {% include "@hdbt/misc/icon.twig" with {icon: element.img, label: element.text } %}
      {% endset %}
      {% set link_attributes = {
        'class': classes|merge(element.classes),
        'title': element.text
      } %}
      {% if use_lang_attributes %}
        {% set link_attributes = link_attributes|merge({
          'dir': lang_attributes.fallback_dir,
          'lang': lang_attributes.fallback_lang
        }) 
        %}
      {% endif %}
      {{ link(link_title, element.url, create_attribute(link_attributes)) }}
    {% endif %}
  {% endfor %}
</div>
