parameters:
  fileExtensions:
      - php
      - module
      - install
      - theme
  paths:
    - ./
  excludePaths:
    - vendor
  level: 3
  treatPhpDocTypesAsCertain: false
  scanFiles:
    - ../../../core/themes/engines/twig/twig.engine
