includes:
	- phpstan-baseline.neon
parameters:
  fileExtensions:
      - php
      - module
      - install
      - theme
  paths:
    - ./
  excludePaths:
    - vendor (?)
  level: 7
  treatPhpDocTypesAsCertain: false
  scanFiles:
    - ../../../core/themes/engines/twig/twig.engine
