.toolbar .toolbar-bar,
.toolbar .toolbar-menu,
.toolbar-horizontal .toolbar-tray .toolbar-menu-administration > ul > .menu-item--expanded,
.toolbar-lining {
  --bg: #ff0000;
  --name: 'prod ';
  --bg: #ffda32;
  --name: 'stage';
  --bg: #0093ff; /*test*/
  --name: 'test ';
  --bg: #a3a3a3;
  --name: 'dev';
  --bg: #a3a3a3;
  --name: 'local ';
  box-shadow: inset 0 -4px 0 var(--bg); 
}

.toolbar-lining::before{
  background: var(--bg);
  bottom: 0;
  content: '';
  display: block;
  font-size: 14px;
  position: absolute;
  right:0em;
  top:0;
  width: 1.5em;
  z-index:2;
}

.toolbar-lining::after{
  color: black;
  content: var(--name);
  display: block;
  font-size: 14px;
  height: 1.5em;
  margin-top:-0.8em;
  padding:0.2em;
  position: absolute;
  right:0em;
  top:-0.75em;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  z-index:3;
}