{#
/**
 * @file
 * Theme for the TPR unit entity lower content block.
 *
 * @see template_preprocess_tpr_unit_lower_content()
 */
#}

{% set services_view = drupal_view_result('unit_services', 'unit_services')|length %}

{% if services_view > 0 %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
      'component--unit-services',
      'component--hardcoded',
    ]
    }
  %}
    {% block component_content %}
      <div class="unit__services">
        {{ drupal_view('unit_services', 'unit_services_listing') }}
      </div>
    {% endblock component_content %}
  {% endembed %}
{% endif %}

{% if content.accessibility_sentences|render %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
      'component--accordion',
      'component--accordion-bg-grey',
      'component--hardcoded',
      'component--tpr-unit',
    ],
      component_content_class: 'accordion',
    }
  %}
    {% block component_content %}

      {% set accordion_content %}

        {% embed "@hdbt/misc/component.twig" with { component_classes: [ 'component--paragraph-text' ] } %}
          {% block component_content %}
            {{ content.accessibility_sentences }}
          {% endblock component_content %}
        {% endembed %}

      {% endset %}

      {% include '@hdbt/component/accordion.twig' ignore missing with {
        heading_level: 'h2',
        heading_icon: 'person-wheelchair',
        heading: 'Accessibility information'|t,
        content: accordion_content,
      } %}

    {% endblock component_content %}
  {% endembed %}
{% endif %}
