{#
/**
 * @file
 * Theme for the TPR service entity important links block.
 *
 * @see template_preprocess_tpr_service_important_links()
 */
#}

{% if content.links|render %}
  <div class="sidebar-text sidebar-text--service-links has-title">
    <h2 class="sidebar-text__title">{{ 'Important links'|t }}</h2>
    <div class="sidebar-text__text-content">{{ content.links }}</div>
  </div>
{% endif %}
