.page-type--article {
  .node--type-article {
    .article-header__container {
      margin-bottom: $spacing-double;

      @include breakpoint($breakpoint-m) {
        margin-bottom: $spacing-triple;
      }

      > div {
        max-width: $content-width-max;

        @include breakpoint($breakpoint-m) {
          padding-left: $spacing-triple * 2;
        }
      }
    }

    .article__lead {
      @include font('lead');
      color: $color-black;
      margin-bottom: $spacing-and-half;
    }

    .article__author {
      @include font('small');
      color: $color-black-90;
      display: flex;

      .label {
        margin-right: $spacing-quarter;
      }
    }

    .article__date {
      @include font('small');
      color: $color-black-40;
      margin-bottom: $spacing;
    }

    .article__keywords {
      background: $color-silver-light;
      margin-top: $spacing-double;
      padding: $spacing-half 0 $spacing-double;

      @include breakpoint($breakpoint-m) {
        margin-top: $spacing-quadruple;
        padding: ($spacing-quadruple - $spacing-and-half) 0 $spacing-quadruple;
      }

      @include breakpoint($breakpoint-l) {
        margin-top: $spacing-triple;
      }

      .container {
        max-width: $content-area-wrapper-width-max;
      }

      &:last-child {
        // Make the keywords element go "under" the footer.
        margin-bottom: calc(-1 * (#{$footer-koro-height} + #{$spacing-triple}));
        padding-bottom: $spacing-double + $footer-koro-height;

        @include breakpoint($breakpoint-l) {
          padding-bottom: $spacing-quadruple + $footer-koro-height;
        }
      }

      .keywords__wrapper {
        margin-left: -#{$spacing-quarter};
        margin-right: -#{$spacing-quarter};
      }

      .label {
        @include font('h4');
        color: $color-black-90;
        margin: 0 $spacing-quarter $spacing-half;

        @include breakpoint($breakpoint-m) {
          margin: 0 $spacing-quarter $spacing;
        }
      }

      .keywords {
        display: flex;
        flex-flow: row wrap;

        a {
          @include font('small');
          background-color: $color-black;
          border-radius: $spacing-and-half;
          color: $color-white;
          margin: $spacing-quarter;
          padding: $spacing-half $spacing-double;
          text-decoration: none;
        }
      }
    }
  }
}
