.cookie-compliance--lead-in__container {
  max-width: $content-width-max;
  padding: 0;

  h1 {
    margin-bottom: $spacing-double;
    margin-top: 0;
  }
}

.cookie-compliance__container {
  max-width: $content-width-max;
  padding-left: 0;
  padding-right: 0;

  .cookie-selection-instruction {
    @include font-size(18px, 32px);
    border-bottom: 1px solid $color-black-20;
    display: flex;
    margin-top: $spacing-double;
    padding-bottom: $spacing-double;

    &:before {
      background-color: $color-black;
      background-size: contain;
      content: "";
      display: flex;
      height: $spacing-double;
      margin-right: $spacing-half;
      mask-image: url('../icons/hds/ui/info-circle.svg');
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: $spacing-double;
      min-width: $spacing-double;
    }

    p {
      margin-top: 0;
    }
  }

  .hds-checkbox {
    display: block;
    margin-top: $spacing-double;

    .hds-checkbox__label {
      @include font-size(22px, 26px);
      // Icon size + spacing.
      display: block;
      padding-left: calc(var(--size) + #{$spacing});
    }

    .hds-checkbox__input,
    .hds-checkbox__label {
      // Fix checkbox alignment.
      &::after,
      &::before {
        top: 3px;
      }
    }
  }

  .form-item:not(:last-of-type) {
    .description {
      border-bottom: 1px solid $color-black-20;
    }
  }

  .description {
    display: block;

    @include breakpoint($breakpoint-l) {
      padding-top: $spacing;
    }
  }

  .buttons {
    text-align: right;

    input {
      margin-bottom: $spacing-half;
    }
  }
}

.embedded-content-cookie-compliance {
  align-content: center;
  background-color: $color-black-5;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .message {
    background-color: $color-white;
    margin: $spacing;
    padding: $spacing;

    @include breakpoint($breakpoint-m) {
      margin: $spacing-quadruple;
      padding: $spacing-double;
    }

    > h2 {
      margin-top: 0;
      @include font-size(24px, 29px);
      font-weight: $font-weight-medium;
    }

    > .buttons {
      display: flex;
      flex-direction: column;
      margin-top: $spacing;

      @include breakpoint($breakpoint-m) {
        flex-direction: row;
      }

      > .hds-button {
        margin-top: $spacing;
        @include breakpoint($breakpoint-m) {
          margin-left: $spacing;
          margin-top: 0;
        }
      }

      > .hds-button:first-child {
        margin-left: 0;
        margin-top: 0;
      }
    }

    .hds-button__label {
      padding: $spacing-quarter;
    }
  }

  .hds-button {
    max-width: 400px;
    width: 100%;

    &:not(:disabled):focus {
      border-color: $color-black;

      &:after {
        border-color: $color-black;
      }
    }
  }

  .hds-button--primary {
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;

    &:hover {
      &:focus {
        background-color: $color-black;
      }
    }
  }

  .hds-button--secondary {
    border-color: $color-black;
    color: $color-black;

    &:hover {
      background-color: $color-black;
      color: $color-white;

      &:focus {
        color: $color-white;
      }
    }
  }
}
