.cookie-compliance--lead-in__container {
  @include components-container-max-width();
  @include component-side-padding();
  padding-top: 0;

  h1 {
    margin-bottom: $spacing-double;
    margin-top: 0;
  }
}

.cookie-compliance-block {
  .cookie-selection-instruction {
    @include font-size(18px, 32px);
    border-bottom: 1px solid $color-black-20;
    display: flex;
    margin-top: $spacing-double;
    padding-bottom: $spacing-double;

    &:before {
      @include pseudo-icon('info-circle', $spacing-double, $color-black, flex);
      margin-right: $spacing-half;
    }

    p {
      margin-top: 0;
    }
  }

  .hds-checkbox {
    display: block;
    margin-top: $spacing-double;

    .hds-checkbox__label {
      @include font-size(22px, 26px);
      // Icon size + spacing.
      display: block;
      padding-left: calc(var(--size) + #{$spacing});
    }

    .hds-checkbox__input,
    .hds-checkbox__label {
      // Fix checkbox alignment.
      &::after,
      &::before {
        top: 3px;
      }
    }
  }

  .form-item:not(:last-of-type) {
    .description {
      border-bottom: 1px solid $color-black-20;
    }
  }

  .description {
    display: block;

    @include breakpoint($breakpoint-l) {
      padding-top: $spacing;
    }
  }

  .buttons {
    input {
      margin-bottom: $spacing-half;
    }
  }
}

.cookie-compliance--lead-in__container,
.cookie-compliance-block {
  p {
    max-width: $content-width-max;
  }
}

.embedded-content-cookie-compliance,
.react-and-share-cookie-compliance {
  align-content: center;
  align-items: center;
  background-color: $color-black-5;
  display: flex;
  justify-content: center;

  .map &,
  .remote-video & {
    aspect-ratio: 16 / 9; // Best guess for content size
  }

  .message {
    background-color: $color-white;
    margin: $spacing;
    max-width: $spacing + $content-width-max + $spacing; // paragraphs inside will max-width: content-widh-max
    padding: $spacing;

    @include breakpoint($breakpoint-m) {
      margin: $spacing-quadruple;
      max-width: $spacing-double + $content-width-max + $spacing-double; // paragraphs inside will max-width: content-widh-max
      padding: $spacing-double;
    }

    .hel-icon {
      --icon-size: #{$spacing-and-half};
    }

    h2 {
      margin-top: 0;
      @include font('h4');
    }

    .buttons {
      display: flex;
      flex-direction: column;
      margin-top: $spacing;

      @include breakpoint($breakpoint-m) {
        flex-direction: row;
      }
    }

    .hds-button--primary,
    .hds-button--secondary {
      @include font('button');
    }

    .hds-button--primary {
      --background-color: var(--color-black-90);
      --background-color-hover: var(--color-white);
      --background-color-focus: var(--color-black-90);
      --background-color-hover-focus: var(--color-white);
      --background-color-disabled: var(--color-black-20);
      --border-color: var(--color-black-90);
      --border-color-hover: var(--color-black);
      --border-color-focus: var(--color-black-90);
      --border-color-hover-focus: var(--color-black-90);
      --border-color-disabled: var(--color-black-20);
      --color: var(--color-white);
      --color-hover: var(--color-black-90);
      --color-focus: var(--color-white);
      --color-hover-focus: var(--color-black-90);
      --color-disabled: var(--color-white);
      --focus-outline-color: var(--color-black-90);
      --submit-input-focus-gutter-color: var(--color-white);
    }

    .hds-button--secondary {
      --background-color: transparent;
      --background-color-hover: var(--color-black-90);
      --background-color-focus: transparent;
      --background-color-hover-focus: var(--color-black-90);
      --background-color-disabled: transparent;
      --border-color: var(--color-black-90);
      --border-color-hover: var(--color-black-90);
      --border-color-focus: var(--color-black-90);
      --border-color-hover-focus: var(--color-black-90);
      --border-color-disabled: var(--color-black-50);
      --color: var(--color-black-90);
      --color-hover: var(--color-white);
      --color-focus: var(--color-black-90);
      --color-hover-focus: var(--color-white);
      --focus-outline-color: var(--color-black-90);
    }

    .hds-button {
      margin-top: $spacing;
      max-width: 400px; // To avoid too long buttons.

      @include breakpoint($breakpoint-m) {
        margin-left: $spacing;
        margin-top: 0;
      }

      &:first-child {
        margin-left: 0;
        margin-top: 0;
      }
    }

    .hds-button__label {
      padding: $spacing-quarter;
    }
  }
  .layout-main-wrapper &:last-child .message {
    margin-bottom: 80px;
  }
}
.react-and-share-cookie-compliance {
  .message {
    background-color: transparent;
    padding: 0;
  }
}
