.quote {
  @extend .highlighted;
}

.quote__text {
  font-style: italic;
  margin-top: 0;

  &::before {
    content: "”"; // Defaults to finnish quotation syntax https://jkorpela.fi/suomi/lain.html
  }

  &[lang='en']::before,
  [lang='en'] &::before {
    content: "“"; // Uses english format when appropriate
  }

  &::after {
    content: "”";
  }
}

.quote__author {
  @include font-size(18px, $lineheight-l);
  margin-top: $spacing-and-half;

  &::before {
    content: "-";
    margin-right: 3px;
  }
}
