$teaser-icon-size-mobile: 32px;
$teaser-icon-size-desktop: 48px;

.service {
  .service__title {
    margin-bottom: $spacing-and-half;
    margin-top: 0;
  }

  .service__short-desc {
    @include font-size(24px, 32px);
    padding-bottom: $spacing-half;
    position: relative;
  }

  .service__divider {
    background-color: $color-black;
    display: block;
    height: 2px;
    margin-bottom: $spacing-triple;
    margin-top: $spacing-double;
    width: $spacing-quadruple;
  }

  .service__long-desc {
    @include font-size(20px, 32px);

    p:first-child {
      margin-top: 0;
    }
  }

  .service-header__container {
    @include breakpoint($breakpoint-l) {
      display: flex;
      flex-wrap: wrap;
    }

    &.has-navigation {
      .service__header {
        order: 2;
        padding-right: 0;

        @include breakpoint($breakpoint-l) {
          padding-left: $spacing-double;
        }

        @include breakpoint($breakpoint-xl) {
          padding-left: $spacing-triple;
        }
      }

      .service__sidebar {
        margin-top: $spacing-double;
        order: 1;
        padding-left: 0;

        @include breakpoint($breakpoint-l) {
          margin-top: 0;
          padding-right: $spacing-double;
        }

        @include breakpoint($breakpoint-xl) {
          padding-left: $spacing;
          padding-right: $spacing-triple;
        }
      }
    }

    .service__header {
      @include breakpoint($breakpoint-l) {
        padding-right: $spacing-double;
        width: 68%;
      }

      @include breakpoint($breakpoint-xl) {
        padding-right: $spacing-triple;
      }
    }
    .service__sidebar {
      margin-top: $spacing-double;

      @include breakpoint($breakpoint-l) {
        margin-top: 0;
        padding-left: $spacing-double;
        width: 32%;
      }

      @include breakpoint($breakpoint-xl) {
        padding-left: $spacing-triple;
        padding-right: $spacing;
      }
    }
  }

  .service__units {
    @include component-margin-top();
  }
}

.main-content:last-child .service.service--full {
  .component--service-units:last-child {
    // Make the keywords element go "under" the footer.
    margin-bottom: calc(-1 * (#{$footer-koro-height} + #{$spacing-quadruple}));
    padding-bottom: $spacing-triple + $footer-koro-height;

    @include breakpoint($breakpoint-l) {
      padding-bottom: $spacing-quadruple + $footer-koro-height;
    }
  }
}

.service.service--teaser {
  @include breakpoint($breakpoint-l) {
    height: 100%;
    margin-left: calc(#{$spacing-and-half} / 2);
    margin-right: calc(#{$spacing-and-half} / 2);
  }

  .service__link {
    border: 1px solid $color-black;
    display: block;
    height: 100%;
    margin-top: $spacing-half;
    padding: $spacing-and-half calc(#{$spacing-and-half} + #{$teaser-icon-size-mobile} + #{$spacing}) $spacing-and-half $spacing-and-half;
    position: relative;
    text-decoration: none;

    @include breakpoint($breakpoint-l) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 0; // Remove extra space under the arrow icon on larger card
      margin-top: 0;
      min-height: 240px; // As in designs
      padding: $spacing-double $spacing-and-half calc(#{$spacing-and-half} + #{$spacing-and-half});
    }

    &:before {
      background-color: var(--hdbt-color-gold--primary);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: $spacing-half;

      @include breakpoint($breakpoint-l) {
        bottom: 0;
        height: $spacing-and-half;
        right: 0;
        top: auto;
        width: 100%;
      }
    }

    &:hover {
      .icon {
        margin-left: $spacing;
      }
    }
  }

  .service__title {
    @include font-size(20px, 22px);
    font-weight: 500;
    margin: 0;

    @include breakpoint($breakpoint-l) {
      @include font-size(24px, 28px);
    }
  }

  .icon {
    bottom: 50%;
    height: $teaser-icon-size-mobile;
    left: auto;
    position: absolute;
    right: $spacing;
    transform: translateY(50%);
    transition: all .3s;
    width: $teaser-icon-size-mobile;

    @include breakpoint($breakpoint-l) {
      height: $teaser-icon-size-desktop;
      margin-top: $spacing-and-half;
      position: static;
      right: auto;
      transform: none;
      width: $teaser-icon-size-desktop;
    }
  }
}

.service--units__container {
  margin-bottom: $spacing-quadruple;
  margin-top: $spacing-quadruple;
}

.component--service-units {
  background-color: $color-black-5;
  padding-bottom: $spacing-sextuple;
  padding-top: $spacing-sextuple;

  .service__units__header {
    display: block;
  }

  .service__units__title {
    margin-top: 0;
  }

  .service__units__count-container {
    @include font-size(24px, 30px);
    display: block;
    margin-top: $spacing;
    white-space: nowrap;

    .service__units__count {
      font-weight: 700;
    }
  }

  .service__units__list {
    margin-top: $spacing-and-half;
  }

  .service__units__pager {
    list-style: none;
    margin: $spacing-quadruple 0 0;
    padding: 0;
  }

  .service__units__pager-button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .service__units__pager-button {
      text-decoration: none;
    }

    .hds-button {
      --background-color: transparent;
      --background-color-hover: var(--color-black-10);
      --background-color-focus: transparent;
      --background-color-hover-focus: var(--color-black-10);
      --background-color-disabled: transparent;
      --border-color: var(--hdbt-color-black);
      --border-color-hover: var(--hdbt-color-black);
      --border-color-focus: var(--hdbt-color-black);
      --border-color-hover-focus: var(--hdbt-color-black);
      --border-color-disabled: var(--hdbt-color-black);
      --color: var(--hdbt-color-black);
      --color-hover: var(--hdbt-color-black);
      --color-focus: var(--hdbt-color-black);
      --color-hover-focus: var(--hdbt-color-black);
      --focus-outline-color: var(--hdbt-color-black);
    }
  }
}
