.node--type-service {
  .service__title {
    margin-bottom: $spacing-and-half;
  }

  .service__short-desc {
    @include font-size(24px, 32px);
    padding-bottom: $spacing-half;
    position: relative;
  }

  .service__divider {
    background-color: $color-black;
    display: block;
    height: 2px;
    margin-bottom: $spacing-triple;
    margin-top: $spacing-double;
    width: $spacing-quadruple;
  }

  .service__long-desc {
    @include font-size(20px, 32px);

    p:first-child {
      margin-top: 0;
    }
  }
}

.node--type-service--with-hero {
  .service__title {
    margin-top: $spacing-double;
  }

  .container {
    padding-top: 0;
  }
}
