$teaser-icon-size: 48px;

.node--type-service {
  .service__title {
    margin-bottom: $spacing-and-half;
  }

  .service__short-desc {
    @include font-size(24px, 32px);
    padding-bottom: $spacing-half;
    position: relative;
  }

  .service__divider {
    background-color: $color-black;
    display: block;
    height: 2px;
    margin-bottom: $spacing-triple;
    margin-top: $spacing-double;
    width: $spacing-quadruple;
  }

  .service__long-desc {
    @include font-size(20px, 32px);

    p:first-child {
      margin-top: 0;
    }
  }
}

.node--type-service--with-hero {
  .service__title {
    margin-top: $spacing-double;
  }

  .container {
    padding-top: 0;
  }
}

.node--type-service--teaser {
  background-color: $color-white;

  .service__link {
    display: block;
    padding: $spacing-double $spacing ($spacing + $teaser-icon-size + $spacing);
    position: relative;
    text-decoration: none;

    &:hover {
      .icon {
        margin-left: $spacing;
      }
    }
  }

  .service__title {
    @include font-size(22px, 22px);
    margin: 0;
  }

  .service__short-desc {
    color: $color-black-50;
    margin-top: $spacing-half;
  }

  .icon {
    bottom: $spacing;
    height: $teaser-icon-size;
    left: $spacing;
    position: absolute;
    transition: all .3s;
    width: $teaser-icon-size;
  }
}
