.node--type-unit {
  .unit__title {
    margin-bottom: $spacing-and-half;
  }

  .unit__short-desc {
    @include font-size(24px, 32px);
    margin-bottom: $spacing-triple;
    padding-bottom: $spacing-triple - $spacing-quarter;
    position: relative;

    &::after {
      background-color: $color-black;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: $spacing-quadruple;
    }
  }

  .unit__long-desc {
    @include font-size(20px, 32px);

    p:first-child {
      margin-top: 0;
    }
  }

  .unit__image {
    line-height: 0;
    margin-bottom: $spacing-quadruple;
    max-width: 690px;

    img {
      max-width: 100%;
    }
  }
}

.node--type-unit--with-hero {
  .unit__title {
    margin-top: $spacing-double;
  }

  .container {
    padding-top: 0;
  }
}
