.hakuvahti-confirmation {
  .page-divider + .components {
    @include breakpoint($breakpoint-l) {
      margin-top: $spacing-quadruple;
    }
  }

  p {
    @include font('body');
  }

  p:first-child {
    margin-top: 0;
  }

  .hakuvahti-form__field {
    margin-top: $spacing-double;
  }

  .hakuvahti-form__field + .hakuvahti-form__field {
    margin-top: $spacing-and-half;
  }

  .form-actions {
    margin-top: $spacing-and-half;
  }

  .form-submit {
    @include form-submit-defaults;
  }
}
