$search-button-size: 52px;
$search-input-border-size: 2px;

.hds-search-input__label,
.hds-search-input__helper-text,
.hds-search-input__helper-text-link {
  color: $color-black-90;
}

.hero--with-search {
  .hds-search-input__label,
  .hds-search-input__helper-text,
  .hds-search-input__helper-text-link {
    color: var(--hdbt-color-palette-text--primary);
  }

  .hds-search-input__input-wrapper {
    width: 345px; // As in designs. 
  }
}

.hds-search-input {
  width: 100%;
  
  .hds-search-input__input {
  // Space for two buttons inside the input container.
  padding-inline-end: calc($search-button-size * 2);

    &:not([readonly]):focus,
    &:not([readonly]):active {
      outline-color: var(--hdbt-color-palette-text--primary);
      outline-offset: 2px;
    }

  // Hide the gradient for text overflow when the user is writing on the input.
  &:focus + .hds-search-input__buttons .hds-search-input__button--clear::before {
    display: none;
  }
}
}

.hds-search-input__buttons {
  height: $search-button-size;
  margin-right: 0;
  right: $search-input-border-size;
  top: $search-input-border-size;

  .hds-search-input__button {
    align-items: center;
    height: $search-button-size;
    justify-content: center;
    position: relative;
    width: $search-button-size;
    
    &:focus {
      outline-color: $color-black-90;
      outline-offset: -5px;
    }
  }
}

// HDS search input elements get their icons using the i-tag
// but we don't use them so we add a class to the buttons 
// and add pseudo-icons instead.
.hds-search-input__button {
  &.hds-search-input__button--search {  
    &::after {
      @include pseudo-icon('search');
    }
    
    // Border between the buttons inside the input.
    &::before {
      background-color: var(--color-black-20);
      bottom: 0;
      content: "";
      left: -1px;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }

  &.hds-search-input__button--clear {
    &::after {
      @include pseudo-icon('cross-circle');
    }

    // Gradient to fade text overflow.
    &::before {
      @include input-overflow-gradient;
    }
  }
}

// Override default spacing.
.hds-search-input__helper-text {
  margin-block-start: $spacing;
}
