.profile {
  @include font('special.navigation.icon_label');
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  .hel-icon {
    --icon-size: 24px;
    margin-bottom: $spacing-half;

    @include breakpoint($breakpoint-l) {
      --icon-size: 28px;
    }
  }
}

.profile__login-link {
  @include font('special.navigation.icon_label');
  align-items: center;
  border-left: 1px solid $color-black-20;
  display: flex;
  flex-direction: column;
  grid-area: profile;

  // This moves the profile-block element so that it is attached to the right side of the page.
  // Without it, there will be gap the width of gutter.
  grid-column-end: -1;
  justify-content: center;
  margin-left: $spacing;
  padding-left: $spacing-quarter;
  padding-right: $spacing-quarter;
  text-decoration: none;
  text-overflow: ellipsis;
  width: var(--branding-height); // Same as the height of the branding header.
  z-index: 1;

  &::before {
    --icon-size: 22px;

    @include pseudo-icon('user', var(--icon-size), currentColor, block);
    margin-bottom: $spacing-quarter;

    @include breakpoint($breakpoint-m) {
      --icon-size: 28px;
    }
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: remify(2px);
  }

  &:focus {
    outline: 3px solid $color-black;
    outline-offset: -3px;
  }
}

.profile__logout-link {
  @include font('body');
  border-block: 1px solid $color-black-20;
  display: block;
  font-weight: bold;
  padding: $spacing;
  text-decoration: none;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    border-bottom: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: remify(2px);
  }

  &:focus {
    outline: 3px solid $color-black;
    outline-offset: -3px;
  }

  &::after {
    @include pseudo-icon('signout');
    margin-left: $spacing-half;
  }
}

.profile--full {
  background-color: $color-white;
  border-bottom: 1px solid $color-black-20;
  color: $color-black;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    border-inline: 1px solid $color-black-20;
    max-width: 300px; // As designed.
    pointer-events: all;
  }
}

.profile__information {
  padding: $spacing;
}

.profile__full-name {
  @include font('body');
  display: block;
}

.profile__email {
  @include font('small');
  display: block;
}

.nav-toggle--profile {
  background-color: $color-black;
  color: $color-white;
  grid-area: profile;

  // This moves the profile-block element so that it is attached to the right side of the page.
  // Without it, there will be gap the width of gutter.
  grid-column-end: -1;
  justify-content: center;
  margin-left: $spacing-half;
  width: 65px; // As designed
  z-index: 1;

  @include breakpoint($breakpoint-m) {
    max-width: 88px; // As designed.
    min-width: 72px; // As designed.
    width: auto;
  }
}

.nav-toggle__anchor--profile,
.nav-toggle__button--profile {
  height: 100%;
  min-width: 100%;
}

.nav-toggle__label--profile {
  color: $color-white;
  height: 100%;
  padding-left: $spacing-half;
  padding-right: $spacing-half;

  span {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &::before {
    --icon-size: 22px;

    @include pseudo-icon('user', var(--icon-size), currentColor, block);
    margin-bottom: $spacing-quarter;

    @include breakpoint($breakpoint-m) {
      --icon-size: 28px;
    }
  }

  &.nav-toggle__label--close::before {
    @include pseudo-icon-replace('cross');
    margin-bottom: 0;
  }
}

.nav-toggle__label--profile:focus,
.nav-toggle__button--profile:focus {
  outline: 2px solid $color-white;
  outline-offset: -5px;
}

.nav-toggle-dropdown--profile {
  grid-area: menu;

  .nav-toggle-dropdown__content {
    @include breakpoint($breakpoint-l) {
      display: flex;
      justify-content: flex-end;
      pointer-events: none;
    }
  }
}

#profile[data-target='true'] {
  & ~ * .nav-toggle-dropdown--profile .nav-toggle-dropdown__content {
    @include breakpoint($breakpoint-l) {
      display: flex;
    }
  }
}
