// System messages.
.hds-notification {
  margin-bottom: $spacing;
}

// Style the unordered lists inside notification body.
.hds-notification__body {
  .messages__list {
    margin-block: 0;
  }

  .messages__list__item:not(:first-child) {
    margin-top: $spacing-half;
  }
}
