// System messages.
.hds-notification {
  margin-bottom: $spacing;
}

.hds-notification__label {
  .hel-icon {
    --icon-size: 24px;
    margin-right: $spacing-half;
  }
}

.messages__container {
  padding-top: 0;
}
