@mixin rotating-icon-transition() {
  transition: transform 0.2s ease-in;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

@mixin hover-link-arrow-transition() {
  transition: transform 0.2s linear;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

@mixin hover-external-arrow-transition() {
  transition: mask-position 0.2s linear;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}
