@mixin navigation_link_defaults() {
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline 2px;
  }

  &[aria-current='page'],
  &[aria-current='true'] {
    font-weight: $font-weight-bold;
  }
}
