// Renders font styles based on design tokens
@mixin font($style) {
  // Show debug information in browser inspector tools when run with `npm run dev`
  @if $debug_mode {
    /* stylelint-disable-next-line custom-property-pattern */
    --DEBUG-FONT-TOKEN: '#{$style}';
  }

  $-path: 'font.#{$style}';

  --line-height: #{get('#{$-path}.line-height')}; // This --line-height is used for setting the default icon size
  font-size: get('#{$-path}.font-size');
  font-weight: get('#{$-path}.font-weight');
  line-height: var(--line-height);

  @if get-check('#{$-path}.letter-spacing') {
    letter-spacing: get('#{$-path}.letter-spacing'); // Conditional letter-spacing
  }

  @if get-check('#{$-path}.breakpoint_m') {
    @include breakpoint($breakpoint-m) {
      --line-height: #{get('#{$-path}.breakpoint_m.line-height')};
      font-size: get('#{$-path}.breakpoint_m.font-size');
      font-weight: get('#{$-path}.breakpoint_m.font-weight');

      @if get-check('#{$-path}.breakpoint_m.letter-spacing') {
        letter-spacing: get('#{$-path}.breakpoint_m.letter-spacing'); // Conditional for medium breakpoint
      }
    }
  }

  @if get-check('#{$-path}.breakpoint_l') {
    @include breakpoint($breakpoint-l) {
      --line-height: #{get('#{$-path}.breakpoint_l.line-height')};
      font-size: get('#{$-path}.breakpoint_l.font-size');
      font-weight: get('#{$-path}.breakpoint_l.font-weight');

      @if get-check('#{$-path}.breakpoint_l.letter-spacing') {
        letter-spacing: get('#{$-path}.breakpoint_l.letter-spacing'); // Conditional for large breakpoint
      }
    }
  }
}

// Adds heading related hyphens settings, useful when you want to fake certaing heading style
@mixin heading-hyphens() {
  hyphens: auto;
  overflow-wrap: break-word;
}
