{%
  set classes = [
    'phasing__item',
    show_numbers ? 'phasing__item--with-numbers'
  ]
%}

{% block paragraph %}
  <li{{ attributes.addClass(classes) }}>
    <p class="phasing__item-title">
      {{ content.field_title}}
    </p>
    {% if content.field_description|render %}
      <div class="phasing__item-description">
        {{ content.field_description}}
      </div>
    {% endif %}
  </li>
{% endblock paragraph %}

