{{ attach_library('hdbt/news-archive') }}
{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
      'component--full-width',
      'component--react-search',
      'component--news-archive',
    ],
      component_title: content.field_news_archive_title,
      component_description: content.field_news_archive_desc,
      component_content_class: 'news-archive',
    }
  %}
    {% block component_content %}
      <div id="helfi-etusivu-news-search">
        {{ drupal_view('news_archive_index', 'news_archive_index_block') }}
      </div>
    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
