{% set design = content.field_accordion_design.0|first|clean_class %}
{% set accordion_title_level = paragraph.getTitleLevel() %}

{% set header_class = null %}
{% if not content.field_accordion_title|render and not content.field_accordion_description|render  %}
  {% set header_class = 'component--no-header' %}
{% endif %}

{% if design == 'white'  %}
  {% set design_class = 'component--accordion-bg-white' %}
{% elseif design == 'grey' %}
  {% set design_class = 'component--accordion-bg-grey' %}
{% endif %}

{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
        'component--accordion',
        design_class,
        header_class,
      ],
      component_title_level: 'h' ~ accordion_title_level,
      component_title: content.field_accordion_title,
      component_description: content.field_accordion_description,
      component_content_class: 'accordion',
    }
  %}
    {% block component_content %}
      <button type="button" class="accordion-item__button js-accordion__button--toggle-all accordion__button--is-open is-hidden">
        <span {{ alternative_language ? create_attribute(({ 'lang': lang_attributes.fallback_lang, 'dir': lang_attributes.fallback_dir })) }}>{{ 'Open all'|t({}, {'context': 'Accordion open all'}) }}</span>
      </button>

      {{ content.field_accordion_items }}

    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
