{{ attach_library('hdbt/district-and-project-search') }}
{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
        'component--full-width',
        'component--react-search',
        'component--district-and-project-search',
      ],
      component_title: content.field_district_project_title,
      component_description: content.field_district_project_desc,
      component_content_class: 'district-and-project-search',
    }
  %}
    {% block component_content %}
      <div id="helfi-kymp-district-project-search">
        <noscript>
          {% trans with {'context': 'Generic javascript required message'} %}
            This content requires JavaScript. Your browser doesn't support JavaScript or it is disabled. Please check your browser settings and try again.
          {% endtrans %}
        </noscript>
      </div>
    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
