{{ attach_library('hdbt/event-list') }}
{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
      'component--full-width',
      'component--react-search',
      'component--event-list',
      ],
      component_title_level: 'h2',
      component_title: content.field_event_list_title,
      component_description: content.field_event_list_description,
      component_content_class: 'event-list',
    }
  %}
    {% block component_content %}
      {# Hook React app to this div #}
      <div
        id="helfi-events-search"
        data-paragraph-id="{{ paragraph.id() }}"
      >
      </div>
      {# Indicate JS not enabled #}
      <noscript>
        <div class="event-list__javascript-disabled">
          {{ 'You must enable JavaScript in your browser for event list to work'|t }}
        </div>
      </noscript>
    {% endblock %}
  {% endembed %}
{% endblock %}
