{% set title = content.field_title %}
{# Check if title field is empty, ignore html comments, non-breaking spaces (&nbsp; and character) and whitespace. #}
{% if not content.field_title|render|striptags|replace({"&nbsp;":" "," ":" "})|trim  %}
  {% set title = 'Recommended events'|trans({}, {'context': 'Curated event list title'}) %}
{% endif %}
{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
      'component--full-width',
      'component--curated-event-list',
      ],
      component_title_level: 'h2',
      component_title: title,
      component_description: content.field_description,
    }
  %}
    {% block component_content %}
      <div class="curated-event-list">
        {{ content.events_list }}
        <div class="see-all-button see-all-button--near-results">
          {% include '@hdbt/navigation/link-button.html.twig' with {
            label: content.field_all_events_link.0['#title'],
            open_in_a_new_window: content.field_all_events_link.0.options.target_new,
            type: 'primary',
            url: content.field_all_events_link.0['#url'],
          } %}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
