{%
  set classes = [
  'component',
  'component--content-liftup'
]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="component__container">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
