{% block paragraph %}

  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
      'component--hearings',
    ],
      component_title_level: 'h2',
      component_title: content.field_hearings_title,
      component_description: content.field_hearings_description,
      component_content_class: 'hearings',
    }
  %}
    {% block component_content %}
      {% if content.list %}
        {% set hearings_count = content.list[0]['#helfi_hearings'].get('count')[0].value %}
        <section class="hearings__results">
          <div class="hearings__count-container">
            <span class="hearings__count">{{ hearings_count }}</span>
            {% trans with {'context': 'Hearings count'}%}hearing open for commenting{% plural hearings_count %}hearings open for commenting{% endtrans %}
          </div>
          {{ content.list }}
        </section>
        {% include '@hdbt/navigation/link-button.html.twig' with {
          type: 'primary',
          label: 'See all hearings'|t({},{'context': 'See all hearings link text'}),
          url: 'https://kerrokantasi.hel.fi/hearings/list?lang=' ~ current_langcode,
        } %}
      {% else %}
        <section class="hearings__results">
          <p>{{ "At the moment there is no open hearings for commenting."|t }}</p>
        </section>
        {% include '@hdbt/navigation/link-button.html.twig' with {
          type: 'primary',
          label: 'See all already closed hearings'|t({},{'context': 'See closed hearings link text'}),
          url: 'https://kerrokantasi.hel.fi/hearings/list?lang=' ~ current_langcode,
        } %}
      {% endif %}
    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
