{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [ 'component--gallery' ],
      component_content_class: 'gallery',
    }
  %}
    {% block component_content %}
      <div class="gallery__main splide">
        <div class="gallery__slides splide__track">
          <ul class="splide__list">
            {{ content }}
          </ul>
        </div>
      </div>
      <div class="gallery__slide-count"></div>
      <div class="gallery__thumbnails js-gallery__thumbnails">
        <ul class="gallery__thumbnails__list">
          {% for key, image in gallery_slide_thumbnails %}
            {% set gallery_thumbnails_item = create_attribute({'class': 'gallery__thumbnails__item'}).setAttribute('role', 'button').setAttribute('tabindex', '0') %}
            <li{{ gallery_thumbnails_item }}>
              {{ drupal_image(image.gallery_slide.uri.value, 'gallery_thumbnail', { alt: image.gallery_slide_caption, width: '200', height: '200' }, responsive=true) }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
