{% set title = content.field_list_of_links_title.0 %}
{% set design = content.field_list_of_links_design.0|first|clean_class %}

{# By default list-of-links has only image visible, editor can choose to hide image (and show description) or hide both #}
{% set design_class = null %}
{% if design == 'without-image' %}
  {% set design_class = 'component--list-of-links-without-image' %}
{% elseif design == 'without-image-desc' %}
  {% set design_class = 'component--list-of-links-without-image-desc' %}
{% endif %}

{%
  set classes = [
    'component',
    'component--list-of-links',
    design_class,
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="component__container">
      {% if title|render %}
        <h2 class="component__title">{{ title }}</h2>
      {% endif %}
      <div class="component__content list-of-links">
        {{ content|without('field_list_of_links_design', 'field_list_of_links_title') }}
      </div>
    </div>
  </div>
{% endblock paragraph %}
