{% set title = content.field_content_cards_title.0 %}
{% set design = content.field_content_cards_design.0|first|clean_class %}

{% set has_koro = false %}
{% if design == 'small-cards' %}
  {% set design_class = 'component--content-cards-small' %}
{% elseif design == 'large-cards' %}
  {% set design_class = 'component--content-cards-large' %}
{% elseif design == 'small-cards-grey' %}
  {% set design_class = 'component--content-cards-small component--content-cards-grey' %}
  {% set has_koro = true %}
{% elseif design == 'large-cards-grey' %}
  {% set design_class = 'component--content-cards-large component--content-cards-grey' %}
  {% set has_koro = true %}
{% else %}
  {% set design_class = null %} {# This should not happen #}
{% endif %}

{%
  set classes = [
    'component',
    'component--content-cards',
    design_class,
    has_koro ? 'component--has-koro',
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if has_koro %}
      {% include '@hdbt/misc/koro.twig' with {koro: koro, flip: true } %}
    {% endif %}
    <div class="component__container">
      {% if title %}
        <h2 class="component__title">{{ title }}</h2>
      {% endif %}
      <div class="component__content content-cards">
        {{ content|without('field_content_cards_design', 'field_content_cards_title') }}
      </div>
    </div>
  </div>
{% endblock paragraph %}
