{%
  set classes = [
    'component',
    'component--paragraph-text',
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="component__container">
      <div class="component__content">
        {{ content }}
      </div>
    </div>
  </div>
{% endblock paragraph %}
