{%
  set classes = [
    'component',
    'component--remote-video',
  ]
%}

{% set video = content.field_remote_video %}

{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [ 'component--remote-video' ],
      component_content_class: 'remote-video',
    }
  %}
    {% block component_content %}

      <div class="responsive-video-container">
        {{ video }}
      </div>

    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
