{%
  set classes = [
    'component',
    'component--remote-video',
  ]
%}

{% set video = content.field_remote_video %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="component__container">
      <div class="component__content remote-video">
        <div class="responsive-video-container">
          {{ video }}
        </div>
      </div>
    </div>
  </div>
{% endblock paragraph %}
