{% block paragraph %}
  <div class="image-gallery__item">
    {{content.field_gallery_image}}
    <div class="image-gallery__item-meta">
      {{ gallery_image_description }}
    </div>
  </div>
{% endblock paragraph %}