{% set design = content.field_liftup_with_image_design[0]['#markup'] %}

{% if design == 'image-on-right' %}
  {% set design_class = 'component--liftup-with-image-img component--liftup-with-image-img-on-right' %}
{% elseif design == 'image-on-left' %}
  {% set design_class = 'component--liftup-with-image-img component--liftup-with-image-img-on-left' %}
{% elseif design == 'image-on-right-secondary' %}
  {% set design_class = 'component--liftup-with-image-img component--liftup-with-image-img-on-right component--liftup-with-image-secondary' %}
{% elseif design == 'image-on-left-secondary' %}
  {% set design_class = 'component--liftup-with-image-img component--liftup-with-image-img-on-left component--liftup-with-image-secondary' %}
{% elseif design == 'background-text-on-right' %}
  {% set design_class = 'component--liftup-with-image-bg component--liftup-with-image-img-on-left' %}
{% elseif design == 'background-text-on-left' %}
  {% set design_class = 'component--liftup-with-image-bg component--liftup-with-image-img-on-right' %}
{% else %}
  {% set design_class = null %} {# This should not happen #}
{% endif %}

{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
        'component--liftup-with-image',
        design_class,
      ],
      component_content_class: 'liftup-with-image',
    }
  %}
    {% block component_content %}

      {% if content.field_liftup_with_image_image|render %}
        <div class="liftup-with-image__image">
          {{ content.field_liftup_with_image_image }}
        </div>
      {% endif %}
      <div class="liftup-with-image__container">
        <div class="liftup-with-image__content">
          <h2 class="liftup-with-image__title">{{ content.field_liftup_with_image_title }}</h2>
          {% if content.field_liftup_with_image_desc|render %}
            <div class="liftup-with-image__desc">{{ content.field_liftup_with_image_desc }}</div>
          {% endif %}
        </div>
      </div>

    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
