{{ attach_library('hdbt/job-search') }}
{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [ 'component--job-listing-search'],
      component_title: content.field_job_search_title,
      component_description: content.field_job_search_desc,
      component_content_class: 'job-listing-search',
    }
  %}
    {% block component_content %}
      <div id="helfi-rekry-job-search">
        <noscript>
          {% trans with {'context': 'Generic javascript required message'} %}
            This content requires JavaScript. Your browser doesn't support JavaScript or it is disabled. Please check your browser settings and try again.
          {% endtrans %}
        </noscript>
      </div>
    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
