{% block paragraph %}
	{% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [ 'component--news-list' ],
      component_title: content.field_news_list_title,
      component_description: content.field_news_list_description,
    }
  %}
    {% block component_tags %}
      {% include "@hdbt/module/helfi_node_news_item/news-tags.twig" with
        {
          tag_container_class: 'content-tags--card component__tags',
          tags: content.field_helfi_news_groups,
          neighbourhoods: content.field_helfi_news_tags,
          groups: content.field_helfi_news_neighbourhoods
        }
      %}
    {% endblock %}

		{% block component_content %}
      <ul class="news-listing news-listing--latest-medium-teasers">
        {{ content.news_list }}
      </ul>

			{% set link_title %}
        {% if content.field_helfi_news_groups|render or content.field_helfi_news_tags|render or content.field_helfi_news_neighbourhoods|render %}
			    <span class="hds-button__label">{{ 'See all related news'|t({}, {'context' : 'News list paragraph see all related news link'}) }}</span>
        {% else %}
			    <span class="hds-button__label">{{ 'See all the news'|t({}, {'context' : 'News list paragraph see all news link'}) }}</span>
        {% endif %}
			{% endset %}

			{% set link_attributes = {
        'class': [
          'hds-button',
          'hds-button--primary',
        ]
      } %}

			{{ link(link_title, news_archive_url, link_attributes) }}

		{% endblock component_content %}
	{% endembed %}
{% endblock paragraph %}
