{{ attach_library('hdbt/news-archive') }}
{% block paragraph %}
  {% set component_title = paragraph.field_news_archive_title.value ? paragraph.field_news_archive_title.value : 'News archive'|t({}, {'context': 'News archive fallback title'}) %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
      'component--full-width',
      'component--react-search',
      'component--news-archive',
    ],
      component_title: component_title,
      component_description: content.field_news_archive_desc,
      component_content_class: 'news-archive',
    }
  %}
    {% block component_content %}
      <div id="helfi-etusivu-news-search">
        <noscript>
          {% trans with {'context': 'Generic javascript required message'} %}
            This content requires JavaScript. Your browser doesn't support JavaScript or it is disabled. Please check your browser settings and try again.
          {% endtrans %}
        </noscript>
      </div>
    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
