{% set design = content.field_banner_design[0]['#markup'] %}

{% if design == 'align-left' %}
  {% set design_class = 'component--banner-align-left' %}
{% elseif design == 'align-center' %}
  {% set design_class = 'component--banner-align-center' %}
{% elseif design == 'align-left-secondary' %}
  {% set design_class = 'component--banner-align-left component--banner-secondary' %}
{% elseif design == 'align-center-secondary' %}
  {% set design_class = 'component--banner-align-center component--banner-secondary' %}
{% else %}
  {% set design_class = null %} {# This should not happen #}
{% endif %}

{% set has_title = false %}
{% if content.field_banner_title|render %}
  {% set has_title = true %}
{% endif %}

{% set has_description = false %}
{% if content.field_banner_desc|render %}
  {% set has_description = true %}
{% endif %}

{% set has_link = false %}
{% if content.field_banner_link|render %}
  {% set has_link = true %}
{% endif %}

{% set has_content = false %}
{% if has_title or has_description or has_link %}
  {% set has_content = true %}
{% endif %}

{% set has_icon = false %}
{% if content.field_icon|render %}
  {% set has_icon = true %}
{% endif %}

{% set link = content.field_banner_link.0['#url'] %}
{% set text = content.field_banner_link.0['#title'] %}
{% set link_type = content.field_banner_link_design[0]['#markup'] %}
{% set open_in_a_new_window = content.field_banner_link.0['#options']['target_new'] %}
{% set icon = content.field_banner_link.0['#options']['icon'] %}

{% block paragraph %}
  {% if has_content %}
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
          'component--banner',
          design_class,
          has_icon ? 'component--banner-has-icon'
        ],
        component_content_class: 'banner',
      }
    %}
      {% block component_content %}

        {% if content.field_icon|render and 'align-left' in design %}
          <div class="banner__icon">{{ content.field_icon }}</div>
        {% endif %}

        <div class="banner__content-wrapper">
          <div class="banner__content">
            {% if has_title %}
              <h2 class="banner__title">{{ content.field_banner_title }}</h2>
            {% endif %}
            {% if has_description %}
              <div class="banner__desc user-edited-content">{{ content.field_banner_desc }}</div>
            {% endif %}
          </div>
          {% if has_link %}
            {% include '@hdbt/navigation/link-button.html.twig' with {
              type: link_type|clean_class,
              label: text,
              url: link,
              open_in_a_new_window: open_in_a_new_window,
              icon: icon ? true : false,
              icon_type: icon ? icon|clean_class,
            } %}
          {% endif %}
        </div>

      {% endblock component_content %}
    {% endembed %}
  {% endif %}
{% endblock paragraph %}
