// Use Dart Sass math module to perform calculations.
// https://sass-lang.com/documentation/modules/math
@use "sass:math";

// Function nounit strips any unit from variable.
@function nounit($number) {
  @return math.div($number, $number * 0 + 1);
}

// Calculate rem (root em) units from pixels for font-size and line-height.
@mixin font-size($font-size, $line-height: "") {
  @if $font-size == 'inherit' {
    @error 'No inherit values allowed in font-size mixin!';
  } @else if unit($font-size) == 'rem' {
    font-size: $font-size;
  } @else {
    font-size: math.div($font-size, $base-font-size) * 1rem;
  }

  // Handle the line-height.
  @if $line-height != "" {
    // If line-height is in correct format or in em units, lets use that
    @if unit($line-height) == 'em' or unit($line-height) == '' {
      --line-height: #{nounit($line-height)};
      line-height: var(--line-height);
    }
    @else {

      // First lets convert font-size to unitless px values
      $font-size-px: nounit($font-size);
      // Convert the font-size if it is in rem.
      @if unit($font-size) == 'rem' {
        $font-size-px: nounit($font-size) * nounit($base-font-size);
      }
      @else if units($font-size) == 'em' {
        @error 'Em font units can not be used for converting line-height to unitless automatically!';
      }

      // Convert line-height from rem to px value if needed
      @if unit($line-height) == 'rem' {
        $line-height: nounit($line-height) * $base-font-size;
      }

      // Check if line-height is now in px and use that.
      @if unit($line-height) == 'px' {
        --line-height: #{nounit(math.div($line-height, $font-size-px))};
        line-height: var(--line-height);
      }
      @else {
        @error "Unable to convert line-height:#{$line-height} (with font-size:#{$font-size}) to unitless";
      }
    }
  }
}

/**
 * To give different styles depending on how many items a wrapper has you can use this mixing to assign the styles
 * to correct element. For example:
 *
 * If the wrapper has 1, 2 or 3 items make the items 30% wide, otherwise they should be 20% wide:
 * .wrapper .item {
 *   width: 20%;
 *
 *   @include content_count(1, 2, 3) {
 *     width: 30%;
 *   }
 * }
 */
@mixin content_count($number_of_items...) {
  @each $item in $number_of_items {
    @if type-of($item) == number {
      @for $i from 1 through $item {
        &:nth-child(#{$i}):nth-last-child(#{$item - $i + 1}) {
          @content;
        }
      }
    }
  }
}

/**
 * Allow changing icon easily on hover, etc.
 */
@mixin pseudo-icon-replace( $icon ) {
  mask-image: icon_url( $icon );
}

/**
 * Add pseudo element (::before, ::after) styling for icons
 */
@mixin pseudo-icon($icon, $size: $spacing, $color: $color-black, $display: inline-block) {
  background-color: $color;
  background-size: contain;
  content: '';
  display: $display;
  height: $size;
  mask-image: icon_url( $icon );
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: $size;
  vertical-align: bottom;
  width: $size;
}

/**
* Mixin to change element to be visually hidden, only visible to screenreaders, etc.
*/
@mixin visually-hidden() {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  max-height: 1px;
  max-width: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

//TODO: replace with native flex gap once enough users have moved to > ios 14.4
@mixin flex-gap($gap) {
  margin-left: -$gap * 0.5;
  margin-right: -$gap * 0.5;
  & > * {
    margin-left:  $gap * 0.5;
    margin-right:  $gap * 0.5;
  }
}

// This sets smart defaults for image element, but allows overriding each property where needed
@mixin image-defaults($display: block, $height: auto, $max-width: 100%, $overflow: hidden, $width: null){
  display: $display; // The default 'block' will fix inline images having extra space below them
  height: $height; // The default 'auto' will allow image original aspect ratio to set image space while loading and after
  max-width: $max-width; // The default '100%' will limit image to parent width
  overflow: $overflow; // The default 'hidden' will hide alt-text that flows outside from image area
  width: $width; // The default 'null' will disable this, but allow overriding it
}

@mixin loading-image-background(){
  box-shadow: inset 0 0 0 1px $color-black-10;
}
