// HELfi Color palettes

// Bus
$helfi-color-bus-primary: rgb(0, 0, 191);
$helfi-color-bus-secondary: rgb(255, 240, 247);
$helfi-color-bus-accent: rgb(0, 215, 167);

$helfi-color-text-bus-primary: $color-white;
$helfi-color-text-bus-secondary: $color-black;
$helfi-color-text-bus-accent: $color-black;

// Coat of arms
$helfi-color-coat-of-arms-primary: rgb(0, 114, 198);
$helfi-color-coat-of-arms-secondary: rgb(232, 243, 252);
$helfi-color-coat-of-arms-accent: rgb(245, 163, 199);

$helfi-color-text-coat-of-arms-primary: $color-white;
$helfi-color-text-coat-of-arms-secondary: $color-black;
$helfi-color-text-coat-of-arms-accent: $color-black;

// Copper
$helfi-color-copper-primary: rgb(0, 215, 167);
$helfi-color-copper-secondary: rgb(232, 243, 252);
$helfi-color-copper-accent: rgb(245, 163, 199);

$helfi-color-text-copper-primary: $color-black;
$helfi-color-text-copper-secondary: $color-black;
$helfi-color-text-copper-accent: $color-black;

// Engel
$helfi-color-engel-primary: rgb(255, 233, 119);
$helfi-color-engel-secondary: rgb(240, 240, 255);
$helfi-color-engel-accent: rgb(0, 215, 167);

$helfi-color-text-engel-primary: $color-black;
$helfi-color-text-engel-secondary: $color-black;
$helfi-color-text-engel-accent: $color-black;

// Gold
$helfi-color-gold-primary: rgb(194, 162, 81);
$helfi-color-gold-secondary: rgb(232, 243, 252);
$helfi-color-gold-accent: rgb(253, 79, 0);

$helfi-color-text-gold-primary: $color-black;
$helfi-color-text-gold-secondary: $color-black;
$helfi-color-text-gold-accent: $color-white;

// Metro
$helfi-color-metro-primary: rgb(253, 79, 0);
$helfi-color-metro-secondary: rgb(255, 240, 247);
$helfi-color-metro-accent: rgb(194, 162, 81);

$helfi-color-text-metro-primary: $color-white;
$helfi-color-text-metro-secondary: $color-black;
$helfi-color-text-metro-accent: $color-black;

// Silver
$helfi-color-silver-primary: rgb(222, 223, 225);
$helfi-color-silver-secondary: rgb(240, 240, 255);
$helfi-color-silver-accent: rgb(194, 162, 81);

$helfi-color-text-silver-primary: $color-black;
$helfi-color-text-silver-secondary: $color-black;
$helfi-color-text-silver-accent: $color-black;

// Summer
$helfi-color-summer-primary: rgb(255, 198, 30);
$helfi-color-summer-secondary: rgb(255, 249, 219);
$helfi-color-summer-accent: rgb(0, 135, 65);

$helfi-color-text-summer-primary: $color-black;
$helfi-color-text-summer-secondary: $color-black;
$helfi-color-text-summer-accent: $color-white;

// Suomenlinna
$helfi-color-suomenlinna-primary: rgb(245, 163, 199);
$helfi-color-suomenlinna-secondary: rgb(240, 240, 255);
$helfi-color-suomenlinna-accent: rgb(0, 0, 191);

$helfi-color-text-suomenlinna-primary: $color-black;
$helfi-color-text-suomenlinna-secondary: $color-black;
$helfi-color-text-suomenlinna-accent: $color-white;

// Tram
$helfi-color-tram-primary: rgb(0, 135, 65);
$helfi-color-tram-secondary: rgb(255, 249, 219);
$helfi-color-tram-accent: rgb(255, 198, 30);

$helfi-color-text-tram-primary: $color-white;
$helfi-color-text-tram-secondary: $color-black;
$helfi-color-text-tram-accent: $color-black;
