// Font variables from HDS.
@import "~hds-design-tokens/lib/typography/all.scss";

// Base font family and size.
$base-font-family: $font-default;
$base-font-size: 16px;

// Font weight.
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 800;

// Line height.
$lineheight-xxl: 2;
