// Font variables from HDS.
@import "~hds-design-tokens/lib/typography/font-size.scss";
@import "~hds-design-tokens/lib/typography/font.scss";
@import "~hds-design-tokens/lib/typography/line-height.scss";

$base-font-family: $font-default;
$base-font-size: 16px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 800;

$lineheight-xxl: 2;
