// --- Font variables from HDS.
$fontsize-heading-xl: 3.25rem; // 52px
$fontsize-heading-l: 2.25rem; // 36px
$fontsize-heading-m: 1.5rem; // 24px
$fontsize-heading-s: 1.25rem; // 20px
$fontsize-heading-xs: 1.125rem; // 18px
$fontsize-heading-xxs: 1rem; // 16px

$font-default: HelsinkiGrotesk, Arial, sans-serif;

$lineheight-s: 1;
$lineheight-m: 1.2;
$lineheight-l: 1.5;
$lineheight-xl: 1.75;
//---

// Base font family and size.
$base-font-family: $font-default;
$base-font-size: 16px;

// Font weight.
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 800;

// Line height.
$lineheight-xxl: 2;
