.announcement {
  --announcement-bg-color: #{$color-silver-light}; // Defaults to .announcement--notification styles
  --announcement-bg-size: #{$spacing-double};
  --announcement-color: #{$color-info}; // Defaults to .announcement--notification styles
  align-items: flex-start;
  background: linear-gradient(90deg, var(--announcement-color) 0, var(--announcement-color) var(--announcement-bg-size), var(--announcement-bg-color) var(--announcement-bg-size));
  background-color: var(--announcement-bg-color);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing;
  margin-left: $spacing-half;
  margin-right: $spacing-half;
  min-height: var(--announcement-bg-size);
  padding-bottom: $spacing;
  padding-left: calc(var(--announcement-bg-size) + #{$spacing});
  padding-right: $spacing;
  padding-top: $spacing;
  position: relative;

  &::before {
    @include pseudo-icon('ui/info-circle-fill', $spacing-and-half, $color-white); // Defaults to .announcement--notification styles
    left: calc(0.5 * (var(--announcement-bg-size) - #{$spacing-and-half}));
    margin-top: (- $spacing-and-half / 2);
    position: absolute;
    top: 50%;
  }

  @include breakpoint($breakpoint-m) {
    --announcement-bg-size: #{$spacing-triple};
    margin-left: $spacing-double;
    margin-right: $spacing-double;
  }
}

.announcement--alert {
  --announcement-bg-color: #{$color-error-light};
  --announcement-color: #{$color-error};
  &::before {
    @include icon-mask-image('ui/error-fill');
  }
}

.announcement--attention {
  --announcement-color: #{$color-alert};
  &::before {
    @include icon-mask-image('ui/alert-circle-fill');
    background-color: $color-black;
  }
}

.announcenemnt__content-body {
  & *:first-child {
    margin-top: 0;
  }
}

.announcement__link {
  margin-top: $spacing;

  &:first-child {
    margin-top: 0;
  }

  a::after {
    @include pseudo-icon('ui/arrow-right', $spacing-and-half);
    margin-left: $spacing-quarter;
  }
}

// Disabled until we want to introduce announcement close functionality
// .announcement__close {
//   background: transparent;
//   border: 0 none;
//   margin: 0;
//   padding: 0;
// }
