// TODO: Move under correct component when correct component is done.
.image-placeholder {
  background-color: var(--hdbt-theme-color);
  padding-bottom: 67%;
  position: relative;
  width: 100%;

  .icon {
    --icon-proportions: 50%;
    color: var(--hdbt-text-color);
    left: 25%;
    position: absolute;
    top: 25%;
  }
}
