// TODO: Move under correct component when correct component is done.
.image-placeholder {
  background-color: var(--hdbt-color-palette--primary);
  padding-bottom: 67%;
  position: relative;
  width: 100%;

  .hel-icon {
    --icon-size: 50%;
    color: var(--hdbt-color-palette-text--primary);
    left: 25%;
    position: absolute;
    top: 25%;
  }
}
