//
// @file
// System messages.
//
.hds-notification {
  margin-bottom: $spacing;

  &:first-child {
    margin-top: $spacing;
  }
}

.hds-notification__label {
  .icon {
    margin-right: $spacing-half;
  }
}

.messages__container {
  padding-top: 0;
}
