/* stylelint-disable max-nesting-depth -- @todo UHF-12501 */
/* stylelint-disable plugin/no-low-performance-animation-properties -- @todo UHF-12501 */
.accordion {
  --js-accordion-open-time: 200ms;

  @media (prefers-reduced-motion) {
    --js-accordion-open-time: 0s!important;
  }
}

.accordion__wrapper {
  border-bottom: 1px solid $color-black-20;
}

.accordion-item__header {
  border-top: 1px solid $color-black-20;
  margin: 0;
  padding: 0;
}

.accordion-item__button {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: left;
}

.accordion-item__icon {
  display: inline-flex;
  margin-inline-end: $spacing-half;

  @include breakpoint($breakpoint-l) {
    margin-inline-end: $spacing;
  }

  .hel-icon {
    --icon-size: #{remify(24px)};

    @include breakpoint($breakpoint-l) {
      --icon-size: #{remify(48px)};
    }
  }
}

.accordion-item__button--toggle {
  @include font('h3');
  border: none;
  color: $color-black;
  padding: $spacing ($spacing-double + 50px) $spacing $spacing;
  position: relative;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    padding: $spacing-and-half ($spacing-double + 50px) $spacing-and-half $spacing-and-half;
  }

  &::before {
    content: '';
    height: 30px;
    inset-inline-end: 4px; // Move the icon slightly to the left
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;

    @include breakpoint($breakpoint-l) {
      height: 32px;
      width: 32px;
    }
  }

  &::after {
    @include rotating-icon-transition(var(--js-accordion-open-time));
    background-image: icon-url('angle-down');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    height: 30px;
    inset-inline-end: 4px; // Move the icon slightly to the left
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;

    @include breakpoint($breakpoint-l) {
      height: 32px;
      width: 32px;
    }
  }

  &::before,
  &::after {
    right: $spacing;

    @include breakpoint($breakpoint-l) {
      right: $spacing-and-half;
    }
  }

  &:focus {
    outline: 3px solid $color-black;
    outline-offset: -3px;
    position: relative;
  }

  &:hover {
    cursor: pointer;
  }
}

.accordion-item__button--close {
  @include font('button');
  align-items: center;
  display: flex;
  inset-inline-end: -1px; // To adjust the positioning so that the element lines up nicely.
  margin-block-start: $spacing-half;
  margin-inline-start: auto;
  padding: $spacing-half;

  &:focus {
    outline: 3px solid $color-black;
    outline-offset: -3px;
  }

  &:hover {
    cursor: pointer;
  }

  &::after {
    @include pseudo-icon('angle-up', $spacing-and-half, currentColor, inline-block);
  }
}

.js-accordion__button--toggle-all {
  $-button-font: 'button';
  $-button-padding-block: 0.5 * ($wcag-touch-target-size-aaa - get-line-height($-button-font, $unremify: true)); // Adjust padding to fit the touch target size

  @include font($-button-font);
  align-items: center;
  color: $color-black;
  display: flex;
  inset-inline-end: -1px; // To adjust the positioning so that the element lines up nicely.
  margin-block-start: $spacing-half;
  margin-inline-start: auto;
  padding: $-button-padding-block $spacing-half;

  &:focus {
    outline: 3px solid $color-black;
    outline-offset: -3px;
  }

  &:hover {
    cursor: pointer;
  }

  &.accordion__button--is-open::after {
    @include pseudo-icon('angle-up', $spacing-and-half, currentColor, inline-block);
  }

  &.accordion__button--is-closed::after {
    @include pseudo-icon('angle-down', $spacing-and-half, currentColor, inline-block);
  }
}

.accordion-item__button--toggle[aria-expanded='true'] {
  background-color: transparent;

  &::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.accordion-item__content {
  border: none;
  display: grid!important; // Has to be important to battle the default hiding that blocks animation
  grid-template-columns: 100%;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows var(--js-accordion-open-time) ease-in, visibility 0s linear var(--js-accordion-open-time);

  .accordion-item__content__animator {
    min-height: 0;
  }

  .accordion-item__content__inner {
    padding-inline: $spacing;
    padding-top: $spacing;

    @include breakpoint($breakpoint-l) {
      padding-inline: $spacing-and-half;
      padding-top: $spacing-and-half;
    }
  }
}

// Hide the content when the accordion is closed and hidden-until-found is not supported.
.helfi-accordion-item:not(.accordion-item--hidden-until-found) > .accordion-item__content:not(:has(:target)) {
  visibility: hidden;
}

// The animated styles for the open accordion content.
.helfi-accordion-item:has(> .accordion-item__header > .accordion-item__button[aria-expanded="true"]) > .accordion-item__content,
.helfi-accordion-item:not(.accordion-item--hidden-until-found) .accordion-item__content:has(:target) {
  grid-template-rows: 1fr;
  transition: grid-template-rows var(--js-accordion-open-time) ease-in, visibility 0s linear var(--js-accordion-open-time);
  visibility: visible;
}

.accordion-item__content__inner {
  padding-bottom: $spacing;
  transform: translateY(0); // This trick fixes long accordion reserving space below footer when they're closed.

  > *:first-child {
    margin-top: 0;
  }

  // Removes the gap between accordion heading and accordion content caused by p (or other) tag.
  > .component--paragraph-text .component__content div:first-child > *:first-child {
    margin-top: 0;
  }
}

.component--accordion .component--image .component__content {
  max-width: $content-width-max;
}

// Show border-top only on first accordion item header in white accordion.
.component--accordion-bg-white .accordion__wrapper ~ .accordion__wrapper .accordion-item__header {
  border-top: none;
}


// Patch Siteimprove false positive color contrast issue to reduce noise
.component--accordion-bg-white .accordion-item__button--close {
  background-color: $color-white;
}

// Grey accordion styles
.component--accordion-bg-grey {
  .accordion-item__header {
    background-color: $color-black-5;
    border-color: $color-white;
  }

  .accordion__wrapper {
    border-color: $color-black-5;
  }

  .accordion-item__content {
    --user-edited-content-background-color: #{$color-black-5}; // This allows passing the color to the child figcaption and other possible elements
    background-color: var(--user-edited-content-background-color);
  }

  // Patch Siteimprove false positive color contrast issue to reduce noise
  .accordion-item__button--close {
    background-color: $color-black-5;
  }
}

// Accordions following each other with same background color should not have margin between them if the later one has no header.
.component--accordion-bg-white + .component--accordion-bg-white.component--no-header,
.component--accordion-bg-grey + .component--accordion-bg-grey.component--no-header {
  margin-top: 0;
}

// White accordions following each other should have only a single border between them if the later one has no header.
.component--accordion-bg-white + .component--accordion-bg-white.component--no-header .accordion-item__header {
  border-top: 0 none;
}

// Remove accordion margin-top when it's after another similar margin and has no header
.accordion--white + .accordion--white.accordion--no-header,
.accordion--grey + .accordion--grey.accordion--no-header {
  margin-top: 0;

  > .container {
    padding-top: 0;
  }
}

// Remove extra line from white accordion when accordions are touching
.accordion--white + .accordion--white.accordion--no-header > .container > .accordion__wrapper > .accordion-item__header {
  border-top: 0 none;
}
