$koro-height: 50px;

.hero {
  background-color: var(--hdbt-color-palette--primary);
  color: var(--hdbt-color-palette-text--primary);

  > .hds-koros {
    background-color: var(--color-white);
    color: var(--hdbt-color-palette--primary);
  }
}

.hero__container {
  color: var(--hdbt-color-palette-text--primary);
  padding-bottom: $spacing-triple;
  padding-top: $spacing-and-half;
  position: relative;

  @include breakpoint(max-width $breakpoint-s) {
    max-width: 100%;
  }
}

.hero__image-container {
  color: var(--hdbt-color-palette--primary);
  outline: none;
  pointer-events: none;
  user-select: none;
}

.hero__text-content {
  max-width: 690px;
}

.hero__title {
  margin-bottom: $spacing;
  margin-top: $spacing;
}

.hero__description {
  p {
    @include font('body');
  }

  a:not(
    .hds-button,
    [data-hds-component='button']:not([class*='hds-button'])
  ) {
    color: currentColor;
  }
}

.hero__publish-information {
  margin-top: $spacing;
}

.hero__arrow {
  background-color: var(--hdbt-color-palette--accent);
  bottom: -90px;
  height: 100px;
  inset-inline-start: $spacing-and-half;
  mask-image: icon-url('hero-arrow-mobile');
  mask-position: center;
  mask-repeat: no-repeat;
  position: absolute;
  width: 94px;
  z-index: 10;

  @include breakpoint($breakpoint-l) {
    bottom: -100px;
    height: 110px;
    left: $spacing-double;
    mask-image: icon-url('hero-arrow-desktop');
    width: 94px;
  }
}

[dir='rtl'] .hero__arrow {
  left: auto;
  right: $spacing-and-half;

  @include breakpoint($breakpoint-l) {
    right: $spacing-double;
  }
}

// Hero image author styles.
.hero__image-author {
  --arrow-element-width: 100px;

  // We can't use the margin-inline-start here because the hero__image-author can have dir-attribute on the
  // html-element and this will cause the margin to be on the wrong side since this spacing is here to avoid the
  // image author text from going under the arrow in hero element.
  margin-left: var(--arrow-element-width);
  margin-top: $spacing;
  text-align: right;
}

[dir='rtl'] .hero__image-author {
  margin-left: 0;
  margin-right: var(--arrow-element-width);
  text-align: left;
}

// Gray first block styles.
.hero-wrapper.has-first-gray-bg-block {
  background-color: $color-black-5;
  margin-bottom: -$spacing-quadruple;
  padding-bottom: $spacing-triple;

  @include breakpoint($breakpoint-m) {
    margin-bottom: -$spacing-sextuple;
  }

  .hero > .hds-koros {
    background-color: $color-black-5;
    color: var(--hdbt-color-palette--primary);
  }
}

// HDS-button and text-input coloring depending on the theme selected.
.hdbt-theme--coat-of-arms,
.hdbt-theme--brick,
.hdbt-theme--bus,
.hdbt-theme--tram {
  .hero [data-hds-component='button']:not([class*='hds-button']),
  .hero .hds-button {
    @include hds-button-colors-on-dark-bg;
  }

  // Focus ring around text inputs should be white to have enough contrast.
  .hero .hds-text-input__input-wrapper:focus-within .hds-text-input__input:not([readonly]) {
    --focus-outline-color: #{$color-white};
    --input-border-color-focus: #{$color-white};
  }

  // Keep the text input border color in hover as the same as in default state
  // because the contrast of black is not very noticeable and the background of the
  // input is already white so hover with white doesn't work so well either.
  .hero .hds-text-input__input-wrapper:hover .hds-text-input__input {
    --input-border-color-hover: #{$color-black-50};
  }
}

/**
 * DESIGNS
 */

.hero--with-image-right,
.hero--with-image-left,
.hero--with-image-bottom {
  .hero__container {
    padding-bottom: $spacing;

    @include breakpoint($breakpoint-m) {
      padding-bottom: $spacing-triple;
    }
  }

  .hds-koros {
    display: none;
  }

  .hero__image-container {
    height: 200px;
    position: relative;

    @include breakpoint($breakpoint-xs) {
      height: 300px;
    }

    img {
      @include image-defaults($height: 100%, $width: 100%, $max-width: null);
      object-fit: cover;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
    }

    .hds-koros {
      display: block;
      position: absolute;
      z-index: 1;
    }
  }
}

// These hero-variants are nested deeper than the max-nesting-depth but it is
// acceptable in this case because the nesting is logical and necessary for
// readability.
/* stylelint-disable max-nesting-depth */
.hero--with-image-right,
.hero--with-image-left {
  @include breakpoint($breakpoint-m) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero__container {
    @include breakpoint($breakpoint-m) {
      align-items: center;
      display: flex;
      margin: 0;
      max-width: ($component-side-padding-mobile + $content-area-wrapper-width-max + $component-side-padding-mobile) * 0.5;
      width: 50%;
    }

    @if $component-side-padding-mobile != $component-side-padding-desktop {
      @include breakpoint($component-spacing-breakpoint) {
        max-width: ($component-side-padding-desktop + $content-area-wrapper-width-max + $component-side-padding-desktop) * 0.5;
      }
    }
  }

  .hds-koros {
    @include breakpoint($breakpoint-m) {
      display: block;
    }
  }

  .hero__image-container {
    @include breakpoint($breakpoint-m) {
      height: auto;
      margin-top: $spacing-quadruple;
      max-width: ($component-side-padding-mobile + $content-area-wrapper-width-max + $component-side-padding-mobile) * 0.5;
      padding: 0 $spacing-double $spacing-quadruple;
      width: 50%;
    }

    @if $component-side-padding-mobile != $component-side-padding-desktop {
      @include breakpoint($component-spacing-breakpoint) {
        max-width: ($component-side-padding-desktop + $content-area-wrapper-width-max + $component-side-padding-desktop) * 0.5;
      }
    }

    img {
      // image defaults already set above
      @include breakpoint($breakpoint-m) {
        height: auto;
        position: static;
        transform: none;
        width: 100%;
      }
    }

    .hds-koros {
      @include breakpoint($breakpoint-m) {
        display: none;
      }
    }
  }

  .hero__arrow {
    bottom: -355px;

    @include breakpoint($breakpoint-m) {
      bottom: -90px;
    }
  }
}
/* stylelint-enable max-nesting-depth */

.hero--with-image-left {
  @include breakpoint($breakpoint-m) {
    flex-direction: row-reverse;
  }

  .hero__arrow {
    @include breakpoint($breakpoint-m) {
      left: calc(-100% + 24px);
    }
  }
}

.hero--with-image-bottom {
  .hero__container {
    padding-bottom: $spacing;
  }

  .hero__image-container {
    @include breakpoint($breakpoint-l) {
      height: 400px;
    }
  }

  .hero__arrow {
    bottom: -355px;

    @include breakpoint($breakpoint-l) {
      bottom: -470px;
    }
  }
}

.hero--diagonal,
.hero--with-search {
  @include breakpoint($breakpoint-l) {
    position: relative;
  }

  .hero__container {
    align-items: center;
    display: flex;
    padding-bottom: $spacing;
    position: relative;
    width: 100%;
    z-index: 2;

    @include breakpoint($breakpoint-l) {
      min-height: 480px;
      padding-bottom: $spacing-triple;
    }
  }

  .hero__text-content {
    @include breakpoint($breakpoint-l) {
      max-width: 400px;
    }

    @include breakpoint($breakpoint-xl) {
      max-width: 500px;
    }
  }

  .hero__title {
    @include breakpoint($breakpoint-l) {
      margin-top: $spacing;
    }
  }

  .hero__image-container {
    height: 200px;
    position: relative;

    @include breakpoint($breakpoint-xs) {
      height: 300px;
    }

    @include breakpoint($breakpoint-l) {
      bottom: 0;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  .hero__image-container img {
    @include image-defaults($height: 100%, $width: 100%, $max-width: null);
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;

    @include breakpoint($breakpoint-l) {
      margin-inline-start: 30%;
      position: static;
      transform: none;
    }
  }

  .hero__image-container .hds-koros {
    display: block;
    position: absolute;
    top: auto;
    z-index: 1;

    @include breakpoint($breakpoint-l) {
      bottom: 0;
      height: 1500px;
      right: 54%;
      transform: scaleX(var(--lang-direction, 1)) rotate(135deg);
      transform-origin: center;
      width: 1000px;
    }
  }

  .hds-koros {
    display: none;
  }

  .hero__arrow {
    bottom: -355px;

    @include breakpoint($breakpoint-l) {
      bottom: -70px;
    }
  }
}

.hero--with-search .helfi-search__form .hds-text-input__label,
.hero--with-helsinki-near-you .helfi-etusivu-near-you-form .hds-text-input__label {
  color: inherit;
}

.hero--with-helsinki-near-you,
.hero--with-search-form {
  .hero__container {
    @include breakpoint($breakpoint-l) {
      padding-top: $spacing-triple;
    }
  }

  .hero__text-content {
    max-width: $content-width-max;
  }

  .helfi-helsinki-near-you__form {
    margin-top: $spacing-double;

    .form-item {
      margin-bottom: 0;
    }
  }

  .helfi-search__submit-button {
    margin-top: $spacing-and-half;
    max-width: 280px;
    width: 100%;
  }
}
