.thcomponent--react-search {
  background-color: $color-black-5;
  position: relative;
}

.component--react-search.component--coordinates-based-list {
  background-color: $color-white;
}

// If the react search is just before footer it needs to function the same way as unit search.
.layout-main-wrapper > *:last-child .component--react-search:last-child {
  padding-bottom: 0;

  .component__container {
    margin-bottom: -115px; // Enough to get the block under the footer.
    padding-bottom: 115px; // Leave enough room between the last card and footer.
  }
}

.react-search__list-container {
  margin-bottom: $spacing-double;
}

.react-search__results-stats {
  margin-bottom: $spacing;
}

.hdbt__loading-wrapper {
  position: relative;
}

.hdbt__loading-overlay {
  display: flex;
  justify-content: center;
}

.hdbt-search--react__result-top-area {
  margin-bottom: $spacing-and-half;

  @include breakpoint($breakpoint-l) {
    display: flex;
    justify-content: space-between;
  }
}

.hdbt-search--react__result-top-area.hdbt-search--react__result-top-area--with-left-actions {
  @include breakpoint($breakpoint-l) {
    display: block;
  }
}

.hdbt-search--react__actions-container {
  @include breakpoint($breakpoint-l) {
    align-items: end;
    display: flex;
    justify-content: space-between;
  }
}

.hdbt-search--react__result-top-area-item {  
  margin-top: $spacing-and-half;

  @include breakpoint($breakpoint-l) {
    margin-top: 0;
  }
}

.hdbt-search--react__results--title {
  align-items: center;
  display: flex;
  margin-bottom: $spacing-three-quarters;
  margin-top: 0;

  @include breakpoint($breakpoint-l) {
    margin-bottom: 0;
  }

  &:active,
  &:focus {
    outline: 3px solid $color-black;
    outline-offset: 2px;
  }
}

.hdbt-search--react__results--tablist {
  .tablist-tab {
    background-color: transparent;
    border: none;
    color: $color-black-90;
    padding: $spacing;

    &:hover {
      cursor: pointer;
    }

    &[aria-selected='true'] {
      border-bottom: $spacing-quarter solid $color-black-90;
    }
  }
}
