.component--remote-video {
  @include hds-button-colors-on-dark-bg;
  @include component-side-padding;
  background-color: $color-black-5;
}

.component--remote-video,
.component--remote-video a:not(.hds-button, [data-hds-component='button']:not([class*='hds-button']), .skip-link) {
  color: $color-black;
}

.component--remote-video + .component--remote-video.component--no-header {
  margin-top: 0;
  padding-top: 0;

  .remote-video__video-title {
    margin-top: 0;
  }
}

.remote-video__video {
  position: relative;

  .responsive-video-container {
    aspect-ratio: 16/9;
    background-color: $color-black-5; // Add color to show a "placeholder" while the video is loading.
    overflow: hidden;

    iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.component__content.remote-video {
  margin-top: 0;
}

.remote-video__video-title {
  @include font('h3');
  margin-block: $spacing-double $spacing;

  @include breakpoint($breakpoint-l) {
    margin-block: $spacing-triple $spacing-and-half;
  }
}

.remote-video__video-desc {
  @include font('body');
  margin-top: $spacing;

  > p:first-child {
    margin-top: 0;
  }
}
