.simple-event-list__events, .simple-event-list__events--ghosts {
  display: grid;
  gap: 0;
  list-style: none;
  padding-left: 0;

  @include breakpoint($breakpoint-m) {
    column-gap: $spacing-and-half;
    grid-template-columns: repeat(3, 1fr);
  }
}

.loading .simple-event-list__events {
  @include breakpoint($breakpoint-m) {
    grid-template-columns: 1fr;
  }
}

.simple-event-list__event + .simple-event-list__event {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    margin-top: 0;
  }
}

.simple-event-list__event {
  position: relative;
}
