.content-list-with-count__header {
  margin-block-start: 0;
}

.content-list-with-count__content {
  display: block;
  width: 100%;

  > .card:first-of-type {
    margin-block-start: $spacing;

    @include breakpoint($breakpoint-m) {
      margin-block-start: $spacing-double;
    }
  }

  > .card + .card {
    margin-block-start: $spacing;
  }
}

.content-list-with-count__count:focus {
  outline: 3px solid $color-black;
  outline-offset: 2px;
}

.content-list-with-count--search .content-list-with-count__content {
  margin-block-start: $spacing-quadruple;
}

.content-list-with-count--search .content-list-with-count__count {
  margin-block-start: $spacing-quadruple;
}

.content-list-with-count .views-exposed-form {
  display: flex;
  flex-flow: column;
  gap: $spacing-and-half;

  @include breakpoint($breakpoint-m) {
    align-items: flex-end;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: $content-width-max;
  }

  .form-item {
    margin-block-end: 0;

    @include breakpoint($breakpoint-m) {
      width: 100%;
    }
  }

  .description {
    white-space: normal;
  }

  [data-drupal-selector='edit-provided-languages-value'] {
    margin-block-start: $spacing;
  }

  .form-actions {
    width: 100%;

    // When variant is not defined, we fallback to primary styles
    [data-hds-component='button']:not([class*='hds-button']):where(:not([data-hds-variant]),
    [data-hds-variant='primary']),
    .hds-button--primary {
      max-width: 280px; // Max-width for button from hds/designs.
      min-width: 44px; // Min-width for button from hds/designs.
      width: 100%;
    }
  }
}

.content-list-with-count__results {
  display: block;
  width: 100%;

  > .card:first-of-type {
    margin-block-start: $spacing;

    @include breakpoint($breakpoint-m) {
      margin-block-start: $spacing-double;
    }
  }

  > .card + .card {
    margin-block-start: $spacing;
  }
}

.content-list-with-count__result-actions {
  @include breakpoint($breakpoint-m) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .content-list-with-count__count {
    margin-block-start: 0;
  }
}

.content-list-with-count__result--list,
.content-list-with-count__result--map {
  margin-block-start: $spacing;
}

.content-list-with-count__result--map {
  padding-block-end: 52%;
  position: relative;
  width: 100%;
}

.content-list-with-count__map {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content-list-with-count__map-actions {
  display: flex;
  justify-content: flex-end;
  margin-block-start: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-block-start: $spacing-and-half;
  }
}

.content-list-with-count__additional-information {
  @include font('body');
  display: block;
  margin-bottom: $spacing-and-half;
  margin-top: $spacing;

  &.content-list-with-count__address-not-found {
    padding-left: $spacing-triple;
    position: relative;

    &::before {
      @include pseudo-icon('alert-circle-fill', $spacing-and-half);
      background-color: $color-alert-dark;
      left: $spacing;
      margin-top: -12px; // Move icon up half of the line-height of the text that follows (line-height is 24px).
      position: absolute;
      top: 50%;
    }

    p {
      margin-top: 0;
    }
  }
}

// Content lists with large volume of cards listed such as daycare search.
.content-list-with-count--large-volume .content-list-with-count__content .card + .card {
  margin-top: $spacing-half;
}
