.link__type {
  $icons: 'link-external-part1', 'link-external-part2';

  @include pseudo-icon($icons, calc(var(--line-height) * 1em), currentColor, inline-block);

  --external-icon-move: scaleX(var(--lang-direction, 1));
  overflow: hidden;
  transform: scaleX(var(--lang-direction, 1));

  @media (prefers-reduced-motion) {
    --external-icon-move: scaleX(var(--lang-direction, 1)); // This overrides the tel and mailto transitions
  }
}

a:focus .link__type,
a:hover .link__type {
  transform: var(--external-icon-move);
}

.link__type--external {
  @include hover-external-arrow-transition;
}

a:focus .link__type--external,
a:hover .link__type--external {
  $mask-move: 0.1667em;
  mask-position: center, $mask-move (-1 * $mask-move);
}

.link__type--tel,
.link__type--mailto {
  @include hover-link-arrow-transition;

  --external-icon-move: scaleX(var(--lang-direction, 1)) rotate(calc(15deg * var(--lang-direction, 1)));
}

.link__type--tel {
  @include pseudo-icon-replace('tel');
}

.link__type--mailto {
  @include pseudo-icon-replace('mailto');
}
