{#
/**
 * @file
 * Theme for unit entity.
 */
#}

{% if not block_name %}
  {% set block_name = 'main_navigation_level_2' %}
{% endif %}

{% if drupal_entity('block', block_name, check_access=false)|render|striptags|trim is not empty %}
  {% set in_menu =  TRUE %}
{% endif %}

{% embed '@helfi_tpr/tpr-unit.html.twig' with {in_menu: in_menu} %}
  {% block sidebar_block %}
    {{ drupal_entity('block', block_name, check_access=false) }}
  {% endblock sidebar_block %}

  {% block main_content %}
    <div class="enriched-content has-sidebar components components--unit">
      {{ content.field_content }}
    </div>
  {% endblock main_content %}

  {% block accessibility_sentences_block %}
    {% if content.accessibility_sentences|render %}

      {% embed "@hdbt/misc/component.twig" with
        {
          component_classes: [
            'component--accordion',
            'component--accordion-bg-grey',
            'component--hardcoded',
            'component--tpr-unit',
          ],
          component_content_class: 'accordion',
        }
      %}
        {% block component_content %}

          {% set accordion_content %}

            {% embed "@hdbt/misc/component.twig" with { component_classes: [ 'component--paragraph-text' ] } %}
              {% block component_content %}
                  {{ content.accessibility_sentences }}
              {% endblock component_content %}
            {% endembed %}

          {% endset %}

          {% include '@hdbt/component/accordion.twig' ignore missing with {
            heading_level: 'h2',
            heading_icon: 'person-wheelchair',
            heading: 'Accessibility information'|t,
            content: accordion_content,
          } %}

        {% endblock component_content %}
      {% endembed %}

    {% endif %}
  {% endblock accessibility_sentences_block %}
{% endembed %}
