{#
/**
 * @file
 * Theme for service entity.
 */
#}

{% if not block_name %}
  {% set block_name = 'main_navigation_level_2' %}
{% endif %}

{% if drupal_entity('block', block_name, check_access=false)|render|striptags|trim is not empty %}
  {% set in_menu =  TRUE %}
{% endif %}

{% if content.field_sidebar_content|render|striptags|trim is not empty %}
  {% set sidebar_content = TRUE %}
{% endif %}

{% embed '@helfi_tpr/tpr-service.html.twig' with {in_menu: in_menu, sidebar_content: sidebar_content} %}
  {% block sidebar_block %}
    {{ drupal_entity('block', block_name, check_access=false) }}
    {{ content.field_sidebar_content }}
  {% endblock sidebar_block %}

  {% if content.toc_enabled|render|striptags|trim is not empty %}
    {% block toc_content %}
      {{ content.toc_enabled }}
    {% endblock toc_content %}
  {% endif %}

  {% block main_content %}
    {% if content.field_content|render|striptags|trim is not empty %}
      <div class="enriched-content has-sidebar components components--service">
        {{ content.field_content }}
      </div>
    {% endif %}
  {% endblock main_content %}
{% endembed %}
