.nav-toggle--search {
  grid-area: search;
}

.nav-toggle--menu {
  grid-area: toggle;
}

.nav-toggle--menu .nav-toggle__label::before {
  @include pseudo-icon('menu-hamburger', 32px, currentColor, block);
}

.nav-toggle--search .nav-toggle__label::before {
  @include pseudo-icon('search', 32px, currentColor, block);
}

.nav-toggle--menu .nav-toggle__label--close,
.nav-toggle--search .nav-toggle__label--close {
  &::before {
    @include pseudo-icon-replace('cross');
  }
}

.nav-toggle-dropdown--menu,
.nav-toggle-dropdown--search {
  grid-area: menu;
}

.nav-toggle-dropdown__wrapper {
  .nav-toggle-dropdown--menu &,
  .nav-toggle-dropdown--search & {
    border-bottom: 1px solid $color-black-20; // Needs to be on this level for animation
  }
}

.nav-toggle-dropdown--search .nav-toggle-dropdown__wrapper {
  background-color: $color-black-5;
}

.nav-toggle-dropdown--menu .nav-toggle-dropdown__content {
  background-color: $color-white;
}

// What should happen when menu is opened
#menu[data-target='true'] {
  & ~ * .header-branding {
    @include breakpoint(max-width $breakpoint-l) {
      border-bottom: 0 none; // Hide header branding bottom border when menu is open and visible
    }
  }

  & ~ * .language-wrapper {
    display: none;
  }

  @include breakpoint($breakpoint-m) {
    & ~ * .language-wrapper {
      display: flex;
    } // This breakpoint needs to be in sync with header branding lang button position breakpoint
  }
}

.mobile-menu {
  @include breakpoint($breakpoint-l) {
    display: none;
  }
}
