{#
/**
 * @file
 * Consists a list of all components with a markup example and componnet.
#}

<h2>Components</h2>

<h3>Icon</h3>
{% include "@hdbt/misc/icon.twig" with {icon: 'icon', label: 'Test label for the icon'|t } %}

<h3>Status messages</h3>
{% set message_list = {
  {
    type: 'error',
    messages: ['First error message', 'Second error message'],
  },
  {
    type: 'warning',
    messages: ['First warning message', 'Second warning message'],
  },
  {
    type: '',
    messages: ['First normal message', 'Second normal message'],
  },
}  %}

{% include "@hdbt/misc/status-messages.html.twig" with {message_list: message_list, label: 'Test label for the icon'|t } %}

