// TODO: UHF-8792 If sensible lets try to get rid of the hdbt-icon class (https://helsinkisolutionoffice.atlassian.net/browse/UHF-8792).
// This is the first approach towards simplifying the HDS button and getting rid of hdbt-icon classes.
a[data-variant][href] {
  @include font('button');

  --border-width: 2px;
  --color: inherit;
  --min-size: 44px;
  --outline-gutter: 2px;
  --outline-width: 3px;
  align-content: flex-start;
  align-items: center;
  background-color: var(--background-color, transparent);
  border: var(--border-width) solid var(--border-color, transparent);
  border-radius: 0;
  box-sizing: border-box;
  color: var(--color);
  cursor: pointer;
  display: inline-flex;
  font-weight: $font-weight-medium;
  gap: $spacing;
  justify-content: center;
  line-height: 1.25em;
  min-height: var(--min-size);
  min-width: var(--min-size);
  padding: var(--spacing-s) var(--spacing-m);
  text-decoration: none;
  vertical-align: top;

  &:hover,
  &:focus,
  &:active {
    transition-duration: 85ms;
    /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
    transition-property: background-color, border-color, color;
    transition-timing-function: ease-out;
  }

  &:hover {
    background-color: var(--background-color-hover, transparent);
    color: var(--color-hover);
  }

  &:focus {
    background-color: var(--background-color-focus, transparent);
    color: var(--color-focus);
  }

  &:focus:hover {
    background-color: var(--background-color-hover-focus, transparent);
  }

  &:active,
  &:focus {
    outline: var(--outline-width) solid var(--focus-outline-color);
    outline-offset: var(--outline-gutter);
  }

  &[data-icon-start]::before {
    @include pseudo-icon(null, $size: $spacing-and-half, $color: currentColor);
    margin-block: -2px;

    &:not(:last-child) {
      margin-left: -8px;
    }
  }

  &:where(
    [data-is-external],
    [data-protocol='tel'],
    [data-protocol='mailto']
  )::after {
    @include pseudo-icon(null, $size: $spacing-and-half, $color: currentColor);
    margin-block: -2px;

    &:not(:first-child) {
      margin-right: -8px;
    }
  }

  &[data-is-external]::after {
    @include pseudo-icon-replace('link-external');
  }

  &[data-protocol='tel']::after {
    @include pseudo-icon-replace('tel');
  }

  &[data-protocol='mailto']::after {
    @include pseudo-icon-replace('mailto');
  }

  &[data-variant='supplementary']:not([data-icon-start]):not(
    [data-is-external],
    [data-protocol='tel'],
    [data-protocol='mailto']
  )::before,
  &[data-variant='supplementary'][data-icon-start]:not(
    [data-is-external],
    [data-protocol='tel'],
    [data-protocol='mailto']
  )::after {
    @include pseudo-icon('arrow-right', $size: $spacing-and-half, $color: currentColor, $display: inline-block);
    @include hover-link-arrow-transition;
    margin-block: -2px;
    order: 3;
    position: static;
    transform: scaleX(var(--lang-direction, 1));
  }

  // Content from HDS button.css starts
  // .hds-button
  &[data-variant='primary'] {
    --background-color: var(--theme-bg1, var(--color-bus));
    --background-color-hover: var(--theme-bg2, var(--color-bus-dark));
    --background-color-focus: var(--theme-bg1, var(--color-bus));
    --background-color-hover-focus: var(--theme-bg2, var(--color-bus-dark));
    --background-color-disabled: var(--color-black-20);
    --border-color: var(--theme-bg1, var(--color-bus));
    --border-color-hover: var(--theme-bg1, var(--color-bus-dark));
    --border-color-focus: var(--theme-bg1, var(--color-bus));
    --border-color-hover-focus: var(--theme-bg1, var(--color-bus-dark));
    --border-color-disabled: var(--color-black-20);
    --color: var(--theme-fg1, var(--color-white));
    --color-hover: var(--theme-fg2, var(--color-white));
    --color-focus: var(--theme-fg1, var(--color-white));
    --color-hover-focus: var(--theme-fg2, var(--color-white));
    --color-disabled: var(--color-white);
    --focus-outline-color: var(--theme-focus, var(--color-coat-of-arms));
  }

  &[data-variant='secondary'] {
    --background-color: var(--theme-bg2, transparent);
    --background-color-hover: var(--theme-bg1, var(--color-bus-light));
    --background-color-focus: var(--theme-bg2, transparent);
    --background-color-hover-focus: var(--theme-bg1, var(--color-bus-light));
    --background-color-disabled: transparent;
    --border-color: var(--theme-bg1, var(--color-bus));
    --border-color-hover: var(--theme-bg2, var(--color-bus-dark));
    --border-color-focus: var(--theme-bg1, var(--color-bus));
    --border-color-hover-focus: var(--theme-bg2, var(--color-bus-dark));
    --border-color-disabled: var(--color-black-50);
    --color: var(--theme-fg2, var(--color-bus));
    --color-hover: var(--theme-fg1, var(--color-bus-dark));
    --color-focus: var(--theme-fg2, var(--color-bus));
    --color-hover-focus: var(--theme-fg1, var(--color-bus-dark));
    --color-disabled: var(--color-black-40);
    --focus-outline-color: var(--theme-focus, var(--color-coat-of-arms));
  }

  &[data-variant='supplementary'] {
    --background-color: var(--theme-bg2, transparent);
    --background-color-hover: var(--theme-bg2, var(--color-bus-light));
    --background-color-focus: var(--theme-bg2, transparent);
    --background-color-hover-focus: var(--theme-bg2, var(--color-bus-light));
    --background-color-disabled: transparent;
    --border-color: var(--theme-bg2, transparent);
    --border-color-hover: var(--theme-bg2, transparent);
    --border-color-focus: var(--theme-bg2, var(--color-coat-of-arms));
    --border-color-hover-focus: var(--theme-bg2, var(--color-coat-of-arms));
    --border-color-disabled: transparent;
    --color: var(--theme-fg2, var(--color-bus));
    --color-hover: var(--theme-fg2, var(--color-bus-dark));
    --color-focus: var(--theme-fg2, var(--color-bus));
    --color-hover-focus: var(--theme-fg2, var(--color-bus-dark));
    --color-disabled: var(--color-black-40);
    --focus-outline-color: var(--theme-focus, transparent);
  }
}
