// TODO: Refactor hds-button.
// Fix for button margins when using hel-icon.
.hds-button {
  @include font('button');

  // Set icon size for the button icons.
  .hel-icon {
    --icon-size: 24px;
  }

  // Left icon margin,
  // copied from HDS (hds-core/lib/components/button/button.css)
  .hel-icon:first-of-type:not(:last-of-type) {
    margin: 0 0 0 $spacing-half;
  }

  // Right icon margin,
  // copied from HDS (hds-core/lib/components/button/button.css)
  .link__type,
  .hel-icon:last-of-type:not(:first-of-type) {
    margin: 0 $spacing-half 0 0;
  }
}

a.hds-button {
  text-decoration: none;

  // The supplementary button just won't work with the focus and default layout in the left aligned layout
  // so these changes are required to make it look even a bit more decent.
  &.hds-button--supplementary {
    margin: 0;
    padding: 0 $spacing-half 0 0;
    text-decoration: underline;

    .hds-button__label {
      line-height: $spacing-and-half; // To avoid too low link buttons
      margin: 0 0 -#{$spacing-half} 0;
      padding: $spacing-half;

      &:only-child {
        margin: 0;
      }
    }

    // Target before element when there is no selected icon, otherwise target after element
    &:not([data-selected-icon]):not([data-is-external])::before,
    &[data-selected-icon]:not([data-is-external])::after {
      --icon-size: #{$spacing-and-half};
      @include pseudo-icon('arrow-right', var(--icon-size), var(--color), inline-block);
      @include hover-link-arrow-transition();
      order: 3;
      position: static;
    }

    // Handle animation for above on focus and hover
    &:focus:not([data-selected-icon]):not([data-is-external])::before,
    &:hover:not([data-selected-icon]):not([data-is-external])::before,
    &[data-selected-icon]:focus:not([data-is-external])::after,
    &[data-selected-icon]:hover:not([data-is-external])::after {
      transform: translateX($spacing-quarter);
      @media (prefers-reduced-motion) {
        transform: none;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  // The hdbt-icon needs additional 8px of margin on the right because the design on hds-buttons includes margin
  // on the right for the icon but hdbt-icons don't get the margin by default.
  &.hds-button--primary,
  &.hds-button--secondary {
    &.hdbt-icon::before {
      margin-right: $spacing;
    }
  }
}

.hds-button--supplementary:not(.hdbt-icon):not([data-selected-icon]) {
  &:before {
    // Add default icon (arrow icon) for the supplementary button.
    @include pseudo-icon-replace('arrow-right');
  }
}

// In case a button with supplementary style is the first child inside a p-tag we can assume it is next to
// spacing of the element that contains the link so we want to move the supplementary button little bit to the left.
// Example: A button is written inside of a WYSIWYG-element and it is inside its p-tag as first item.
p > a.hds-button.hds-button--supplementary:first-child {
  margin-left: calc(-#{$spacing-half} + (-2px));
}

.hds-button--link {
  --border-width: 2px;
  --min-size: 56px;
  --outline-gutter: 2px;
  --outline-width: 3px;
}

// Set colors for all hds-button--link elements that have color defined via primary, secondary or supplementary modifier
@include hds-button-colors-on-light-bg($class: '.hds-button--link');

// Hide target blank explanation text from others than screen-readers
.hds-button__target-blank {
  @include visually-hidden();
}
