.card-teaser__link {
  display: block;

  &::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.card-teaser {
  display: flex;
  height: 100%;
  position: relative;

  &:hover .hel-icon--arrow-right {
    transform: scaleX(var(--lang-direction, 1)) translateX($spacing-quarter);

    @media (prefers-reduced-motion) {
      transform: none;
    }
  }

  @include breakpoint($breakpoint-m) {
    flex-direction: column;
    padding-bottom: 0;
  }

  .card-teaser__img {
    position: relative;
    width: 40%;

    @include breakpoint($breakpoint-m) {
      width: unset;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  .image-placeholder {
    aspect-ratio: 3/2;
  }

  .card-teaser__text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-inline-start: $spacing;
    width: 60%;

    @include breakpoint($breakpoint-m) {
      padding: $spacing 0 0 0;
      width: unset;
    }
  }

  .card-teaser__title {
    margin-bottom: $spacing-half;
    margin-top: 0;

    @include font('h4');
  }

  .card-teaser__datetime {
    color: $color-black-60;
    display: flex;
    flex-grow: 1;
    gap: $spacing-quarter;
    margin-bottom: $spacing-half;

    @include font('small');
  }
}
