$section-gap: $spacing;
$item-gap: $spacing-half;

.card {
  background: $color-white;
  overflow-wrap: anywhere;
  padding: $spacing;
  position: relative;

  & + & {
    margin-top: $spacing;
  }

  @include breakpoint($breakpoint-s) {
    display: flex;
    flex-direction: row-reverse;
    gap: $spacing;
    grid-template-areas: 'content img';
    grid-template-columns: 1fr 30%;
    padding: $spacing;
  }

  @include breakpoint($breakpoint-m) {
    gap: $spacing-and-half;
    padding: $spacing-and-half;
  }
}

.card__image {
  flex-basis: 30%;
  flex-shrink: 0;
  margin-bottom: $section-gap;

  picture,
  img {
    aspect-ratio: 1.5;
    background-color: $color-black-5;
    display: block;
    height: auto;
    width: 100%;
  }

  @include breakpoint($breakpoint-s) {
    margin-bottom: 0;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &::after {
    @include pseudo-icon('arrow-right');
    @include hover-link-arrow-transition;

    --icon-size: #{$spacing-double};
    flex-grow: 1;
    margin-top: $spacing;
    mask-position: bottom center;
    pointer-events: none;

    @include breakpoint($breakpoint-m) {
      --icon-size: #{$spacing-triple};
    }
  }

  .card:focus-within &::after,
  .card:hover &::after {
    transform: translateX($spacing-quarter);

    @media (prefers-reduced-motion) {
      transform: none;
    }
  }

  .card--external &::after {
    @include pseudo-icon-replace('link-external');
  }

  .card--external:focus-within &::after,
  .card--external:hover &::after {
    transform: translate($spacing-quarter, -$spacing-quarter);

    @media (prefers-reduced-motion) {
      transform: none;
    }
  }
}

.card--unpublished {
  color: var(--color-error);
  outline: 2px solid var(--color-error);
  outline-offset: -2px;

  .card__link {
    color: var(--color-error);
  }

  .card__text::after {
    background-color: var(--color-error);
  }
}

.card--external .link__type--external {
  @include visually-hidden; // Avoid two arrows on card visually, but let screen readers see it.
}

.card .content-tags {
  margin-bottom: - $spacing-half;
}

.card__category {
  margin-top: 12px; // Comes from specs
}

.card__title {
  @include font('h3');
  margin: 0;
}

.card__link {
  overflow-wrap: anywhere;
  text-decoration: none;

  &::after {
    content: '';
    inset: 0;
    position: absolute;
  }

  &:active,
  &:focus {
    outline: 3px solid $color-black;
    outline-offset: 2px;
  }

  &:active,
  &:hover {
    text-decoration: underline;
  }
}

.card__description {
  @include font('body');
}

.card__helptext {
  @include font('small');
  color: $color-black-60;
}

.card__description,
.card__helptext {
  margin-top: $item-gap;
}

.card__description > :first-child,
.card__helptext > :first-child {
  margin-top: 0;
}

.card__metas {
  margin-top: $section-gap;
}

.card__meta {
  @include font('body');
  padding-left: $spacing-double; // icon-size + gap

  [dir='rtl'] & {
    padding-left: 0;
    padding-right: $spacing-double; // icon-size + gap
  }

  & + & {
    margin-top: $item-gap;
  }
}

.card__meta__icon {
  --icon-size: #{$spacing-and-half};
  display: inline-block;
  margin-left: - $spacing-double;
  margin-right: $spacing-half;

  [dir='rtl'] & {
    margin-left: $spacing-half;
    margin-right: - $spacing-double;
  }
}

.card__meta__label {
  font-weight: $font-weight-medium;
}

.card p.address {
  display: inline;
}

.card__tags {
  margin-top: $section-gap;
}
