.link__type {
  @include pseudo-icon('link-external', calc(var(--line-height) * 1em), currentColor, inline-block);
  @include hover-link-arrow-transition;

  --external-icon-move: scaleX(var(--lang-direction, 1)) translate(3px, -3px);
  overflow: hidden;
  transform: scaleX(var(--lang-direction, 1));

  @media (prefers-reduced-motion) {
    --external-icon-move: scale(1);
  }
}

a:focus .link__type,
a:hover .link__type {
  transform: var(--external-icon-move);
}

.link__type--tel {
  @include pseudo-icon-replace('tel');

  --external-icon-move: scaleX(var(--lang-direction, 1)) rotate(15deg);
}

.link__type--mailto {
  @include pseudo-icon-replace('mailto');

  --external-icon-move: scaleX(var(--lang-direction, 1)) rotate(15deg);
}

.link__style--highlight {
  @include font('special.large_link');
  margin-bottom: $spacing;
  padding-inline-start: calc(var(--line-height) * 1em + $spacing-half);

  &::before {
    @include pseudo-icon('arrow-right', calc(var(--line-height) * 1em), currentColor, inline-block);
    margin-inline-end: $spacing-half;
    margin-inline-start: calc(var(--line-height) * -1em - $spacing-half);
    transform: scaleX(var(--lang-direction, 1));
  }

  [dir='rtl'] & {
    padding-left: 0;
    padding-right: calc(var(--line-height) * 1em + $spacing-half);

    &::before {
      margin-left: $spacing-half;
      margin-right: calc(var(--line-height) * -1em - $spacing-half);
    }
  }
}
