blockquote[data-helfi-quote],
.quote {
  display: block;
  margin: $spacing-triple 0;
  padding-block: $spacing-half;
  padding-inline-start: $spacing-and-half;
  position: relative;

  @include font('special.quote');

  @include breakpoint($breakpoint-l) {
    margin: $spacing-quadruple 0;
    padding-inline-start: $spacing-double + $spacing-half;
  }

  &::before {
    background-color: var(--hdbt-color-palette--primary);
    content: '';
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    width: 8px;
  }
}

p[data-helfi-quote-text],
.quote__text {
  font-style: italic;
  margin-top: 0;

  &::before {
    content: '”'; // Defaults to finnish quotation syntax https://jkorpela.fi/suomi/lain.html
  }

  &[lang='en']::before,
  [lang='en'] &::before {
    content: '“'; // Uses english format when appropriate
  }

  &::after {
    content: '”';
  }
}

footer[data-helfi-quote-author],
.quote__author {
  @include font('body');
  margin-top: $spacing-and-half;

  &::before {
    content: '-';
    margin-inline-end: 3px;
  }

  cite {
    font-style: normal;
  }
}
