html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

// Border box is applied to all elements but individual elements can change this setting if required.
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg-color;
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
  line-height: $lineheight-l;

  &.gin--horizontal-toolbar {
    // Move toolbar paddings to dialog-off-canvas.
    padding-top: 0 !important;
  }
}
