h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
  line-height: $lineheight-m;
  margin: $spacing-triple 0 0;
  word-break: break-word;
}

h1,
h2,
h3 {
  line-height: $lineheight-s;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h6 {
  @include h6();
}

a {
  color: var(--hdbt-default-link-color);
}

p {
  margin: $spacing 0 0;
}

ul, ol {
  margin: $spacing-and-half 0 0;
  padding-left: $spacing-double;
  padding-top: $spacing-and-half;
}
