// TODO What to do with these?
figure.table {
  margin: 0;
}

// TODO What to do with these?
figure.table figcaption {
  @include font('h4');
  color: $color-black;
  margin-bottom: $spacing;
  margin-top: $spacing;

  @include breakpoint($breakpoint-l) {
    @include font('h3');
  }
}

table {
  @include font('body');
  border: 2px solid $color-black-90;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: auto;

  table:has(tr:nth-child(n+5)) tr:nth-child(even) td {
    background: $color-black-5;
  }

  td,
  th {
    border-bottom: 1px solid $color-black-50;
    color: $color-black;
    min-width: 0;
    padding: $spacing-half $spacing;
    text-align: left;

    @include breakpoint($breakpoint-m) {
      // Specs: 12px top and bottom padding.
      padding: 12px $spacing-and-half;
    }
  }

  th {
    background: $color-black-10;
    font-weight: $font-weight-bold;

    strong {
      font-weight: $font-weight-bold;
    }
  }

  td {
    background: $color-white;
  }
}
