h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: $spacing-triple;

  // Editors started using strong inside headings, but this is not wanted. This should disable the effect and discourage adding them.
  strong {
    font-weight: inherit;
  }
}

// h1 hyphenation is handled separately
h2,
h3,
h4,
h5,
h6 {
  @include heading-hyphens;
}

h1 {
  @include font('h1');

  @include breakpoint($breakpoint-m) {
    // Margin on top needed to create enough space on top when there is no hero.
    margin-top: $spacing-quadruple;
  }

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-quadruple;
  }
}

h2 {
  @include font('h2');
}

h3 {
  @include font('h3');
}

h4 {
  @include font('h4');
}

h5 {
  @include font('h5');
}

h6 {
  @include font('h6');
}

a {
  color: var(--hdbt-default-link-color);
  overflow-wrap: break-word;
}

p {
  margin-bottom: 0;
  margin-top: $spacing;
  overflow-wrap: break-word;
}
