.hds-checkbox {
  // Theming the hds-checkbox to use Hel.fi brand color scheme.
  --background-hover: #{$color-black};
  --background-selected: #{$color-black};
  --background-unselected: #{$color-white};
  --border-color-selected-focus: #{$color-black};
  --border-color-selected-hover: #{$color-black};
  --border-color-selected: #{$color-black};
  --focus-outline-color: #{$color-black};

  .hds-checkbox__input:focus {
    outline: var(--outline-width) solid var(--focus-outline-color); // Add a regular outline around checkbox
    outline-offset: var(--outline-gutter, 2px); // Add some offset to handle black border vs black outline contrast

    & + .hds-checkbox__label::before {
      box-shadow: none; // Remove hds outline as it causes false positives in accessibility tools
    }
  }
}
