$collapsible_height: 56px;

.collapsible-wrapper {
  position: relative;
}

.collapsible__element {
  border: 2px solid #808080;
  border-radius: 2px;
}

.collapsible-container {
  align-items: center;
  background: #fff;
  display:flex;
  font-size: 18px;
  height: $collapsible_height;
  margin-bottom: 16px;
  padding: 12px;
}

.collapsible__title {
  width: calc(100% - 24px);
}

.collapsible__control {
  align-items: center;
  background: #fff;
  display: flex;
  font-size: 18px;
  height: 56px;
  padding: 12px 16px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &:active,
  &:hover, {
    border: 2px solid $color-black;
  }
}

.collapsible__children {
  background-color: #fff;
  position: absolute;
  top: $collapsible_height;
  width: 100%;

  // Show above other components when opened
  z-index: 2;
}
