$collapsible-height: 56px;

.collapsible-wrapper {
  position: relative;
}

.collapsible__element {
  border: 2px solid $color-black-50;
}

.collapsible-container {
  align-items: center;
  background: $color-white;
  display: flex;
  height: $collapsible-height;
  margin-bottom: $spacing;
  padding: $spacing;
}

.collapsible__title {
  width: calc(100% - $spacing-and-half);
}

.collapsible__control {
  @include font('body');
  align-items: center;
  background: $color-white;
  color: $color-black;
  display: flex;

  // 12px is for keeping padding in line with HDS select component
  padding: 12px $spacing;
  text-align: start;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &:active,
  &:hover,
  &:focus {
    border-color: $color-black;
  }

  &:focus {
    outline: 3px solid $color-coat-of-arms;
  }
}

.collapsible__control[aria-expanded='true'] {
  border-bottom: 1px solid $color-black-20;
}

// Match the HDS style of outlining handle when control is focused
.collapsible__control:focus .collapsible__handle {
  outline: 3px solid $color-black;
}

// ... and hide the outline when dropdown is opened
.collapsible__control[aria-expanded='true'] .collapsible__handle {
  outline: none;
}

.collapsible__handle {
  height: $spacing-and-half;
  pointer-events: none;
  width: $spacing-and-half;
}

.collapsible__label {
  color: $color-black;
  display: block;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-quarter;
}

.collapsible__children {
  background-color: $color-white;
  border-top: none;
  padding: $spacing;
  position: absolute;
  width: 100%;

  // Show above other components when opened
  z-index: 2;
}

.collapsible__helper {
  color: $color-black-60;
  margin-top: $spacing-half;
}
