.openid-connect-login-form {
  border-bottom: 1px solid $color-black-60;
  margin-bottom: $spacing-double;
  max-width: 600px; // Make the user login form look decent
  padding-bottom: $spacing-double;

  input {
    width: 100%;
  }

  > div {
    margin-top: $spacing;

    &:first-child {
      margin-top: 0;
    }
  }
}
