// Min-width for filter components in desktop. Helps preventing weird behavior with hds-dropdowns.
$filter-component-min-width-xl: 328px;

// Checkbox styles need specific selectors to override HDS styles
.hdbt-search__filter.hdbt-search__checkbox {
  --background-unselected: transparent;
  --background-selected: var(--hdbt-color-black);
  --background-hover: var(--hdbt-color-black);
  --border-color-selected: var(--hdbt-color-black);
  --border-color-selected-hover: var(--hdbt-color-black);
  --border-color-selected-focus: var(--hdbt-color-black);
  --border-color-unselected: var(--hdbt-color-black);
  --border-color-unselected-hover: var(--hdbt-color-black);
  --border-color-unselected-focus: var(--hdbt-color-black);
  --icon-color-unselected: transparent;
  --icon-color-selected: var(--hdbt-text-color);
  --icon-color-disabled: var(--hdbt-text-color);
  --focus-outline-color: var(--hdbt-color-black);
}

.hdbt-search__filter.hdbt-search__checkbox label {
  font-weight: $font-weight-regular;
}

.hdbt-search__filter {
  margin-bottom: $spacing;

  @include breakpoint($breakpoint-xl) {
    min-width: $filter-component-min-width-xl;
  }
}

// Override HDBTs li+li style {
.hdbt-search__filter li {
  margin-top: 0;
}

.hdbt-search__filter label {
  color: $color-black;
  display: block;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-quarter;
}

// Need specific selector here to override HDS styles
.hdbt-search__submit-button:not(:disabled) {
  --background-color: var(--hdbt-color-black);
  --background-color-hover: var(--hdbt-text-color);
  --background-color-focus: var(--hdbt-text-color);
  --background-color-hover-focus: var(--hdbt-text-color);
  --border-color: var(--hdbt-color-black);
  --border-color-hover: var(--hdbt-color-black);
  --border-color-focus: var(--hdbt-color-black);
  --border-color-hover-focus: var(--hdbt-color-black);
  --color: var(--hdbt-text-color);
  --color-hover: var(--hdbt-color-black);
  --color-focus: var(--hdbt-color-black);
  --color-hover-focus: var(--hdbt-color-black);
  --focus-outline-color: var(--hdbt-color-black);
}

// Override HDS styles for date input
.hdbt-search__filter.hdbt-search__date-input {
  --focus-outline-color: var(--hdbt-color-black);
}

// Override HDBT table styles to fix date picker
.hdbt-search__date-input table {
  border: none;
  display: table;
  margin-top: 0;
}

.hdbt-search__date-input table tbody tr td {
  min-width: unset;
}

.hdbt-search__date-input table thead th {
  background: $color-white;
  color: $color-black;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}

.hdbt-search__date-input table tbody tr td,
.hdbt-search__date-input table thead th {
  min-width: unset;
}
