.hdbt-search__filter {
  margin-bottom: $spacing-and-half;
}

// Checkbox styles need specific selectors to override HDS styles
.hdbt-search__filter.hdbt-search__checkbox {
  --background-unselected: transparent;
  --background-selected: var(--hdbt-color-black);
  --background-hover: var(--hdbt-color-black);
  --border-color-selected: var(--hdbt-color-black);
  --border-color-selected-hover: var(--hdbt-color-black);
  --border-color-selected-focus: var(--hdbt-color-black);
  --border-color-unselected: var(--hdbt-color-black);
  --border-color-unselected-hover: var(--hdbt-color-black);
  --border-color-unselected-focus: var(--hdbt-color-black);
  --icon-color-unselected: transparent;
  --icon-color-selected: var(--hdbt-text-color);
  --icon-color-disabled: var(--hdbt-text-color);
  --focus-outline-color: var(--hdbt-color-black);
  margin-bottom: $spacing-half;
}

.hdbt-search__filter.hdbt-search__checkbox label {
  font-weight: $font-weight-regular;
}

// Override HDBTs li+li
.hdbt-search__filter li {
  margin-top: 0;
}

.hdbt-search__filter label {
  color: $color-black;
  display: block;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-quarter;
}

.hdbt-search--react__dropdown-filters {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-and-half;
  justify-content: space-between;
  margin-bottom: $spacing;

  > div {
    width: 100%;
  }

  @include breakpoint($breakpoint-m) {
    > div {
      width: calc(50% - $spacing-and-half);
    }
  }
}

// Override default li styles
.hdbt-search--react__dropdown li + li {
  margin-top: 0;
}

.hdbt-search--react__submit-button {
  margin-bottom: $spacing-double;
  margin-top: $spacing;
  max-width: 280px;
  width: 100%;
}

// Need specific selector here to override HDS styles
.hdbt-search--react__submit-button:not(:disabled) {
  --background-color: var(--hdbt-color-black);
  --background-color-hover: var(--hdbt-text-color);
  --background-color-focus: var(--hdbt-text-color);
  --background-color-hover-focus: var(--hdbt-text-color);
  --border-color: var(--hdbt-color-black);
  --border-color-hover: var(--hdbt-color-black);
  --border-color-focus: var(--hdbt-color-black);
  --border-color-hover-focus: var(--hdbt-color-black);
  --color: var(--hdbt-text-color);
  --color-hover: var(--hdbt-color-black);
  --color-focus: var(--hdbt-color-black);
  --color-hover-focus: var(--hdbt-color-black);
  --focus-outline-color: var(--hdbt-color-black);
  margin-bottom: $spacing-double;
  margin-top: $spacing;
}

// Override HDS styles for date input
.hdbt-search__filter.hdbt-search__date-input {
  --focus-outline-color: var(--hdbt-color-black);
}

// Check this table when work with https://helsinkisolutionoffice.atlassian.net/browse/UHF-3044
// Override HDBT table styles to fix date picker
.hdbt-search__date-input table {
  border: none;
  display: table;
  margin-top: 0;
}

.hdbt-search__date-input table thead th {
  background: $color-white;
  color: $color-black;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}

// Use a very specific selector here to override hds styles
button.hdbt-search__remove-selection-button:not(:disabled) {
  @include tag('interactive--deletable');

  --color-hover-focus: var(--hdbt-text-color);
  color: var(--hdbt-color-black);
}

// Neagate HDS-defined paddings for span-element inside button
.hdbt-search__remove-selection-button span {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

// Negate HDS-defined margin for icon inside remove button
.hdbt-search__selections-wrapper button.hdbt-search__remove-selection-button > div {
  margin-right: 0;
}

.hdbt-search__selections-container {
  list-style-type: none;
}

.hdbt-search__clear-all {
  margin-top: 0;

  &:only-child {
    // Hide the clear all container when there is no content tags on the selections container
    // so that it doesn't take up empty space under the search button.
    display: none;
  }
}

// Need a specific selector to override hds styles
.hdbt-search__clear-all .hdbt-search__clear-all-button {
  --background-color-hover: transparent;
  --background-color-focus: transparent;
  --background-color-hover-focus: transparent;
  --border-color-hover: var(--hdbt-color-black);
  --border-color-focus: var(--hdbt-color-black);
  --border-color-hover-focus: var(--hdbt-color-black);
  --color: var(--hdbt-color-black);
  --color-hover: var(--hdbt-color-black);
  --color-focus: var(--hdbt-color-black);
  --color-hover-focus: var(--hdbt-color-black);
  --focus-outline-color: var(--hdbt-color-black);
}

// Remove margin from pill buttons
.hdbt-search__clear-all [class*='button_hds-button__label'] ~ [class*='button_hds-icon'],
[class*='button_hds-button'] [class*='button_hds-icon'] {
  // Use important to override hds styles
  margin: 0 !important;
}

.hdbt-search--react__form-description {
  margin-bottom: $spacing-and-half;
}

.hdbt-search--react__form-container {
  margin-bottom: $spacing-double;
  max-width: $content-width-max;
}

.hdbt-search--react__text-field {
  margin-bottom: $spacing-double;
}

// Override some fieldset default styles here
.hdbt-search--react__fieldset {
  border: none;
  margin-bottom: $spacing-double;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  @include breakpoint($breakpoint-l) {
    display: flex;
  }
}

.hdbt-search--react__legend {
  font-weight: $font-weight-medium;
  margin-bottom: $spacing;
}

// Use specific selectors here to override HDS styles
fieldset .hdbt-search--react__checkbox {
  --background-selected: var(--hdbt-color-black);
}

fieldset .hdbt-search--react__checkbox:not(:first-of-type) {
  margin-top: $spacing-and-half;

  @include breakpoint($breakpoint-l) {
    margin-left: $spacing;
    margin-top: 0;
  }
}
