.hdbt--select-wrapper {
  @include font('body');

  --border-width: 2px;
  --input-height: 52px;
  --menu-item-height: 52px;
  --icon-size: var(--spacing-layout-s);
  --icon-spacing: calc(((var(--spacing-s) - var(--border-width) * 2) * 2) + var(--icon-size));
  --helper-color-default: #{$color-black-60};
  --helper-color-invalid: #{$color-error};
  --icon-color-invalid: #{$color-error};
  --input-background-default: #{$color-white};
  --input-background-disabled: #{$color-black-10};
  --input-border-color-default: #{$color-black-50};
  --input-border-color-hover: #{$color-black-90};
  --input-border-color-focus: #{$color-black-90};
  --input-border-color-invalid: #{$color-error};
  --input-border-color-disabled: #{$color-black-10};
  --input-color-default: #{$color-black-90};
  --input-color-disabled: #{$color-black-40};
  --label-color-default: #{$color-black-90};
  --label-color-invalid: #{$color-black-90};
  --placeholder-color: #{$color-black-60};
  --focus-outline-color: #{$color-black};
  --outline-width: 3px;
  align-items: center;
  appearance: none;
  background-color: var(--input-background-default);
  border: var(--border-width) solid var(--input-border-color-default);
  box-sizing: border-box;
  color: var(--input-color-default);
  cursor: pointer;
  display: block;
  grid-template-areas: 'select';
  min-width: 15ch;
  padding: 0;
  position: relative;
  width: 100%;

  select,
  &::after {
    grid-area: select;
  }

  select {
    @include font('body');
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    color: var(--dropdown-color-default);
    cursor: inherit;
    display: flex;
    font-family: inherit;
    height: var(--input-height);
    margin: 0;
    min-height: var(--menu-item-height);
    outline: none;
    padding: calc(var(--spacing-s) - var(--border-width) * 2) var(--icon-spacing) calc(var(--spacing-s) - var(--border-width) * 2) var(--spacing-s);
    width: 100%;
    z-index: 1;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: var(--outline-width) solid var(--focus-outline-color);
      outline-offset: 4px;
    }
  }

  .hel-icon {
    --icon-size: var(--spacing-m);
    pointer-events: none;
    position: absolute;
    right: calc(var(--spacing-s) - var(--border-width) * 2);
    top: 50%;
    transform: translateY(-50%);
  }

  // Custom arrow
  &:not(.select--multiple)::after {
    background-color: var(--helper-color-default);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    content: '';
    height: 0.5em;
    justify-self: end;
    width: 0.8em;
  }
}

// Disabled select styles
.hdbt--select-wrapper--disabled {
  background-color: var(--input-background-disabled);
  border: var(--border-width) solid var(--input-border-color-disabled);
  color: var(--input-color-disabled);
  cursor: not-allowed;

  select:disabled {
    color: var(--input-color-disabled);
    opacity: 1;
  }
}
