.block--branding {
  align-items: center;
  display: flex;
  grid-area: logo;
  height: var(--branding-height);
  z-index: 1;

  @include breakpoint($breakpoint-m) {
    height: auto;
  }

  .city-name__non-core,
  .city-name {
    @include font('special.navigation.city_name');
    color: $color-black;
    margin-left: $spacing-half;
    margin-right: $spacing-half;

    @include breakpoint($breakpoint-l) {
      margin-left: $spacing;
      margin-right: $spacing;
    }
  }

  .city-name {
    display: none;

    @include breakpoint($breakpoint-l) {
      display: flex;
    }
  }

  .city-name__non-core {
    text-wrap: wrap;

    @include breakpoint(400px) {
      text-wrap: nowrap;
    }
  }

  a:focus .city-name,
  a:hover .city-name {
    text-decoration: underline;
    text-decoration-thickness: remify(2px);
  }
}
