.block--branding {
  align-items: center;
  display: flex;
  grid-area: logo;
  height: var(--branding-height);
  z-index: 1;

  @include breakpoint($breakpoint-m) {
    height: auto;
  }

  .city-name {
    color: $color-black;
    display: none;
    margin-left: $spacing-half;
    margin-right: $spacing-half;

    @include breakpoint($breakpoint-l) {
      @include font('special.navigation.city_name');
      display: flex;
      margin-left: $spacing;
      margin-right: $spacing;
    }
  }

  a:focus .city-name,
  a:hover .city-name {
    text-decoration: underline 2px;
  }
}
