#chat-leijuke-wrapper {
  bottom: 0;
  color: $color-white;
  position: fixed;
  right: 0;
  z-index: 1;
}

.chat-leijuke {
  align-items: center;
  background: $color-black;
  border: 2px solid $color-white;
  border-radius: $spacing-half;
  color: $color-white;
  cursor: pointer;
  display: flex;
  flex: auto;
  gap: $spacing-half;
  padding: $spacing-half $spacing;

  @include font('body');

  &.hidden {
    display: none;
  }

  .hel-icon--angle-up {
    margin-left: auto;
  }
}

.cx-widget.cx-side-button-group {
  display: none;
}

// Disable linter, because the html structure is third party
// stylelint-disable-next-line selector-id-pattern
#aca--widget-button {
  opacity: 0;
}

// Cookie banner adjustments to chat button positions.
aca-chat-app-button .chat-button-wrapper,
#chat-leijuke-wrapper {
  bottom: calc(var(--hds-cookie-consent-height, -8px) + 8px); // If cookie banner is not visible, fallback bottom to 0 px (-8 + 8 = 0)
}
