$-otherlangs-min-width: 240px; // From design specs

.headerlanguagelinks__menu-dropdown {
  background-color: $color-black-5;
  height: auto; // Can not be 100% or the background will stop early on landscape mobile screens.
  list-style: none;
  margin: 0;
  min-height: 100%;
  min-width: $-otherlangs-min-width;
  padding: $spacing;
  width: auto;

  @include breakpoint($breakpoint-l) {
    border: 1px solid $color-black-20;
    border-top: 0;
    height: auto;
    max-width: 200px;
    pointer-events: all;
  }
}

.headerlanguagelinks__group {
  list-style-type: none;
  padding-left: $spacing-half;
}

.headerlanguagelinks__group + .headerlanguagelinks__group {
  margin-top: $spacing-and-half;
}

.headerlanguagelinks__link {
  @include font('small');
  display: block;

  & + .headerlanguagelinks__group,
  & + .headerlanguagelinks__link {
    margin-top: $spacing-half;
  }

  &:not(.headerlanguagelinks__link--nolink) {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: remify(2px);
    }
  }
}

.headerlanguagelinks__link--nolink {
  display: block;
  font-weight: $font-weight-bold;
}
