// React & Share block
.block--react-and-share {
  @include component-margin-top;
  width: 100%;

  &:has(+ style + style:last-child), // When logged in as admin, an accessibility plugin adds two style-elements and this combats that case
  &:last-child {
    background: $color-black-5;

    .rns .rns-plugin {
      padding-bottom: 112px;
    }
  }
}

.js .block--react-and-share:has(+ style + style:last-child), // When logged in as admin, an accessibility plugin adds two style-elements and this combats that case
.js .block--react-and-share:last-child {
  margin-bottom: -112px;
}

.rns {
  @include components-container-max-width;
  @include component-side-padding;
  margin-left: auto;
  margin-right: auto;

  .rns-plugin {
    font-family: $base-font-family;
    margin: 0;
    padding-bottom: 80px;
    padding-top: 80px;

    // Hide "created with..." text.
    .rns-footer {
      display: none;
    }

    // Reactions
    .rns-reactions {
      max-width: 688px; // Abstract width from the designs.

      .rns-header {
        @include font('h4');
        margin-bottom: 0;
      }

      .reactions {
        margin-top: $spacing-and-half;

        @media only screen and (min-width: 681px) {
          margin-left: calc(-#{$spacing-and-half} / 2);
          margin-right: calc(-#{$spacing-and-half} / 2);
        }

        .rns-reaction {
          flex-grow: 0;
          margin: 0 calc(#{$spacing-and-half} / 2);
          max-width: 190px; // Abstract width from the designs.
          padding: 0;

          @media only screen and (max-width: 680px) {
            max-width: 100%;
          }

          // Mobile styles
          @media only screen and (max-width: 680px) {
            margin: $spacing 0 0;
            padding: 0;
            width: 100%;
          }

          &:first-child {
            @media only screen and (max-width: 680px) {
              margin-top: 0;
            }
          }

          .rns-reaction-button {
            border-color: $color-black;
            padding: 14px $spacing-double;
            position: relative;

            &::before {
              --size: 100%;
              border: 2px solid transparent;
              content: '';
              height: var(--size);
              left: 0;
              position: absolute;
              width: var(--size);
            }

            .rns-label {
              @include font('button');
              align-items: center;
              color: $color-black;
              display: flex;
              justify-content: center;
              min-width: max-content;
              width: 100%;

              &::after {
                @include pseudo-icon('face-neutral', $spacing-and-half, $color-black, flex);
                margin-left: 16px;
              }
            }

            .rns-reaction-count {
              display: none;
            }

            &:focus {
              background-color: $color-white;
              box-shadow: none;
              color: $color-black;

              .rns-label {
                color: $color-black;
              }

              &::before {
                --size: calc(100% + calc(#{$spacing-and-half} / 2));
                border-color: $color-black;
                left: calc(-#{$spacing-and-half} / 4);
              }
            }

            &:hover {
              background-color: $color-black;

              .rns-label {
                color: $color-white;

                &::after {
                  background-color: $color-white;
                }
              }
            }

            &:focus:hover .rns-label {
              color: $color-white;
            }
          }

          &.selected .rns-reaction-button {
            background-color: $color-black !important;

            .rns-label {
              color: $color-white;

              &::after {
                background-color: $color-white;
              }
            }
          }

          &:first-child .rns-label::after {
            @include pseudo-icon-replace('face-smile');
          }

          &:last-child .rns-label::after {
            @include pseudo-icon-replace('face-sad');
          }
        }
      }
    }

    // Shares
    .rns-shares {
      margin-top: $spacing-quadruple;
      padding: 0 calc(#{$spacing-and-half} / 4); // Padding to make it possible for the focus outlines to be visible.

      .rns-header {
        @include font('h5');
        margin-bottom: 0;
      }

      .rns-shares-list {
        margin-top: $spacing-double;

        @media only screen and (min-width: 681px) {
          margin-bottom: 0;
          margin-left: -$spacing-half;
          margin-right: -$spacing-half;
          margin-top: $spacing-double;
        }

        .rns-share {
          margin: 0 $spacing-half;
          padding: 0 !important;
          width: auto;

          // Mobile styles
          @media only screen and (max-width: 680px) {
            margin: $spacing 0 0;
            padding: 0 !important;
            width: calc(50% - #{$spacing});
          }

          &:first-child,
          &:nth-child(2) {
            @media only screen and (max-width: 680px) {
              margin: 0;
            }
          }

          &:nth-child(odd) {
            @media only screen and (max-width: 680px) {
              margin-right: $spacing-quarter;
            }
          }

          &:nth-child(even) {
            @media only screen and (max-width: 680px) {
              margin-left: $spacing-quarter;
            }
          }

          .rns-share-button {
            align-items: center;
            background-color: transparent;
            border: 0;
            color: $color-black;
            display: flex;
            justify-content: left;
            padding: 0;

            &::after {
              --size: 100%;
              border: 2px solid transparent;
              content: '';
              height: var(--size);
              left: 0;
              position: absolute;
              width: var(--size);
            }

            &::before {
              @include pseudo-icon('share', $spacing-double, $color-black, flex);
              margin-right: $spacing-half;
            }

            &:focus {
              box-shadow: none;
              outline: none;

              &::after {
                --size: calc(100% + #{$spacing-half});
                border-color: $color-black;
                left: calc(-#{$spacing-half} / 2);
                top: calc(-#{$spacing-half} / 2);
              }
            }

            &:hover {
              opacity: 1;

              &::before {
                background-color: $color-black;
              }

              .rns-label {
                color: $color-black;
                text-decoration: underline;
                text-decoration-thickness: remify(2px);
                text-underline-offset: 10%;
              }
            }

            .rns-icon {
              display: none;
            }

            .rns-label {
              @include font('button');
              padding-right: calc(#{$spacing-half} / 2);
            }
          }

          &.rns-share-facebook .rns-share-button::before {
            @include pseudo-icon-replace('facebook');
          }

          &.rns-share-whatsapp .rns-share-button::before {
            @include pseudo-icon-replace('whatsapp');
          }

          &.rns-share-twitter .rns-share-button::before {
            @include pseudo-icon-replace('twitter');
          }

          &.rns-share-email .rns-share-button::before {
            @include pseudo-icon-replace('email');
          }
        }
      }
    }

    // Inputs
    .rns-inputs {
      margin-top: $spacing-triple;
      max-width: 688px; // Abstract width from designs.
      padding: calc(#{$spacing-and-half} / 4); // Padding to make it possible for the focus outlines to be visible.

      .rns-header {
        @include font('h5');
        margin-bottom: 0;
      }

      .rns-input-description {
        @include font('small');
        color: $color-black-60;
        margin: $spacing-and-half 0 0;
        opacity: 1;
      }

      .rns-input-field {
        @include font('body');
        border: 2px solid $color-black-50;
        font-family: $base-font-family;
        height: 188px; // Abstract width from designs.
        margin-top: $spacing-and-half;
        padding: $spacing;
      }
    }
  }

  .rns-plugin .rns-inputs .rns-form-submit {
    @include font('button');
    background-color: $color-black;
    border: 2px solid $color-black;
    color: $color-white;
    display: inline-flex;
    margin-top: $spacing-and-half;
    padding: $spacing $spacing-and-half;
    position: relative;

    &::after {
      @include pseudo-icon('arrow-right', $spacing-and-half, $color-white, flex);
      margin-left: $spacing;
    }

    &::before {
      --size: 100%;
      border: 2px solid transparent;
      content: '';
      height: var(--size);
      left: 0;
      position: absolute;
      top: 0;
      width: var(--size);
    }

    &:focus {
      box-shadow: none;
      outline: none;

      &::before {
        --size: calc(100% + calc(#{$spacing-and-half} / 2));
        border-color: $color-black;
        left: calc(-#{$spacing-and-half} / 4);
        top: calc(-#{$spacing-and-half} / 4);
      }
    }

    &:hover {
      background-color: $color-white;
      color: $color-black;

      &::after {
        background-color: $color-black;
      }
    }
  }
}
