.page-type--news-item .sidebar-first {
  display: block;
}

.news-listing {
  margin-top: 0;
  padding-inline-start: 0;
  padding-top: 0;
}

:not(.latest-news-list, .component--top-news .news-listing) > .news-listing__item {
  list-style: none;
  margin-top: $spacing-and-half;
  padding-left: 0; // Remove card paddings from news listing
  padding-right: 0; // Remove card paddings from news listing
  position: relative;
}

.news-listing__link {
  display: block;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.news-listing__title {
  margin-top: 0;
}

.news-listing__datetime {
  @include font('small');
  color: $color-black-60;
}

.components--news {
  margin-top: 0;
}

.news-listing__content--unpublished {
  &::before {
    opacity: .3;
  }

  .news-listing__link,
  .news-listing__datetime {
    color: var(--color-error);
  }
}

// News listings using tiny-teasers.
.news-listing--latest-tiny-teasers {
  .news-listing__item {
    border-bottom: 1px solid var(--color-black-10);
    display: flex;
    margin-top: $spacing;
    padding-bottom: $spacing-half;
  }
}

.news-listing__tiny-teaser .news-listing__title {
  @include font('special.large_link');
  margin-bottom: $spacing-half;
}

// News listings using medium teasers.
.news-listing--medium-teasers {
  list-style: none;

  .news-listing__item + .news-listing__item {
    margin-top: $spacing-and-half;

    @include breakpoint($breakpoint-m) {
      margin-top: 0;
    }
  }
}

// Latest news block variant.
.news-listing--latest-medium-teasers {
  padding-inline-start: 0; // User agent stylesheet override

  @include breakpoint($breakpoint-m) {
    display: flex;
    flex-wrap: wrap;
  }

  .news-listing__item {
    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2) {
      @include breakpoint($breakpoint-m) {
        margin-top: 0;
      }
    }

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing-double;
      padding-inline-end: $spacing-and-half;
      width: 50%;
    }
  }
}

.news-listing__medium-teaser {
  padding-inline-start: $spacing + $spacing-quarter;

  @include breakpoint($breakpoint-l) {
    padding-inline-start: $spacing-and-half + $spacing-quarter;
  }

  &::before {
    background-color: var(--hdbt-color-palette--accent);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $spacing-quarter;
  }

  .news-listing__title {
    @include font(h5);

    @include breakpoint($breakpoint-l) {
      @include font(h4);
    }
  }

  .news-listing__datetime {
    display: block;
    margin-top: $spacing;

    @include breakpoint($breakpoint-l) {
      margin-top: $spacing-and-half;
    }
  }
}

// News listing using teasers.
.news-listing--teasers {
  max-width: $content-width-max;

  .news-listing__item {
    align-items: flex-start;
    border-bottom: 1px solid $color-silver-light;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $spacing-and-half;
    position: relative;

    &:first-child {
      margin-top: $spacing-and-half;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .news-listing__content {
    width: 100%;

    @include breakpoint($breakpoint-m) {
      padding-inline-end: $spacing-and-half;
      width: 75%;
    }
  }

  .news-listing__content--with-image {
    padding-inline-end: $spacing-and-half;
    width: 75%;
  }

  .news-listing__img {
    @include loading-image-background;
    width: 25%;

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  .news-listing__title {
    @include font('h4');
  }

  .news-listing__datetime {
    @include font(small);
    display: block;
    margin-top: $spacing-half;

    @include breakpoint($breakpoint-l) {
      margin-top: $spacing;
    }
  }
}

.news-listing--card-teasers {
  grid-gap: 0;
  display: grid;
  list-style: none;
  padding-left: 0;

  @include breakpoint($breakpoint-m) {
    grid-column-gap: $spacing-and-half;
    grid-template-columns: repeat(3, 1fr);
  }

  .news-listing__item + .news-listing__item {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-m) {
      margin-top: 0;
    }
  }
}

.news-listing__card-teaser {
  display: flex;
  height: 100%;
  position: relative;

  &:hover .hel-icon--arrow-right {
    transform: scaleX(var(--lang-direction, 1)) translateX($spacing-quarter);

    @media (prefers-reduced-motion) {
      transform: none;
    }
  }

  @include breakpoint($breakpoint-m) {
    flex-direction: column;
    padding-bottom: 0;
  }

  .news-listing__title {
    @include font('h4');
  }

  .news-listing__img {
    position: relative;
    width: 40%;

    @include breakpoint($breakpoint-m) {
      width: unset;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  .image-placeholder {
    aspect-ratio: 3/2;
  }

  .news-listing__text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-inline-start: $spacing;
    width: 60%;

    @include breakpoint($breakpoint-m) {
      padding: $spacing 0 0 0;
      width: unset;
    }
  }

  .news-listing__link {
    text-decoration: underline;
  }

  .news-listing__title,
  .news-listing__datetime {
    margin-bottom: $spacing-half;
  }

  .news-listing__datetime {
    display: flex;
    flex-grow: 1;
  }

  .hel-icon--arrow-right {
    @include hover-link-arrow-transition;
    display: none;
    height: $spacing-triple;
    pointer-events: none;
    transform: scaleX(var(--lang-direction, 1));
    width: $spacing-triple;

    @include breakpoint($breakpoint-m) {
      display: inline-block;
    }
  }
}

.news-listing--sidebar {
  margin-bottom: $spacing-quadruple;

  .link__read-more-news {
    align-items: center;
    display: flex;
    text-decoration: none;

    .hel-icon--arrow-right {
      @include hover-link-arrow-transition;
      height: $spacing-and-half;
      margin-inline-start: $spacing-quarter;
      transform: scaleX(var(--lang-direction, 1));
      width: $spacing-and-half;
    }

    &:focus,
    &:hover {
      text-decoration: underline;

      .hel-icon {
        transform: scaleX(var(--lang-direction, 1)) translateX($spacing-quarter);

        @media (prefers-reduced-motion) {
          transform: none;
        }
      }
    }
  }
}
