$teaser-icon-size-mobile: 32px;
$teaser-icon-size-desktop: 48px;

.service__units {
  @include component-margin-top;
}

.main-content:last-child .service.service--full {
  .component--service-units:last-child {
    // Make the keywords element go "under" the footer.
    margin-bottom: calc(-1 * (#{$footer-koro-height} + #{$spacing-quadruple}));
    padding-bottom: $spacing-triple + $footer-koro-height;

    @include breakpoint($breakpoint-l) {
      padding-bottom: $spacing-quadruple + $footer-koro-height;
    }
  }
}

.service.service--teaser {
  @include breakpoint($breakpoint-l) {
    height: 100%;
    margin-left: calc(#{$spacing-and-half} / 2);
    margin-right: calc(#{$spacing-and-half} / 2);
  }

  .service__link {
    border: 1px solid $color-black;
    display: block;
    height: 100%;
    margin-top: $spacing-half;
    padding: $spacing-and-half calc(#{$spacing-and-half} + #{$teaser-icon-size-mobile} + #{$spacing}) $spacing-and-half $spacing-and-half;
    position: relative;
    text-decoration: none;

    @include breakpoint($breakpoint-l) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 0; // Remove extra space under the arrow icon on larger card
      margin-top: 0;
      min-height: 240px; // As in designs
      padding: $spacing-double $spacing-and-half calc(#{$spacing-and-half} + #{$spacing-and-half});
    }

    &::before {
      background-color: $color-gold;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: $spacing-half;

      @include breakpoint($breakpoint-l) {
        bottom: 0;
        height: $spacing-and-half;
        right: 0;
        top: auto;
        width: 100%;
      }
    }

    &:hover {
      .hel-icon {
        margin-left: $spacing;

        @media (prefers-reduced-motion) {
          margin-left: 0;
        }
      }
    }
  }

  .service__title {
    @include font('h4');
    margin: 0;
  }

  .hel-icon {
    --icon-size: #{$teaser-icon-size-mobile};
    bottom: 50%;
    left: auto;
    position: absolute;
    right: $spacing;
    transform: translateY(50%);
    transition: all 0.3s;

    @media (prefers-reduced-motion) {
      transition: none;
    }

    @include breakpoint($breakpoint-l) {
      --icon-size: #{ $teaser-icon-size-desktop};
      margin-top: $spacing-and-half;
      position: static;
      right: auto;
      transform: none;
    }
  }
}

.service.service--teaser-search-result {
  padding-bottom: $gutter;
  .service__link {
    margin-top: $spacing-double;
    padding: 0 $spacing-and-half $spacing-double;
    padding-bottom: $spacing-half;
    position: relative;
    text-decoration: none;
    width: 100%;

    @include breakpoint($breakpoint-m) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0;
      padding: $spacing-double;
      padding-bottom: $spacing-half;
    }
    .service__title {

      font-style: normal;
      font-weight: $font-weight-medium;

      @include font('special.card_title');
      margin-bottom: $spacing-quarter;
      margin-top: 0;
      padding-right: $spacing-and-half;

      @include breakpoint($breakpoint-m) {
        margin-bottom: 0;
        padding-right: 0;
        width: 100%;
        font-size: $base-font-size + 10;
      }
      @include breakpoint($breakpoint-l) {
        font-size: $base-font-size * 2;
      }
    }
    .service__content {
      align-content: flex-start;

      .short-desc {
        font-size: $base-font-size;
        font-style: normal;
        font-weight: $font-weight-regular;
        display: inline-flex;
        width: 90%;
        @include breakpoint($breakpoint-xs) {
          width: 80%;
        }
        @include breakpoint($breakpoint-l) {
          width: 90%;
        }
      }

      @include breakpoint($breakpoint-m) {
        display: flex;
        flex-wrap: wrap;
      }
      .channels {
        display: inline-flex;
        @include breakpoint($breakpoint-xs) {
          width: 80%;
        }
        @include breakpoint($breakpoint-l) {
          width: 90%;
        }
        //width: 90%;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          :nth-child(even) {
            margin-left: $spacing-half;
          }
        }
        li {
          background-color: rgb(222, 223, 225);
          border-radius: 25px;
          display: inline-block;
          padding: $spacing-half $gutter;
          font-style: normal;
          font-weight: $font-weight-medium;
          font-size: $base-font-size;
          @include breakpoint(540px) {
              & + li {
                margin-left: $spacing-half;
              }
          }
        }
      }
    }
    .service__read-more {
      display: inline-flex;
      @include breakpoint($breakpoint-m) {
        justify-content: flex-end;
        width: 100%;
      }

      .hel-icon {
        position: absolute;
        bottom: 10%;
        --icon-size: #{$teaser-icon-size-mobile};
        margin-right: $spacing;
        transition: all 0.3s;
        @media (prefers-reduced-motion) {
          transition: none;
        }

        @include breakpoint($breakpoint-l) {
          --icon-size: #{ $teaser-icon-size-desktop};
          margin-top: $spacing-and-half;
        }
      }
    }

    &:hover {
      text-decoration: none;
      .service__title {
        text-decoration: underline;
      }

      .service__read-more {
        .hel-icon {
          transform: translateX($spacing);
          @media (prefers-reduced-motion) {
            transform: none;
          }
        }
      }
    }
  }

}

.service--units__container {
  margin-bottom: $spacing-quadruple;
  margin-top: $spacing-quadruple;
}

.component--service-units {
  background-color: $color-black-5;
  padding-bottom: $spacing-sextuple;
  padding-top: $spacing-sextuple;

  .service__units__header {
    display: block;
  }

  .service__units__title {
    margin-top: 0;
  }

  .service__units__count-container {
    @include font('lead');
    display: block;
    margin-top: $spacing;
    white-space: nowrap;

    .service__units__count {
      font-weight: $font-weight-bold;
    }
  }

  .service__units__list {
    margin-top: $spacing-and-half;

    @include breakpoint($breakpoint-l) {
      margin-top: $spacing-triple;
    }
  }

  .unit.unit--teaser {
    margin-top: $spacing-and-half;

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing;
    }
  }
}
