$teaser-icon-size-mobile: 32px;
$teaser-icon-size-desktop: 48px;

.main-content:last-child .service.service--full {
  .component--service-units:last-child {
    // Make the keywords element go "under" the footer.
    margin-bottom: calc(-1 * (#{$footer-koro-height} + #{$spacing-quadruple}));
    padding-bottom: $spacing-triple + $footer-koro-height;

    @include breakpoint($breakpoint-l) {
      padding-bottom: $spacing-quadruple + $footer-koro-height;
    }
  }
}

.service.service--teaser {
  @include font('body');
}

.service.service--teaser--unpublished {
  color: var(--color-error);

  .service__link,
  a {
    border-color: var(--color-error);
    color: var(--color-error);

    &::before {
      opacity: 30%;
    }
  }

  .hel-icon {
    background-color: var(--color-error);
  }
}

.service__link {
  border: 1px solid $color-black;
  display: block;
  height: 100%;
  margin-top: $spacing-half;
  padding: $spacing-and-half calc(#{$spacing-and-half} + #{$teaser-icon-size-mobile} + #{$spacing}) $spacing-and-half $spacing-and-half;
  position: relative;
  text-decoration: none;

  @include breakpoint($breakpoint-l) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 0; // Remove extra space under the arrow icon on larger card
    margin-top: 0;
    min-height: 240px; // As in designs
    padding: $spacing-double $spacing-and-half calc(#{$spacing-and-half} + #{$spacing-and-half});
  }

  &::before {
    background-color: $color-gold;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $spacing-half;

    @include breakpoint($breakpoint-l) {
      bottom: 0;
      height: $spacing-and-half;
      right: 0;
      top: auto;
      width: 100%;
    }
  }
}

.service__link:hover
.service__link:focus {
  text-decoration: underline;
  text-decoration-thickness: remify(2px);
}

.service__link:hover .hel-icon {
  text-decoration: underline;
  text-decoration-thickness: remify(2px);

  @include breakpoint($breakpoint-l) {
    transform: translateX($spacing);

    @media (prefers-reduced-motion) {
      transform: none;
    }
  }
}

.service--units__container {
  margin-bottom: $spacing-quadruple;
  margin-top: $spacing-quadruple;
}

.component--service-units {
  background-color: $color-black-5;
  padding-block: $spacing-double;

  @include breakpoint($breakpoint-l) {
    padding-block: $spacing-quadruple;
  }

  .service__units__header {
    display: block;
  }

  .service__units__title {
    margin-top: 0;
  }

  .service__units__count-container {
    @include font('lead');
    display: block;
    margin-top: $spacing;
    white-space: nowrap;

    .service__units__count {
      font-weight: $font-weight-bold;
    }
  }

  .service__units__list {
    margin-top: $spacing-and-half;

    @include breakpoint($breakpoint-l) {
      margin-top: $spacing-triple;
    }
  }

  .unit.unit--teaser {
    margin-top: $spacing-and-half;

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing;
    }
  }
}
