{#
/**
 * @file
 * Theme override to present react and share template.
 *
 * @see helfi_platform_config_preprocess_react_and_share()
 * @see helfi_platform_config/templates/react-and-share.html.twig.
 */
#}
<div class="askem" style="display: none;"></div>

<div class="askem-cookie-compliance js-askem-cookie-compliance hide-from-table-of-contents" style="display: none;">
  <div class="message">
    {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'alert-circle-fill'} %}
    <h2>{{ 'Would you like to give feedback on this page?'|t({}, {'context': 'React & Share cookie compliance'}) }}</h2>
    <p>
      {% trans with {'context': 'React & Share cookie compliance'} %}
        Enabling cookies that collect statistics will allow you to share your input.
      {% endtrans %}
    </p>
    <div class="buttons">
      {% set link_attributes = {
        'class': [
          'hds-button',
          'hds-button--secondary',
        ],
        'data-cookie-consent-groups': 'statistics',
        'onclick': 'window.hdsCookieConsentClickEvent(event, this)',
      } %}
      {% set link_title %}
        <span class="hds-button__label">{{ 'Change cookie settings'|t }}</span>
      {% endset %}
      {% if privacy_policy_url %}
        {{ link(link_title, privacy_policy_url, link_attributes) }}
      {% endif %}
    </div>
  </div>
</div>
