// Margins between components
* ~ .components,
.component ~ .component {
  @include component-margin-top;
}

// When components are full width and do not contain liftup-with-img-bg or content-cards,
// they should have padding that keeps them from touching side.
.components--lower > .component:not(.component--liftup-with-image-bg, .component--content-cards-grey),
.page-type--landing-page.no-sidebar .components--upper > .component:not(.component--liftup-with-image-bg, .component--content-cards-grey),
.components--computed > .component {
  @include component-side-padding;
}

.component--full-width {
  padding-bottom: $spacing-triple;
  padding-top: $spacing-triple;

  @include breakpoint($breakpoint-m) {
    padding-bottom: $spacing-quadruple;
    padding-top: $spacing-quadruple;
  }
}

.component--gray-bg {
  background-color: $color-black-5;
}

.component__container {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-area-wrapper-width-max;
}

// By default title and description should have no margins
.component__title,
.component__description {
  margin-bottom: 0;
  margin-top: 0;
}

.component__description {
  @include font('body');
  max-width: $content-width-max;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

// If component description exists with title, it should have margin top like this
.component__title + .component__description {
  margin-top: $component-title-spacing-mobile;

  @if $component-title-spacing-mobile != $component-title-spacing-desktop {
    @include breakpoint($component-spacing-breakpoint) {
      margin-top: $component-title-spacing-desktop;
    }
  }
}

// Lonely title should have same distance to content as component description
.component__title + .component__content,
.component__description + .component__content,
.component__tags + .component__content {
  margin-top: $component-desc-spacing-mobile;

  @if $component-desc-spacing-mobile != $component-desc-spacing-desktop {
    @include breakpoint($component-spacing-breakpoint) {
      margin-top: $component-desc-spacing-desktop;
    }
  }
}

.component--tpr-unit,
.component--unit-services,
.component--service-units {
  @include component-side-padding;
}

.component__tags {
  margin-top: $spacing-and-half;
}

// Components on other pages than landing-page
// need to be limited to content max-width to maintain readability.
.wrapper:not(.page-type--landing-page) .components:not(.components--lower, .components--computed) {
  @include components-container-max-width;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($breakpoint-m) {
    @include component-side-padding;
    margin-left: auto;
    margin-right: auto;
  }

  .component {
    max-width: $content-width-max;
  }

  .component--full-width {
    padding-bottom: $component-side-padding-mobile;
    padding-top: $component-side-padding-mobile;

    @include breakpoint($component-side-padding-breakpoint) {
      padding-bottom: $component-side-padding-desktop;
      padding-top: $component-side-padding-desktop;
    }
  }

  // All other components except the full-width ones need
  // to have padding on smaller screens but have it removed on larger screens.
  > .component:not(.component--full-width) {
    @include component-side-padding;

    @include breakpoint($breakpoint-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
