.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1;
}

.gin--horizontal-toolbar {
  .dialog-off-canvas-main-canvas {
    --drupal-toolbar-height: 39px;
    padding-top: var(--drupal-toolbar-height); // Gin horizontal toolbar adjustments.

    @include breakpoint(976px) {
      --drupal-toolbar-height: 54px;
    }
  }
}
