@mixin -error-page-body() {
  // Background on the error pages needs to be gray because the illustrations disappear to the background if its white.
  background-color: $color-black-10;

  // For the error pages the gap on top grows too large if this is left in place.
  .no-sidebar .main-content {
    margin-top: 0;
  }
}

.error-page {
  @include -error-page-body;
}

body:has(.error-page__title) {
  @include -error-page-body; // This enables above on supported browsers for pages where we can not inject the .error-page class
}

.error-page-content__container {
  @include breakpoint($breakpoint-m) {
    display: flex;
  }
}

.error-page__text-container {
  @include breakpoint($breakpoint-m) {
    width: 50%;
  }
}

.error-page__title {
  margin-bottom: 0;
}

.error-page__description {
  @include font('body');

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-and-half;
  }
}

.error-page__link {
  @include font('special.large_link');
  display: inline-flex;
  margin-top: $spacing-double;

  &::after {
    @include pseudo-icon('arrow-right');
    @include hover-link-arrow-transition;
  }

  &[data-is-external]::after {
    content: none;
  }

  &:hover {
    text-decoration: none;

    &::after {
      transform: translateX($spacing-quarter);

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }
  }

  + .error-page__link {
    margin-top: $spacing-and-half;
  }
}


.error-page__login-title {
  @include font('h3');
}

.error-page__login-form {
  margin-top: $spacing-double;

  // // When we want to hide password login from this area, use this.
  // .user-login-form,
  // > [role='form'] > ul {
  //   display: none;
  // }
  // .openid-connect-login-form {
  //   margin-top: 0;
  //   border-top: 0 none;
  // }
}

.special-page__illustration-container--error-page {
  @include breakpoint($breakpoint-m) {
    padding-left: $spacing-triple;
    padding-right: $spacing-triple;
    padding-top: $spacing-sextuple;
  }
}
