.footer {
  flex-shrink: 0;
  margin: calc(#{$footer-koro-height} + #{$spacing-triple}) auto 0;
  max-width: 1920px;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    margin-top: calc(#{$footer-koro-height} + #{$spacing-quadruple});
  }

  a {
    text-decoration: underline 1px;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .hds-koros {
    margin-top: calc(-1 * (#{$footer-koro-height} - 1px)); // Offset the koro a bit lower to avoid half a pixel bleeds.
  }
}

.footer-top__container {
  padding-top: 0;
}

.footer-top {
  @include components-container-max-width;
  @include component-side-padding;
  margin-left: auto;
  margin-right: auto;
  padding-top: $spacing-quadruple;

  @include breakpoint($breakpoint-m) {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    @include font('h4');
    margin-top: 0;

    &.footer-top__content__title {
      margin-top: $spacing-double;

      /* stylelint-disable-next-line max-nesting-depth */
      @include breakpoint($breakpoint-m) {
        margin-top: 0;
      }
    }
  }

  p {
    margin-top: $spacing;
  }

  nav {
    @include breakpoint($breakpoint-m) {
      margin-right: $spacing-sextuple;
    }
  }

  .menu {
    @include font('body');
    margin: $spacing-half 0 $spacing-double 0;

    @include breakpoint($breakpoint-m) {
      margin-bottom:0;
      margin-top: $spacing;
    }
  }
}

footer.footer .menu__link {
  display: inline-block;
  padding-block: max(calc((#{$wcag-touch-target-size-aaa} - var(--line-height) * 1em) / 2) , #{$spacing-half});
}

.footer-top__content {
  @include breakpoint($breakpoint-m) {
    max-width: $container-width-s;
  }
}

.footer-bottom__container {
  padding-top: 0;
}

.footer-bottom {
  border-top: 1px solid $color-black-30;
  column-gap: $spacing-double;
  display: flex;
  flex-wrap: wrap;
  margin-top: $spacing-triple;
  padding-bottom: $spacing-triple;
  padding-top: $spacing-and-half;
  row-gap: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-sextuple;
    padding-bottom: 0;
  }
}

.footer-bottom__navigation-wrapper {
  @include breakpoint($breakpoint-m) {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: $spacing-triple;
  }
}

.footer-bottom__navigation {
  margin-top: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-top: 0;
  }

  .menu {
    @include font('small');
    display: flex;
    flex-wrap: wrap;
  }

  .menu__item {
    align-items: center;
    display: flex;

    &::after {
      content: '';
      display: block;
      height: 15px;
      margin: 0 $spacing-half;
      width: 1px;
    }

    // Menu item with <nolink>.
    &.menu__item--nolink {
      display: flex;
      width: auto;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.footer__back-to-top {
  --outline-gutter: 2px;
  --outline-width: 3px;
  --focus-outline-color: var(--hdbt-color-black);

  @include font('h4');
  align-items: center;
  align-self: flex-end;
  display: flex;
  margin-left: auto; // Keeps link on the right side
  margin-right: $spacing-half;
  min-height: $wcag-touch-target-size-aaa; // Match footer logo height
  text-decoration: none;

  @include breakpoint($breakpoint-m) {
    margin-bottom: $spacing-triple;
    margin-top: 0;
  }

  &:focus,
  &:active {
    outline: var(--outline-width) solid var(--focus-outline-color);
    outline-offset: var(--outline-gutter);
  }

  &:hover {
    text-decoration: underline;
  }
}

.footer__back-to-top .hel-icon {
  @include hover-link-arrow-transition;
}

.footer__back-to-top:focus .hel-icon,
.footer__back-to-top:hover .hel-icon {
  transform: translateY(-#{$spacing-quarter});

  @media (prefers-reduced-motion) {
    transform: none;
  }
}

// Footer color-scheme Light
.footer--light {
  background-color: $color-silver-medium-light;
  color: $color-white;

  .hds-koros {
    color: $color-silver-medium-light;
  }

  a {
    color: $color-black;
  }

  .footer-bottom,
  .footer-top {
    color: $color-black;
  }

  .footer-bottom .menu__item::after {
    background-color: $color-black;
  }
}

// Footer color-scheme Dark
.footer--dark {
  background-color: $hdbt-color-black;
  color: $color-white;

  .hds-koros {
    color: $hdbt-color-black;
  }

  a {
    color: $color-white;
  }

  .footer-bottom,
  .footer-top {
    color: $color-white;
  }

  .footer-bottom {
    border-color: $color-white;

    .menu__item::after {
      background-color: $color-white;
    }
  }

  .footer__back-to-top {
    --focus-outline-color: var(--color-white);
  }
}
