$-language-block-height: 52px;

// Header element directly under the wrapper element.
.wrapper > .header {
  --branding-height: 65px;
  --language-block-height: #{$-language-block-height};
  padding-top: calc(var(--branding-height) + var(--language-block-height));

  @include breakpoint($breakpoint-m) {
    --branding-height: 86px;
    padding-top: 0;
  }
}
