.main-content {
  margin-top: $spacing-quadruple;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-sextuple;
  }
}

.layout-main-wrapper * {
  scroll-margin-top: 113px; // Mobile header + language switcher.

  @include breakpoint($breakpoint-m) {
    scroll-margin-top: 0; // No fixed elements on desktop.

    .toolbar-horizontal & {
      scroll-margin-top: $spacing-quadruple;
    }
  }
}

.has-sidebar--first .layout-main-wrapper {
  @include breakpoint($breakpoint-l) {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}
