@function get-line-height($style, $unremify: false) {
  $-path: 'font.#{$style}';
  $-line-height: get('#{$-path}.line-height') * get('#{$-path}.font-size');

  @if $unremify {
    @return unremify($-line-height);
  }

  @return $-line-height;
}

@function get-font-size($style, $unremify: false) {
  $-path: 'font.#{$style}';
  $-font-size: get('#{$-path}.font-size');

  @if $unremify {
    @return unremify($-font-size);
  }

  @return $-font-size;
}
