.banner__title {
  @include font-size(24px, 29px);
  margin-top: 0;

  @include breakpoint($breakpoint-l) {
    @include font-size(36px, 36px);
  }
}

.banner__desc {
  @include font-size(18px, 28px);
  margin-top: $spacing;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-and-half;
  }

  p:first-child {
    margin: 0;
  }
}

.banner__icon {
  display: inline-flex;
  margin-bottom: $spacing-and-half;
  margin-right: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-right: $spacing-and-half;
  }

  //TODO .hel-icon fix !
  .icon,.hel-icon {
    --icon-size: #{$spacing-quadruple};

    @include breakpoint($breakpoint-m) {
      --icon-size: 6.25rem;
    }
  }

  a {
    --hdbt-default-link-color: var(--hdbt-color-palette-text--primary);
  }
}

.component--banner .banner {
  padding-bottom: $spacing-double;
  padding-left: $spacing-double;
  padding-right: $spacing-double;
  padding-top: $spacing-double;
}

a.banner__button {
  margin: $spacing-double auto 0;
}


.component--banner-align-center {
  text-align: center;

  .banner__title,
  .banner__desc {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px; // According to layouts.
  }

  .component__content {
    margin-left: auto;
    margin-right: auto;
  }
}

.component--banner-align-left {
  .banner {
    display: flex;
    flex-flow: column;

    @include breakpoint($breakpoint-m) {
      flex-flow: row;
    }
  }

  &.component--banner-has-icon {
    .banner__button {
      @include breakpoint($breakpoint-l) {
        margin-left: auto;
        margin-right: 0;
      }

      &.hds-button--supplementary {
        // Fix for supplementary button alignment.
        margin-left: calc(-#{$spacing-half} + (-2px));
      }
    }
  }
}

.component--banner .component__container {
  background-color: var(--hdbt-color-palette--primary);
  color: var(--hdbt-color-palette-text--primary);
}

.banner {
  a {
    --hdbt-default-link-color: var(--hdbt-color-palette-text--primary);
  }

  .hds-button--primary {
    --background-color: var(--hdbt-color-palette-button--primary);
    --background-color-hover: transparent;
    --background-color-focus: var(--hdbt-color-palette-button--primary);
    --background-color-hover-focus: transparent;
    --background-color-disabled: var(--color-black-20);
    --border-color: var(--hdbt-color-palette-button--primary);
    --border-color-hover: var(--hdbt-color-palette-button--primary);
    --border-color-focus: var(--hdbt-color-palette-button--primary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--primary);
    --border-color-disabled: var(--color-black-20);
    --color: var(--hdbt-color-palette-button-contrast--primary);
    --color-hover: var(--hdbt-color-palette-button--primary);
    --color-focus: var(--hdbt-color-palette-button-contrast--primary);
    --color-hover-focus: var(--hdbt-color-palette-button--primary);
    --color-disabled: var(--color-black);
    --focus-outline-color: var(--hdbt-color-palette-button--primary);
    --submit-input-focus-gutter-color: var(--hdbt-color-palette-button-contrast--primary);
  }

  .hds-button--secondary {
    --background-color: transparent;
    --background-color-hover: var(--hdbt-color-palette-button--primary);
    --background-color-focus: transparent;
    --background-color-hover-focus: var(--hdbt-color-palette-button--primary);
    --background-color-disabled: transparent;
    --border-color: var(--hdbt-color-palette-button--primary);
    --border-color-hover: var(--hdbt-color-palette-button--primary);
    --border-color-focus: var(--hdbt-color-palette-button--primary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--primary);
    --border-color-disabled: var(--hdbt-color-palette-button--primary);
    --color: var(--hdbt-color-palette-button--primary);
    --color-hover: var(--hdbt-color-palette-button-contrast--primary);
    --color-focus: var(--hdbt-color-palette-button--primary);
    --color-hover-focus: var(--hdbt-color-palette-button-contrast--primary);
    --focus-outline-color: var(--hdbt-color-palette-button--primary);
  }

  .hds-button--supplementary {
    --background-color: transparent;
    --background-color-hover: transparent;
    --background-color-focus: transparent;
    --background-color-hover-focus: transparent;
    --background-color-disabled: transparent;
    --border-color: transparent;
    --border-color-hover: transparent;
    --border-color-focus: var(--hdbt-color-palette-button--primary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--primary);
    --border-color-disabled: transparent;
    --color: var(--hdbt-color-palette-button--primary);
    --color-hover: var(--hdbt-color-palette-button--primary);
    --color-focus: var(--hdbt-color-palette-button--primary);
    --color-hover-focus: var(--hdbt-color-palette-button--primary);
    --color-disabled: var(--hdbt-color-palette-button--primary);
    --focus-outline-color: transparent;
    --submit-input-focus-gutter-color: transparent;
  }
}

.component--banner-secondary .component__container {
  background-color: var(--hdbt-color-palette--secondary);
  color: var(--hdbt-color-palette-text--secondary);
}

.component--banner-secondary .banner {
  a {
    --hdbt-default-link-color: var(--hdbt-color-palette-text--secondary);
  }

  .hds-button--primary {
    --background-color: var(--hdbt-color-palette-button--secondary);
    --background-color-hover: transparent;
    --background-color-focus: var(--hdbt-color-palette-button--secondary);
    --background-color-hover-focus: transparent;
    --background-color-disabled: var(--color-black-20);
    --border-color: var(--hdbt-color-palette-button--secondary);
    --border-color-hover: var(--hdbt-color-palette-button--secondary);
    --border-color-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-disabled: var(--color-black-20);
    --color: var(--hdbt-color-palette-button-contrast--secondary);
    --color-hover: var(--hdbt-color-palette-button--secondary);
    --color-focus: var(--hdbt-color-palette-button-contrast--secondary);
    --color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --color-disabled: var(--color-black);
    --focus-outline-color: var(--hdbt-color-palette-button--secondary);
    --submit-input-focus-gutter-color: var(--hdbt-color-palette-button-contrast--secondary);
  }

  .hds-button--secondary {
    --background-color: transparent;
    --background-color-hover: var(--hdbt-color-palette-button--secondary);
    --background-color-focus: transparent;
    --background-color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --background-color-disabled: transparent;
    --border-color: var(--hdbt-color-palette-button--secondary);
    --border-color-hover: var(--hdbt-color-palette-button--secondary);
    --border-color-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-disabled: var(--hdbt-color-palette-button--secondary);
    --color: var(--hdbt-color-palette-button--secondary);
    --color-hover: var(--hdbt-color-palette-button-contrast--secondary);
    --color-focus: var(--hdbt-color-palette-button--secondary);
    --color-hover-focus: var(--hdbt-color-palette-button-contrast--secondary);
    --focus-outline-color: var(--hdbt-color-palette-button--secondary);
  }

  .hds-button--supplementary {
    --background-color: transparent;
    --background-color-hover: transparent;
    --background-color-focus: transparent;
    --background-color-hover-focus: transparent;
    --background-color-disabled: transparent;
    --border-color: transparent;
    --border-color-hover: transparent;
    --border-color-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --border-color-disabled: transparent;
    --color: var(--hdbt-color-palette-button--secondary);
    --color-hover: var(--hdbt-color-palette-button--secondary);
    --color-focus: var(--hdbt-color-palette-button--secondary);
    --color-hover-focus: var(--hdbt-color-palette-button--secondary);
    --color-disabled: var(--hdbt-color-palette-button--secondary);
    --focus-outline-color: transparent;
    --submit-input-focus-gutter-color: transparent;
  }
}
