$_chart-aspect-ratio: 16/9;

.chart__container {
  height: 0;
  padding-bottom: aspect-ratio-padding($_chart-aspect-ratio);
  position: relative;
  width: 100%;

  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.chart__transcript {
  margin-top: $spacing;
}
