.columns {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-triple;
  }
}

.columns__container {
  @include breakpoint(max-width $breakpoint-s) {
    max-width: 100%;
  }
}

.columns__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: $spacing;

  @include breakpoint($breakpoint-m) {
    flex-direction: row;
    margin: $spacing-double -#{$spacing-double} 0;
    max-width: $content-area-wrapper-width-max;
  }

  // Overrides for text paragraph styles.
  .text {
    margin-top: 0;

    .text__container {
      padding: 0;
    }

    .text__text-content {
      padding-left: 0;
    }
  }

  // Overrides for image paragraph styles.
  .image {
    .image__container {
      padding: 0;

      @include breakpoint($breakpoint-m) {
        padding: 0;
      }

      @include breakpoint($breakpoint-l) {
        padding: 0;
      }

      .media--image__caption {
        @include breakpoint($breakpoint-m) {
          @include font-size(14px, 24px);
        }
      }
    }
  }
}

.columns__title {
  display: block;
  margin-right: auto;
  width: 100%;
}

.columns__column {
  align-self: stretch;

  @include breakpoint($breakpoint-m) {
    margin: 0 $spacing-double;
  }

  &.column--50 {
    @include breakpoint($breakpoint-m) {
      width: 50%;
    }
  }
  &.column--30 {
    @include breakpoint($breakpoint-m) {
      width: 30%
    }
  }
  &.column--70 {
    @include breakpoint($breakpoint-m) {
      width: 70%;
    }
  }

  + .columns__column {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-m) {
      margin-top: 0;
    }
  }
}
