.image {
  margin-top: $spacing-double;

  .image__container {
    padding: $spacing-double 0 0;

    @include breakpoint($breakpoint-m) {
      padding: $spacing-double $spacing-and-half 0;
    }

    @include breakpoint($breakpoint-l) {
      padding: $spacing-double $spacing-double 0;
    }
  }

  .image__image-content {
    max-width: $image-content-width-max;

    @include breakpoint($breakpoint-m) {
      padding-left: $spacing-triple * 2;
    }

    picture, img {
      display: block;
      line-height: 0;
      width: 100%;
    }
  }

  .image__caption {
    @include font-size(14px, 24px);
    padding: $spacing-half $spacing-and-half 0;

    @include breakpoint($breakpoint-m) {
      @include font-size(20px, 32px);
      padding: $spacing 0 0;
    }
  }
}
