.image {
  margin-top: $spacing-triple;

  // Do not apply margin for images inside columns.
  .columns & {
    margin-top: 0;
  }

  .image__container {
    padding: 0;

    @include breakpoint($breakpoint-m) {
      padding: 0 $spacing-and-half 0;
    }

    @include breakpoint($breakpoint-l) {
      padding: 0 $spacing-double 0;
    }
  }
}
