.image {
  margin-top: $spacing-double;

  // Do not apply margin for images inside columns.
  .columns & {
    margin-top: 0;
  }

  .image__container {
    padding: $spacing-double 0 0;

    @include breakpoint($breakpoint-m) {
      padding: $spacing-double $spacing-and-half 0;
    }

    @include breakpoint($breakpoint-l) {
      padding: $spacing-double $spacing-double 0;
    }
  }
}
