.link {
  .link__content {
    max-width: $content-width-max;

    @include breakpoint($breakpoint-m) {
      padding-left: $spacing-triple * 2;
    }
  }
}

// Apply styles for Basic page only.
.page-type--page {

  // Links inside the paragraph content area
  .paragraph-content .link {
    // Add extra margin around the link paragraph.
    margin: $spacing 0;

    .link__content {
      @include breakpoint($breakpoint-s) {
        padding-left: $spacing-quadruple;
      }

      @include breakpoint($breakpoint-m) {
        padding-left: calc(50% + #{$spacing});
      }
    }
  }
}

// Links inside the hero paragraph
.hero .link {
  .link__container {
    margin: 0;
    padding: 0;

    .link__content {
      margin: 0;
      max-width: 100%;
      padding: 0;
    }
  }
}
