.link {
  .link__content {
    max-width: $content-width-max;

    @include breakpoint($breakpoint-m) {
      padding-left: $spacing-triple * 2;
    }
  }
}

// Apply styles for Basic page only.
.page-type--page {

  // Links inside the paragraph content area
  .paragraph-content .link {
    .link__content {
      @include breakpoint($breakpoint-s) {
        padding-left: $spacing-quadruple;
      }

      @include breakpoint($breakpoint-m) {
        padding-left: calc(50% + #{$spacing});
      }
    }
  }
}

// Links inside the hero paragraph
.hero .link {
  .link__container {
    margin: 0;
    padding: 0;

    .link__content {
      margin: 0;
      max-width: 100%;
      padding: 0;
    }
  }
}

// Plain text links that open in new tab.
a.link[target="_blank"] {
  align-items: center;
  display: inline-flex;

  &::after {
    background-color: $color-black;
    background-size: contain;
    content: "";
    display: block;
    height: 0.9em;
    margin: 0 0.1em 0.3em 0.2em;
    mask-image: url('../icons/hds/ui/link-external.svg');
    width: 0.9em;
  }
}
