.list-of-links__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -$spacing;
  overflow: hidden;
  width: calc(100% + #{$spacing});
}

.list-of-links__item {
  box-sizing: border-box;
  padding-left: $spacing;
  width: 25%;

  // If there is 1,2 or 3 items inside the list of links:
  @include content_count(1, 2, 3) {
    width: 33.3333%;
  }

  .list-of-links__item__link {
    display: block;
    overflow: hidden;
    width: 100%;
  }

  .list-of-links__item__image {
    line-height: 0;
    margin-bottom: $spacing;

    img {
      height: auto;
      width: 100%;
    }

    .image-placeholder {
      padding-bottom: 100%;
    }
  }

  .list-of-links__item__title {
    @include font-size(24px);
    font-weight: 500;
    margin: 0 0 $spacing;
    text-decoration: none;
  }

  .list-of-links__item__arrow {
    // Offset icon to left since there is white spacing on the icon
    margin-left: -#{$spacing-half};

    .icon {
      --icon-proportions: 3rem;
    }
  }
}

.list-of-links__title {
  width: 100%;
}
