$item_spacing: $spacing-triple;

.list-of-links {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-quadruple;
  }
}

.list-of-links__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;

  @include breakpoint($breakpoint-s) {
    flex-direction: row;
    margin-left: -$item_spacing;
    width: calc(100% + #{$item_spacing});
  }
}

.list-of-links__container {
  @include breakpoint(max-width $breakpoint-s) {
    max-width: 100%;
  }
}

.list-of-links__item {
  margin-bottom: $spacing-double;
  width: 100%;

  @include breakpoint($breakpoint-s) {
    padding-left: $item_spacing;
    width: 50%;
  }

  @include breakpoint($breakpoint-m) {
    width: 25%;
  }

  // If there is 1,2 or 3 items inside the list of links:
  @include content_count(1, 2, 3) {
    @include breakpoint($breakpoint-s) {
      width: 50%;
    }

    @include breakpoint($breakpoint-m) {
      width: 33.3333%;
    }
  }

  .list-of-links__item__link {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: 90px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 100%;

    @include breakpoint($breakpoint-s) {
      display: block;
      padding-bottom: $spacing-triple;
    }
  }

  .list-of-links__item__image {
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    // Size of thumbnails on mobile
    width: 90px;

    @include breakpoint($breakpoint-s) {
      margin-bottom: $spacing;
      position: static;
      width: 100%;
    }

    img {
      height: auto;
      width: 100%;
    }

    .image-placeholder {
      padding-bottom: 100%;
    }
  }

  .list-of-links__item__title {
    @include font-size(20px);
    font-weight: 500;
    margin: 0 0 0 (100px + $spacing);

    @include breakpoint($breakpoint-s) {
      @include font-size(24px);
      margin: 0;
    }
  }

  .list-of-links__item__arrow {
    display: block;
    line-height: 0;
    // Offset icon to left since there is white spacing on the icon
    margin-left: (100px + $spacing - $spacing-quarter);
    margin-top: $spacing-half;

    @include breakpoint($breakpoint-s) {
      bottom: 0;
      left: 0;
      margin-left: -$spacing-half;
      margin-top: 0;
      position: absolute;
    }

    .icon {
      --icon-proportions: 1.5rem;

      @include breakpoint($breakpoint-s) {
        --icon-proportions: 3rem;
      }
    }
  }
}

.list-of-links__title {
  @include font-size(36px);
  margin-top: 0;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    @include font-size(48px);
  }
}

.list-of-links__content {
  margin-top: $spacing-triple;
}

// Without image variants
.list-of-links--without-image,
.list-of-links--without-image-desc {
  .list-of-links__item {
    padding-right: 100px;
    position: relative;

    @include breakpoint($breakpoint-s) {
      padding-right: 80px;
      width: 50%;
    }

    @include breakpoint($breakpoint-m) {
      padding-right: 100px;
    }

    @include breakpoint($breakpoint-l) {
      padding-right: 160px;
    }

    // If there is 1,2 or 3 items inside the list of links:
    @include content_count(1, 2, 3) {
      @include breakpoint($breakpoint-m) {
        width: 50%;
      }
    }

    .list-of-links__item__link {
      // Min-height is the same as the icon height.
      min-height: 2rem;
      padding-bottom: 0;
      position: static;
    }

    .list-of-links__item__arrow {
      bottom: auto;
      left: auto;
      line-height: 0;
      margin: 0;
      position: absolute;
      right: 30px;
      top: 0;

      @include breakpoint($breakpoint-s) {
        margin-top: -$spacing-half;
        right: 20px;
      }

      @include breakpoint($breakpoint-m) {
        right: 30px;
      }

      @include breakpoint($breakpoint-l) {
        right: 60px;
      }

      @include breakpoint($breakpoint-xl) {
        right: 80px;
      }

      .icon {
        --icon-proportions: 2rem;

        @include breakpoint($breakpoint-s) {
          --icon-proportions: 3rem;
        }
      }
    }

    .list-of-links__item__title {
      @include font-size(24px);
      margin-left: 0;
      text-decoration: underline;

      @include breakpoint($breakpoint-l) {
        @include font-size(28px);
      }
    }

    .list-of-links__item__link:hover {
      .list-of-links__item__title {
        text-decoration: none;
      }
    }
  }

  .list-of-links__title {
    margin-bottom: $spacing-double;

    @include breakpoint($breakpoint-l) {
      margin-bottom: $spacing-quadruple;
    }
  }
}

// Without image but with description variant
.list-of-links--without-image {
  .list-of-links__item {
    @include breakpoint($breakpoint-xl) {
      padding-right: 200px;
    }

    .list-of-links__item__title {
      @include breakpoint($breakpoint-l) {
        @include font-size(36px);
      }
    }

    .list-of-links__item__desc {
      @include font-size(16px);
      color: $color-black-60;
      margin-top: $spacing-half;

      @include breakpoint($breakpoint-l) {
        @include font-size(20px);
        margin-top: $spacing-quarter;
      }
    }
  }
}
