.component--map .component__container {
  background-color: $color-silver-light;
  padding: 32px 32px 48px;
}

.map {
  height: 0;
  margin: $spacing 0;
  padding-bottom: 56.5%;
  position: relative;

  > div,
  iframe {
    background-color: $color-black-10; // Add color to show a "placeholder" while the map is loading
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .map__external-link {
    @include font-size(16px, 24px);
    align-items: center;
    bottom: -40px;
    display: inline-flex;
    font-weight: $font-weight-medium;
    position: absolute;
    right: 0;
    text-decoration: underline;

    .explain-external-icon {
      @include visually-hidden();
    }

    &:after {
      background-color: $color-black;
      background-size: contain;
      content: "";
      display: block;
      height: 0.9em;
      margin: 0 0.1em 0.3em 0.2em;
      mask-image: icon_url('hds/ui/link-external');
      width: 0.9em;
    }
  }
}
