.remote-video {
  position: relative;

  .responsive-video-container {
    background-color: $color-black-10; // Add color to show a "placeholder" while the video is loading
    height: 0;
    overflow: hidden;
    padding-bottom: 56.5%;

    iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
