.sidebar-text {
  @include font-size(18px, 27px);
  margin-top: $spacing;

  &.has-title:first-of-type,
  &:first-of-type {
    // Node (basic page).
    margin-top: $spacing-and-half;

    // Service.
    .service__sidebar & {
      margin-top: $spacing;
    }

    // If sidebar navigation exists.
    .has-navigation & {
      margin-top: $spacing-triple;
    }
  }

  &.has-title {
    margin-top: $spacing-double;
  }

  .sidebar-text__title {
    @include font-size(24px, 24px);
    color: $color-black;
    font-weight: $font-weight-medium;

    & + .sidebar-text__text-content {
      margin-top: $spacing-and-half;
    }
  }

  .sidebar-text__text-content {
    @include font-size(16px, 24px);
    color: var(--hdbt-color-palette-text--secondary);

    > *:first-child {
      margin-top: 0;
    }

    > p:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    > p {
      background-color: var(--hdbt-color-palette--secondary);
      padding: $spacing-and-half $spacing;
    }

    .hds-button--primary {
      @extend .emulate-button--primary;
    }

    .hds-button--secondary {
      @extend .emulate-button--secondary;
    }

    .hds-button--primary,
    .hds-button--secondary {
      display: inline-flex;

      &:only-child {
        margin-top: 0;
      }

      @include breakpoint($breakpoint-l) {
        display: flex;
      }
    }

    .hds-button--supplementary {
      --background-color: transparent;
      --background-color-hover: transparent;
      --background-color-focus: transparent;
      --background-color-hover-focus: transparent;
      --border-color: transparent;
      --border-color-hover: transparent;
      --border-color-focus: transparent;
      --border-color-hover-focus: transparent;
      --color: var(--hdbt-color-black);
      --color-hover: var(--hdbt-color-black);
      --color-focus: var(--hdbt-color-black);
      --color-hover-focus: var(--hdbt-color-black);
      --focus-outline-color: var(--hdbt-color-black);

      &:first-child {
        margin-left: 0;
      }

      &.hdbt-icon::before {
        margin-left: $spacing-half;
      }
    }
  }

  ul, ol {
    background-color: var(--hdbt-color-palette--secondary);
    padding: $spacing;

    li {
      margin-left: $spacing-double;
      padding-left: $spacing-half;
    }

    ul, ol {
      margin-top: 0;

      li {
        margin-left: $spacing-half;
      }
    }
  }
}

.sidebar-text--service-links {
  .sidebar-text__text-content {
    > a {
      background-color: var(--hdbt-color-palette--secondary);
      display: grid;
      grid-template-columns: 1fr calc(#{$spacing-and-half} + #{$spacing-half});
      margin-top: $spacing;
      padding: $spacing-and-half $spacing;
      text-decoration: none;

      &:after {
        @include pseudo-icon('arrow-right', $spacing-and-half, $color-black, inline-block);
        align-self: center;
        justify-self: end;
        order: 3;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
