.text {
  margin-bottom: $spacing-double;
  position: relative;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-quadruple;
  }

  .text__container {
    // OPTION 1:
    @include breakpoint(max-width $breakpoint-s) {
      max-width: 100%;
    }

    // OPTION 2:
    //max-width: var(--container-width-xl);

    @include breakpoint($breakpoint-s) {
    //  max-width: var(--container-width-s);
    }

    @include breakpoint($breakpoint-m) {
    //  max-width: var(--container-width-xl);
    }

    .text__text-content {
      @include breakpoint($breakpoint-m) {
        padding-left: 50%;
      }

      > *:first-child {
        margin-top: 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    h2, h3, h4, h5, h6 {

      @include breakpoint($breakpoint-m) {
        box-sizing: border-box;
        height: 0;
        margin: 0 0 0 -100%;
        padding-right: $spacing;
        width: 100%;
      }

      @include breakpoint($breakpoint-l) {
        padding-right: $spacing-double;
      }
    }

    p, ul, ol {
      margin-left: $spacing-double;

      @include breakpoint($breakpoint-s) {
        margin-left: $spacing-quadruple;
      }

      @include breakpoint($breakpoint-m) {
        margin-left: $spacing;
      }
    }
  }
}
