.unit-search {
  background-color: $color-silver-light;
  padding: 0 0 $spacing-double;
}

.unit-search__header__title {
  margin-top: 0;
}

.unit-search__header__description {
  margin-top: $spacing-and-half;

  p:first-child {
    margin-top: 0;
  }
}

.views--unit-search {
  margin-top: $spacing-double;

  .hds-button--primary {
    --background-color: var(--color-black);
    --background-color-hover: var(--color-black);
    --background-color-focus: var(--color-black);
    --background-color-hover-focus: var(--color-black);
    --background-color-disabled: var(--color-black-20);
    --border-color: var(--color-black);
    --border-color-hover: var(--color-black);
    --border-color-focus: var(--color-black);
    --border-color-hover-focus: var(--color-black);
    --border-color-disabled: var(--color-black-20);
    --color: var(--color-white);
    --color-hover: var(--color-white);
    --color-focus: var(--color-white);
    --color-hover-focus: var(--color-white);
    --color-disabled: var(--color-black);
    --focus-outline-color: var(--color-black);
    --submit-input-focus-gutter-color: var(--color-white);
  }

  .form-actions .hds-button--primary {
    width: 100%;

    @include breakpoint($breakpoint-m) {
      margin-left: $spacing-and-half;
    }
  }

  .views-exposed-form {
    @include breakpoint($breakpoint-m) {
      align-items: flex-end;
      display: flex;
    }

    .form-item {
      @include breakpoint($breakpoint-m) {
        margin-bottom: 0;
        width: 70%;
      }
    }

    .form-actions {
      @include breakpoint($breakpoint-m) {
        display: flex;
        width: 30%;
      }
    }
  }

  .unit-search__count-container {
    @include font-size(23px, 30px);
    border-top: 1px solid $color-black-10;
    display: block;
    margin-top: $spacing-double;
    padding-top: $spacing-double;
    width: 100%;

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing-quadruple;
      padding-top: $spacing-quadruple;
    }

    .unit-search__count {
      font-weight: 700;
    }
  }

  .views-infinite-scroll-content-wrapper {
    margin-top: $spacing;

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing-double;
    }
  }

  .unit__search__pager {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing-quadruple;
    }
  }
}
