// Calculate the sidebar width which consists of the designed content width of 340px
// and padding of $spacing-double for each side on desktop and larger screen sizes.
$-sidebar-width: calc($spacing-double + 340px + $spacing-double);

.layout-main-wrapper * {
  scroll-margin-top: 113px; // Mobile header + language switcher.

  @include breakpoint($breakpoint-m) {
    scroll-margin-top: 0; // No fixed elements on desktop.

    .toolbar-horizontal & {
      scroll-margin-top: $spacing-quadruple;
    }
  }
}

.main-content {
  display: grid;
  grid-template-areas:
    'subnav'
    'content'
    'sidebar';
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-quadruple;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-sextuple;
  }

  @include breakpoint($breakpoint-l) {
    .has-sidebar & {
      grid-template-areas: 'content sidebar';
      grid-template-columns: auto $-sidebar-width;
    }

    .has-sidebar--first & {
      grid-template-areas:
        'subnav content'
        'sidebar content';
      grid-template-columns: $-sidebar-width calc(100% - $-sidebar-width);
      grid-template-rows: auto 1fr;
    }
  }
}

.has-sidebar .main-content {
  @include breakpoint($breakpoint-m) {
    @include components-container-max-width;
  }
}

// Set proper width for all generic page components.
// TODO: UHF-9391 Create a helper-class that can be used here instead of this long list of selectors.
.page-title,
.lead-in,
.page-divider,
.content-date,
.main-image,
.long-desc,
.enriched-content:not(.components),
.content-links,
.content-tags:not(.content-tags--card),
.social-media__items {
  @include components-container-max-width;
  @include component-side-padding;
  margin-left: auto;
  margin-right: auto;
}

.layout-sidebar-first {
  display: none;
  grid-area: subnav;
  margin-bottom: $spacing-triple;

  @include breakpoint($breakpoint-l) {
    display: block;
    padding-left: $spacing-double;
    padding-right: $spacing-double;

    .no-sidebar-second & {
      margin-bottom: 0;
    }
  }
}

.layout-content {
  grid-area: content;

  &:not(:last-child) {
    margin-bottom: $spacing-triple;

    @include breakpoint($breakpoint-l) {
      margin-bottom: 0;
    }
  }
}

.layout-sidebar-second {
  @include component-side-padding;
  grid-area: sidebar;
}
