<nav role="navigation" aria-labelledby="footer-top__content__title" class="footer-top__content">
  <h2 id="footer-top__content__title" class="footer-top__content__title">{{ title }}</h2>
  {{ content }}
</nav>
