$-menu-transition-duration: 0.2s;
$-cssnav-summary-width: 40px;
$-cssmenu-bottom-padding: 80px; // Reserve space for mobile browser untappable-area

.nav-toggle--cssmenu {
  grid-area: toggle;

  @include breakpoint($breakpoint-l) {
    display: none;
  }
}

.nav-toggle--cssmenu .nav-toggle__label::before {
  @include pseudo-icon('menu-hamburger', 32px, currentColor, block);
}

.nav-toggle--cssmenu .nav-toggle__label--close {
  &::before {
    @include pseudo-icon-replace('cross');
  }
}

.nav-toggle-dropdown--cssmenu {
  grid-area: menu;
}

.nav-toggle-dropdown__wrapper {
  .nav-toggle-dropdown--cssmenu & {
    border-bottom: 1px solid $color-black-20; // Needs to be on this level for animation
  }
}

.nav-toggle-dropdown--cssmenu .nav-toggle-dropdown__content {
  background-color: $color-white;
}

// What should happen when menu is opened
#cssmenu:target,
#cssmenu[data-target='true'] {
  & ~ * .header-branding {
    @include breakpoint(max-width $breakpoint-l) {
      border-bottom: 0 none; // Hide header branding bottom border when menu is open and visible
    }
  }

  & ~ * .language-wrapper {
    display: none;
  }

  @include breakpoint($breakpoint-l) {
    & ~ * .language-wrapper {
      display: flex;
    }
  }
}

// When js is enabled, hide fallback menu and mobile menu footer
#cssmenu[data-js] ~ * .mega-and-mobilemenu .mobile-menu-fallback,
#cssmenu[data-js] ~ * .mega-and-mobilemenu .mmenu__footer {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Navigation ul inside cssmenu
.cssnav {
  border-bottom: 1px solid $color-black-20;
  grid-area: nav;
  position: relative;
}

// Child ul elements
.cssnav__subnav {
  border-bottom: 0 none;
}

// Remove default list styles
.cssnav,
.cssnav__subnav,
.cssnav__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

// The li element
.cssnav__item {
  background-color: var(--cssnav-bg, $color-white);
}

.cssnav__item--level-2,
.cssnav__item--level-3:first-child {
  border-top: 1px solid $color-black-20;
}

// Instances like SOTE is level 1, in this menu numbering continues from main navigation level 2 onwards
.cssnav__item--level-2 {
  --cssnav-bg: #{$color-white};
  --cssnav-fg: #{$color-black-90};
  --cssnav-line: #{$color-black-20};
  --cssnav-indent: #{$spacing};
}

.cssnav__item--level-3 {
  --cssnav-bg: #{$color-black-5};
  --cssnav-indent: #{$spacing-and-half}; // previous + 8
}

.cssnav__item--level-4 {
  --cssnav-bg: #{$color-black-10};
  --cssnav-line: #{$color-black-30};
  --cssnav-indent: #{$spacing-double}; // previous + 8
}

.cssnav__item--level-5 {
  --cssnav-bg: #{$color-black-20};
  --cssnav-line: #{$color-black-40};
  --cssnav-indent: 36px; // previous + 8
}

.cssnav__item--level-6 {
  --cssnav-bg: #{$color-black-30};
  --cssnav-line: #{$color-black-50};
  --cssnav-indent: 40px; // previous + 4
}

.cssnav__item--level-7 {
  --cssnav-bg: #{$color-black-40};
  --cssnav-fg: #{$color-black};
  --cssnav-line: #{$color-black-60};
  --cssnav-indent: 44px; // previous + 4
}

.cssnav__item--level-8 {
  --cssnav-bg: #{$color-black-50};
  --cssnav-line: #{$color-black-70};
  --cssnav-indent: #{$spacing-triple}; // previous + 4
}

.cssnav__item--level-9 {
  --cssnav-bg: #{$color-black-60};
  --cssnav-fg: #{$color-white};
  --cssnav-line: #{$color-white};
  --cssnav-indent: 52px; // previous + 4
}

// Last level supported by Drupal
.cssnav__item--level-10 {
  --cssnav-bg: #{$color-black-70};
  --cssnav-indent: 56px; // previous + 4
}

.cssnav__link {
  box-shadow: inset 0 0 0 0 var(--cssnav-fg);
  color: var(--cssnav-fg);
  text-decoration: none;
  transition: box-shadow ease-in 0.1s;

  &:active,
  &:focus {
    outline: 3px solid var(--cssnav-fg);
    outline-offset: -3px;
  }

  &:hover {
    box-shadow: inset 3px 0 0 0 var(--cssnav-fg);
  }

  &:focus,
  &:hover {
    text-decoration: underline 2px;
    text-underline-offset: 10%
  }
}

// Pull the following details element below this link
.cssnav__item--has-children > .cssnav__link {
  left: 0;
  margin-right: $-cssnav-summary-width;
  position: absolute;
  right: 0;
  z-index: 1;
}

.cssnav__text-mirror {
  visibility: hidden; // visibility hidden reserves correct amount of space for the link floating above
}

// Both link and text-mirror styles should be identical
.cssnav__link,
.cssnav__text-mirror {
  @include font('special.navigation.mobile_nav');
  display: block;
  padding-bottom: $spacing;
  padding-left: var(--cssnav-indent);
  padding-right: $spacing;
  padding-top: $spacing;
}

.cssnav__item--level-3 .cssnav__link,
.cssnav__item--level-3 .cssnav__text-mirror {
  @include font('special.navigation.mobile_subnav');
  padding-bottom: $spacing-half;
  padding-right: $spacing-half;
  padding-top: $spacing-half;
}

.cssnav summary {
  display: grid;
  grid-template-areas: 'label toggle';
  grid-template-columns: 1fr $-cssnav-summary-width;
  justify-content: space-between;
  list-style: none; // removes details marker in some browsers

  &::-webkit-details-marker {
    display: none;
  }

  &:focus {
    outline: 0 none;
  }

  &:active .cssnav__toggle,
  &:focus .cssnav__toggle {
    outline: 3px solid var(--cssnav-fg);
    outline-offset: -3px;
  }
}

// Current page and in-path links
.cssnav__link.cssnav__link--in-path, // higher specificity to combat level specific font styles
.cssnav__link--in-path + details > summary > .cssnav__text-mirror {
  font-weight: $font-weight-bold;
}

.cssnav__toggle {
  align-items: center;
  box-shadow: -1px 0 0 0 var(--cssnav-line);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
}

.cssnav__toggle .visually-hidden {
  left: 0;
  top: 50%;
}

.cssnav__item--level-3 .cssnav__toggle {
  box-shadow: -10px 0 0 -9px var(--cssnav-line); // Create shorter border between different buttons
}

.cssnav__toggle::before {
  @include pseudo-icon('angle-down', $spacing-and-half, var(--cssnav-fg));
  @include rotating-icon-transition;
}

.cssnav details[open] > summary > .cssnav__toggle::before {
  transform: rotate(180deg);
}
