.image-placeholder {
  aspect-ratio: 16/9;
  background-color: var(--hdbt-color-palette--primary);
  position: relative;
  width: 100%;

  .hel-icon {
    --icon-size: 50%;
    color: var(--hdbt-color-palette-text--primary);
    left: 25%;
    position: absolute;
    top: 25%;
  }
}
