.image {
  picture {
    display: block;
  }

  img {
    @include image-defaults;
    @include loading-image-background;
  }
}

.image__caption {
  @include font('small');
  padding-top: $spacing;
}

img {
  overflow-wrap: break-word; // allow reading long alt-text on broken images
}
