@use "sass:math";

$-placeholder-aspect-ratio: math.div(16, 9);

.image-placeholder {
  background-color: var(--hdbt-color-palette--primary);
  padding-bottom: aspect-ratio-padding($-placeholder-aspect-ratio);
  position: relative;
  width: 100%;

  .hel-icon {
    --icon-size: 50%;
    color: var(--hdbt-color-palette-text--primary);
    left: 25%;
    position: absolute;
    top: 25%;
  }
}
