<script>
  window.hdsCcSettings = {
    {# language: 'en' #}
    {# language: 'fi' #}
    {# language: 'sv', #}
    language: '{{current_langcode}}',
    jsonUrl: '/kasko-assets/themes/contrib/hdbt/src/js/hds-cc/helfi_cookies.json'
  };
</script>
<script src="/kasko-assets/themes/contrib/hdbt/dist/js/hds-cc.min.js"></script>
<div id="hds-cc__target"></div>

