<script>
  window.hdsCcSettings = {
    {# language: 'en' #}
    {# language: 'fi' #}
    {# language: 'sv', #}
    language: '{{current_langcode}}',
    //targetSelector: 'body', // Defaults to 'body'
    jsonUrl: '{{ theme_path }}/src/js/hds-cc/helfi_cookies.json',
    tempCssPath: '{{ theme_path }}/dist/css/cookie-consent.min.css'
  };
</script>
<script src="{{ theme_path }}/dist/js/hds-cc.min.js"></script>

<div class="nanaa"></div>
