
{% set koro = drupal_config('hdbt_admin_tools.site_settings', 'site_settings.koro')|default('basic') %}
{% set koros = ['basic', 'beat', 'pulse', 'vibration', 'wave', 'calm'] %}
{% set koro_path = '@hdbt/misc/koros/koro-' ~ koro ~ '.twig' %}
{% set koro_wrapper_attributes = {
  'class': [
    'hds-koros',
    flip ? 'hds-koros--180deg',
  ]
} %}


<div{{ create_attribute(koro_wrapper_attributes) }} {% if color %}style="color: {{ color }};"{% endif %} >
  {% if koro_path and koro in koros %}
    {% include koro_path  %}
  {% endif %}
</div>
