
{% set koro = drupal_config('hdbt_admin_tools.site_settings', 'site_settings.koro')|default('basic') %}
{% set koros = ['basic', 'beat', 'pulse', 'vibration', 'wave', 'calm'] %}
{% if koro in koros %}
  {% set koro_class = 'hds-koros--' ~ koro %}
{% endif %}
{% set koro_wrapper_attributes = {
  'class': [
    'hds-koros',
    flip ? 'hds-koros--180deg',
    extraContainer ? 'hds-koros--has-inner',
    koro_class,
  ]
} %}


<div{{ create_attribute(koro_wrapper_attributes) }} {% if color %}style="color: {{ color }};"{% endif %} >
  {% if extraContainer %}
    <div class="hds-koros__inner"></div>
  {% endif %}
</div>
