{% if type == 'interactive' %}
  {% set type_class = 'content-tags__tags--interactive' %}
{% else %}
  {% set type_class = 'content-tags__tags--static' %}
{% endif %}

 <section class="content-tags"  aria-labelledby='content-tags__label'>
  <span id='content-tags__label' class='is-hidden' {{ alternative_language ? create_attribute(({ 'lang': attributes.lang, 'dir': attributes.dir })) }}>
    {{ 'Tags'|t({}, {'context': 'Label for screen reader software users explaining that this is a list of tags related to this page.'}) }}
  </span>
  <ul class="content-tags__tags {{ type_class }}">
    {% block content %}
      {% for tag in tags %}
        {% include '@hdbt/misc/tag.twig' with {
          color: tag.color ? tag.color : color,
          tag: tag.tag ? tag.tag : tag
        }%}
      {% endfor %}
    {% endblock %}
  </ul>
</section>
