{# See available colors from _tags.scss #}

{% if tag %}
  {% if color %}
    {% set tag_color_class = 'content-tags__tags__tag--' ~ color %}
  {% endif %}

  <li class="content-tags__tags__tag">
    {% if addSpan %}
      <span class="hds-tag {{ tag_color_class }}">{{ tag }}</span>
    {% else %}
      <div class="hds-tag {{ tag_color_class }}">{{ tag }}</div>
    {% endif %}
  </li>
{% endif %}
