// TODO: move mixins and variables to proper files

$component-spacing-mobile: 32px;
$component-spacing-desktop: 64px;
$component-spacing-breakpoint: $breakpoint-m;

@mixin component-margin-top(){
  margin-top: $component-spacing-mobile;
  @include breakpoint($component-spacing-breakpoint) {
    margin-top: $component-spacing-desktop;
  }
}

@mixin component-margin-bottom(){
  margin-bottom: $component-spacing-mobile;
  @include breakpoint($component-spacing-breakpoint) {
    margin-bottom: $component-spacing-desktop;
  }
}

// Margins between components
.component ~ .component {
  @include component-margin-top();
}

.component__container {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-area-wrapper-width-max;
}

.component__title {
  margin-bottom: $spacing-and-half;
  @include breakpoint($component-spacing-breakpoint) {
    margin-bottom: $spacing-triple;
  }
}
