//
// @file
//
// This file includes styles for a container.
//
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 $spacing $spacing;
  transition: padding 100ms linear;

  @include breakpoint($breakpoint-l) {
    padding: 0 $spacing-double $spacing;
  }
}
