.header-top {
  align-items: center;
  background-color: $hdbt-color-white;
  display: flex;
  justify-content: space-between;
  padding: 0 $spacing-and-half;

  @include breakpoint($breakpoint-l) {
    padding: 0 $spacing-double;
  }
}
