.header-top {
  background-color: $hdbt-color-white;
  display: none;
  padding: 0 $spacing;

  @include breakpoint($breakpoint-m) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  @include breakpoint($breakpoint-l) {
    padding: 0 $spacing-double;
  }
}
