.header-top {
  // Hide on mobile
  display: none;

  @include breakpoint($breakpoint-m) {
    @include font-size(14px, 20px);
    align-items: center;
    background-color: $color-black-5;
    display: flex;
    justify-content: space-between;
    padding: 14px $spacing-and-half; // Specific pixel size for top and bottom padding from layout.
  }

  @include breakpoint($breakpoint-l) {
    padding: 14px $spacing-double; // Specific pixel size for top and bottom padding from layout.
  }
}
