.has-sidebar .layout-sidebar-first,
.layout-sidebar-first {
  @include breakpoint($breakpoint-l) {
    order: 2;
    width: 30%;

    &.has-navigation {
      order: 1;

      .sidebar-first__container {
        //margin-top: $spacing;

        @include breakpoint($breakpoint-l) {
          padding-left: 0;
          padding-right: $spacing-double;
        }

        @include breakpoint($breakpoint-xl) {
          padding-right: $spacing-triple;
        }
      }
    }
  }

  .sidebar-first__container {
    margin-top: $component-spacing-mobile;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    @include breakpoint($breakpoint-l) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-top: 0;
      padding-left: $spacing-double;
      padding-right: 0;
    }

    @include breakpoint($breakpoint-xl) {
      padding-left: $spacing-triple;
    }
  }
}

.sidebar-first {
  width: 100%;
}
