.has-sidebar--first .main-content {
  @include breakpoint($breakpoint-l) {
    display: flex;
    margin: 0 auto;
    max-width: $content-area-wrapper-width-max;
    padding: 0 $spacing-double;
    width: 100%;
  }
}
