{#
/**
 * @file
 * Theme override to display a Page title block.
 */
#}

{%
  set classes = [
    'page-title',
  ]
%}

{% if hide_block != true %}
  <div{{ attributes.addClass(classes) }}>
    {% embed "@hdbt/misc/container.twig" with {container_element: 'page-title'} %}
      {% block container_content %}
        {{ content }}
      {% endblock %}
    {% endembed %}
  </div>
{% endif %}
