{% if label %}
  <h2{{ title_attributes.addClass('sidebar_block_heading') }}>{{ label }}</h2>
{% endif %}
{% block content %}
  <div class="news-listing--sidebar">
    {{ content }}
  </div>
{% endblock %}
