{#
/**
 * @file
 * Theme override to display a Page title block.
 *
 * Deprecated: hide_block, Use hook_block_access to hide page title block instead.
 */
#}

{% if hide_block != true %}
  <div class="page-title">
    {{ content }}
  </div>
{% endif %}
