
{#
/**
 * @file
 * Theme override for the messages block.
 *
 * @todo UHF-10862 Remove this block once the HDBT cookie banner module is in use.
 *
 * Removes wrapper elements from block so that empty block does not appear when
 * there are no messages.
 *
 * Available variables:
 * - content: The content of this block.
 */
#}

{% if content %}
  <div class="layout-content enriched-content components components--cookie-compliance-block">

  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
        'component--cookie-compliance',
        'component--simulated',
      ],
      component_content_class: 'cookie-compliance-block user-edited-content',
    }
  %}
    {% block component_content %}

      {{ content }}

    {% endblock component_content %}
  {% endembed %}
  </div>
{% endif %}
