{#
/**
 * @file
 * Theme override for a branding block.
 */
#}

{% extends "block.html.twig" %}

{% set attributes = attributes.addClass('block--branding') %}

{% block content %}
  {% set link_title %}
    {% embed "@hdbt/misc/logo.twig" %}{% endembed %}
    <span class="city-name--non-core">{{ site_name }}</span>
  {% endset %}
  {% set link_attributes = {
    'class': [
      'logo',
      'logo--header',
    ],
    'id': 'logo--header',
    'rel': 'home',
  } %}
  {{ link(link_title, site_front_url, link_attributes) }}
{% endblock %}
