{#
/**
 * @file
 * Theme override for the messages block.
 *
 * Removes wrapper elements from block so that empty block does not appear when
 * there are no messages.
 *
 * Available variables:
 * - content: The content of this block.
 */
#}

{% if content %}
  <div class="layout-content">
    {% embed "@hdbt/misc/container.twig" with {container_element: 'cookie-compliance'} %}
      {% block container_content %}
        {{ content }}
      {% endblock container_content %}
    {% endembed %}
  </div>
{% endif %}

