.header-bottom .menu {
  display: none;
  margin: 0;
  padding: 0;

  @include breakpoint($breakpoint-l) {
    display: flex;
  }

  // First level items
  .menu__item {
    list-style: none;
    margin: 0 $spacing;

    &:first-child {
      margin-left: $spacing-double;
    }

    &:last-child {
      margin-right: $spacing-double;
    }
  }

  .menu__link-wrapper {
    @include font-size(18px, 24px);
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;

    a {
      padding: $spacing-and-half 0;
      text-decoration: none;

      &::before {
        background-color: $color-black;
        bottom: 0;
        content: "";
        height: 0;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        transition: all .5s cubic-bezier(.19,1,.22,1);
        width: 0;
      }

      &:focus {
        outline: none;

        &::after {
          border-radius: 2px;
          box-shadow: 0 0 0 3px $color-black;
          content: "";
          display: block;
          height: 50%;
          left: -#{$spacing-quarter};
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: calc(100% + #{$spacing-half});
        }
      }

      &:hover,
      &[aria-current="page"] {
        &::before {
          height: 4px;
          width: 100%;
        }
      }

      &[aria-current="page"]{
        font-weight: 700;
      }

      .explain-external-icon {
        display: none; //TODO: Replace this with visually-hidden once main navigation supports external link icons
        // @include visually-hidden();
      }
    }

    .menu__item--nolink {
      @include font-size(18px, 24px);
      padding: $spacing-and-half 0;
      text-decoration: none;
    }
  }

  .menu__item--children .menu__link-wrapper a {
    &:focus {
      &::after {
        width: calc(100% - 24px); // Width of the dropdown button.
      }
    }
  }

  .menu__item--hover ,
  .menu__item--open {
    position: relative;

    .menu__toggle-button .hel-icon {
      transform: rotate(180deg);
    }

    // Secondary menu items
    .menu {
      background-color: $color-white;
      border: 1px solid $color-black-20;
      bottom: auto;
      display: block;
      left: -$spacing-double;
      min-width: 310px;
      position: absolute;
      width: calc(100% + #{$spacing-quadruple});
      z-index: 100;

      .menu__item {
        margin: 0;

        .menu__toggle-button {
          display: none;
        }
      }

      .menu__link-wrapper {
        width: 100%;

        a,
        .menu__item--nolink {
          @include font-size(16px, 20px);
          display: block;
          padding: $spacing $spacing-double;
          width: 100%;

          &::before {
            bottom: 0;
            height: 100%;
            left: 0;
            margin: 0;
            right: auto;
            top: 0;
            transition: width 100ms ease-in;
          }

          &[aria-current="page"] {
            font-weight: 700;
          }

          &:focus {
            margin: 0;

            &::after {
              height: 100%;
              left: $spacing-half;
              width: calc(100% - #{$spacing});
            }
          }

          &:hover,
          &[aria-current="page"] {
            &::before {
              height: 100%;
              width: 4px;
            }
          }
        }
      }

      // Links on second level that point to external site.
      .menu__item--external a {
        .menu__link__text {
          display: block;
          padding-right: 52px; // Width of the external icon and padding.
          position: relative;
          width: 100%;

          .explain-external-icon {
            display: inline; //TODO: Remove this line when the main level navigation supports external links
            @include visually-hidden();
          }

          &:after {
            @include pseudo-icon('link-external', 20px, $color-black, flex);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  // Active trail items, first level
  .menu__item--active-trail {
    .menu__link-wrapper a {
      font-weight: 700;

      &::before {
        height: 4px;
        width: 100%;
      }
    }

    // Active trail items, second level
    .menu__item {
      .menu__link-wrapper a {
        font-weight: normal;

        &::before {
          height: 100%;
          width: 0;
        }
      }
    }
  }

  // Menu toggle button
  .menu__toggle-button {
    background-color: transparent;
    border: none;
    margin-left: $spacing-half;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      border-radius: 2px;
      box-shadow: 0 0 0 3px $color-black;
      outline: none;
      padding: 6px 0;
    }

    .hel-icon {
      transition: $rotating-icon-transition;
    }
  }

  // By default hide the secondary items
  .menu {
    display: none;
  }
}
