.language-switcher {
  position: relative;

  .language-link {
    @include font-size(14px);
    color: $color-black;
    font-weight: $font-weight-regular;
    margin: 0 $spacing-half;
    text-decoration: underline;

    &.is-active {
      cursor: default;
      font-weight: $font-weight-bold;
      text-decoration: none;
    }

    &.is-disabled {
      color: $color-black-40;
      cursor: default;
      text-decoration: none;
    }

    // TODO: Needs functionality for alternative menu items.
    &.is-alternative {
      display: none;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}
