#mobile-navigation:not( .mm-menu ) {
  display: none;
}

.mobile-navigation__trigger {
  @include font-size(12px, 14px);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 $spacing-half;
  order: 2;
  text-align: center;
  text-decoration: none;
  z-index: 10;

  &:hover {
    cursor: pointer;
  }

  .icon {
    display: block;
    margin-bottom: $spacing-half;
  }

  @include breakpoint($breakpoint-m) {
    order: 3;
  }

  @include breakpoint($breakpoint-l) {
    display: none;
  }
}

.mobile-navigation {

}
