// Temporary styles for the navigation links.
.region--header-top {
  .hds-button {
    @include font-size(14px);
    border: 0;
    border-right: 1px solid $color-white;
    font-weight: $font-weight-regular;
    padding: 0 $spacing;

    &:last-of-type {
      border-right: 0;
    }

    &:hover {
      background-color: transparent;
    }
  }
}
