.sidebar-navigation {
  display: none;

  @include breakpoint($breakpoint-l) {
    display: block;
    width: 100%;
  }

  .sidebar-navigation__title {
    @include font-size(24px, 28px);
    border-bottom: 2px solid $color-black;
    margin-top: $spacing-half;
    padding-bottom: $spacing-and-half;

    a {
      display: flex;
      padding-left: 20px + $spacing; // Width of the arrow icon.
      position: relative;
      text-decoration: none;

      &:before {
        background-color: $color-black;
        background-size: contain;
        content: "";
        display: flex;
        height: 30px;
        left: 0;
        mask-image: icon_url('hds/ui/arrow-left');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 25px;
        position: absolute;
        top: 0;
        width: 20px;
      }

      &:focus {
        outline: none;

        &::after {
          border-radius: 2px;
          box-shadow: 0 0 0 3px $color-black;
          content: "";
          display: block;
          height: 150%;
          left: -$spacing-half;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: calc(100% + #{$spacing-half});
        }
      }
    }
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;

    .menu__item {
      @include font-size(18px, 24px);
      border-top: 1px solid $color-black-20;

      &:first-child {
        border-top: 0;
      }

      &.menu__item--external a {
        display: block;
        padding-right: 40px; // Width of the external icon.
        position: relative;
        width: 100%;

        .explain-external-icon {
          @include visually-hidden();
        }

        &:after {
          background-color: $color-black;
          background-size: contain;
          content: "";
          display: flex;
          height: 20px;
          mask-image: icon_url('hds/ui/link-external');
          mask-position: center;
          mask-repeat: no-repeat;
          mask-size: 20px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
        }

        &:focus {
          &::before {
            width: calc(100% + #{$spacing-half});
          }
        }
      }

      .menu__link-wrapper {
        align-content: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      span.menu__item--nolink,
      a {
        display: block;
        padding: $spacing 0;
        position: relative;
        text-decoration: none;
        width: 100%;

        &[aria-current="page"] {
          font-weight: 700;
        }

        &:focus {
          outline: none;

          &::before {
            border-radius: 2px;
            box-shadow: 0 0 0 3px $color-black;
            content: "";
            display: block;
            height: calc(100% - #{$spacing});
            left: -#{$spacing-half};
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }
        }
      }

      &.menu__item--children {
        .menu {
          display: none;
        }
      }

      &.menu__item--active-trail {
        display: flex;
        flex-wrap: wrap;
      }

      &.menu__item--open {
        .menu {
          display: block;
        }

        .menu__toggle-button .hel-icon {
          transform: rotate(180deg);
        }
      }

      // Second level
      .menu {
        display: none;
        width: 100%;
      }

      .menu__item {
        @include font-size(16px, 24px);
        border-top: none;

        &:last-child span.menu__item--nolink,
        &:last-child a {
          margin-bottom: $spacing-and-half * 0.5;
        }

        span.menu__item--nolink,
        a {
          padding: ($spacing-and-half * 0.5) 0 ($spacing-and-half * 0.5) $spacing;
          position: relative;
          width: 100%;

          &[aria-current="page"]::before {
            background-color: $color-black;
            content: "";
            height: 100%; // Line-height
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 3px;
          }

          &:focus {
            &::before {
              border-radius: 2px;
              box-shadow: 0 0 0 3px $color-black;
              content: "";
              display: block;
              height: 100%;
              left: 0;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 100%; // Width of the dropdown button.
            }
          }
        }

        &.menu__item--external a {
          padding-right: 40px; // Width of the external icon.
        }
      }
    }
  }

  .menu__toggle-button {
    background: transparent;
    border: 0 none;
    display: block;
    min-height: 40px;
    min-width: 40px;
    padding: 0;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;

      &::after {
        border-radius: 2px;
        box-shadow: 0 0 0 3px $color-black;
        content: "";
        display: block;
        height: calc(100% - #{$spacing});
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
    }
  }
}
