.skip-to-main {
  --border-width: 2px;
  --border-color: var(--color-white);
  --outline-gutter: 2px;
  --outline-width: 3px;
  --background-color: var(--hdbt-color-black);
  --color: var(--color-white);
  --focus-outline-color: var(--hdbt-color-black);
  word-wrap: normal;
  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  color: var(--color);
  font-weight: 500;
  left: 50%;
  position: absolute;
  scroll-margin-top: 105px; // Amount of air that should be left when scrolled to top.
  text-decoration: none;
  top: 0;
  transform: translateX(-50%);
  transition: top ease-out 0.2s;
  width: fit-content; // This avoids pushing the content to two rows until absolutely necessary
  z-index: 2;

  &:not(:focus) {
    @include visually-hidden();
  }

  @include breakpoint($breakpoint-m) {
    scroll-margin-top: 24px; // Amount of air that should be left when scrolled to top.
  }

  &:after {
    --size: 100%;
    border: var(--outline-width) solid transparent;
    content: "";
    height: var(--size);
    left: -5px;
    position: absolute;
    top: -5px;
    width: var(--size);
  }

  &:focus {
    outline: none;
    padding: $spacing-half $spacing-and-half;
    top: 102px; // A little overlap with language switcher header on mobile.

    @include breakpoint($breakpoint-m) {
      top: 24px; // Half of the top navigation bar.
    }

    &:after {
      --size: calc(100% + calc(var(--outline-width) * 2 + var(--outline-gutter) * 2));
      border-color: var(--focus-outline-color);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}
