.table-of-contents {
  @include components-container-max-width();
  margin-left: 0;
  margin-right: 0;

  @include breakpoint($breakpoint-m) {
    @include component-side-padding();
    margin-left: auto;
    margin-right: auto;
  }

  .has-sidebar & {
    @include component-negative-side-margin;
  }

  // In rare cases TPR Service page can be rendered without sidebar.
  // In these cases remove the left and right paddings from table of contents.
  .service-header__container:not(.has-sidebar) & {
    @include breakpoint($breakpoint-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.table-of-contents__container {
  @include component-margin-top();
  background-color: $hdbt-color-white;
  border-left: 8px solid var(--hdbt-color-gold--primary);
  max-width: $content-width-max;
  padding: $spacing-double $spacing-and-half;
}

.table-of-contents__title {
  @include font-size(24px, 28px);
  margin-bottom: 0;
  margin-top: 0;

  @include breakpoint($breakpoint-l) {
    @include font-size(36px, 42px);
  }
}

.table-of-contents__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-of-contents__item {
  padding-top: $spacing;

  @include breakpoint($breakpoint-l) {
    padding-top: $spacing-and-half;
  }
}

.table-of-contents__link {
  @include font-size(20px, 28px);
  display: inline-block;
  font-weight: $font-weight-medium;
  position: relative;
  text-decoration: underline;

  @include breakpoint($breakpoint-l) {
    @include font-size(20px, 28px);
  }

  &:focus {
    outline: none;

    &::after {
      border-radius: 2px;
      box-shadow: 0 0 0 3px $color-black;
      content: "";
      display: block;
      height: 100%;
      left: -#{$spacing-quarter};
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% + #{$spacing-half});
    }
  }
}
