.lead-in .component__content {
  @include font('lead');
  max-width: $content-width-max;
}

.page-divider {
  & + * {
    margin-top: $spacing-triple;
  }

  // Hidden, when there is no title above, for example if there is hero
  &:first-child {
    display: none;

    // When page-divider is hidden, following element should not have margin-top
    & + * {
      margin-top: 0;
    }
  }

  .page-title ~ article & {
    display: block;

    // When page-divider is hidden, following element should not have margin-top
    & + * {
      margin-top: $spacing-triple;
    }
  }

  &::after {
    background-color: $color-black;
    content: '';
    display: block;
    height: 2px;
    margin-top: $spacing-double;
    width: $spacing-quadruple;
  }
}

.long-desc {
  @include font('body');

  > p {
    max-width: $content-width-max;
  }

  > :first-child {
    margin-top: 0;
  }

  .main-image + & {
    margin-top: $spacing-quadruple;
  }
}

.content-date {
  @include font('small');
  color: $color-black-60;
  margin-bottom: $spacing-and-half;
}

.content-date__datetime--updated::before {
  background-color: currentcolor;
  content: '';
  display: inline-block;
  height: 1em;
  margin-bottom: -1px; // finetune vertical position to visually match text
  margin-left: $spacing-half;
  margin-right: $spacing-half;
  width: 1px;
}

.content-links {
  @include component-margin-top;
}

.content-links__title {
  @include font('h3');
}

.content-links__links {
  margin-top: $spacing-and-half;
  padding: 0;
}

.content-links__links__link {
  @include font('special.large_link');
  list-style: none;
  padding: 0;

  & + & {
    margin-top: $spacing;
  }

  a:hover {
    text-decoration: none;
  }

  a::after {
    @include pseudo-icon('arrow-right');
    @include hover-link-arrow-transition;
    margin-left: $spacing-quarter;
    transform: scaleX(var(--lang-direction, 1));
  }

  a:hover::after {
    transform: scaleX(var(--lang-direction, 1)) translateX($spacing-quarter);

    @media (prefers-reduced-motion) {
      transform: none;
    }
  }

  a[data-is-external]::after {
    content: none;
  }
}

.sidebar_block_heading {
  @include font('h3');
  border-bottom: 2px solid $color-black;
  margin-top: 0;
  padding-bottom: $spacing-and-half;
  width: 100%;
}
