/* stylelint-disable max-nesting-depth -- @todo UHF-12501 */
.errand-service {
  margin-top: $spacing-triple;
  max-width: $content-width-max;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-quadruple;
  }
}

.errand-service__container {
  padding: 0;
}

.errand-service__title {
  margin-top: 0;
}

.errand-service__description {
  @include font('body');
  margin-top: $spacing-and-half;

  p:first-child {
    margin-top: 0;
  }
}

.errand-service__accordion {
  @include component-margin-top;

  .accordion__container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .errand-service__detail-links {
    list-style: none;
    padding-left: 0;
    padding-top: 0;

    .errand-service__detail-link-wrapper {
      margin-top: $spacing;

      &:first-child {
        margin-top: 0;
      }
    }

    .errand-service__detail-link {
      display: flex;

      &::before {
        @include pseudo-icon('globe', $spacing-and-half, $color-black, flex);
        flex-shrink: 0;
        margin-right: $spacing-half;
      }
    }
  }
}
