.page-type--news-item .sidebar-first {
  display: block;
}

.news-listing {
  margin-top: 0;
  padding-inline-start: 0;
  padding-top: 0;
}

.news-listing__link {
  display: block;

  &::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.news-listing__title {
  margin-top: 0;
}

.news-listing__datetime {
  @include font('small');
  color: $color-black-60;
}

.components--news {
  margin-top: 0;
}

.news-listing__content--unpublished {
  &::before {
    opacity: .3;
  }

  .news-listing__link,
  .news-listing__datetime {
    color: var(--color-error);
  }
}

// News listings using tiny-teasers.
.news-listing--latest-tiny-teasers {
  .news-listing__item {
    border-bottom: 1px solid var(--color-black-10);
    display: flex;
    margin-top: 0;
    padding-bottom: $spacing;
    padding-top: $spacing;
    position: relative;
  }
}

.news-listing__tiny-teaser .news-listing__title {
  @include font('special.large_link');
  margin-bottom: $spacing-half;
}

// News listings using medium teasers.
.news-listing--medium-teasers {
  list-style: none;

  .news-listing__item + .news-listing__item {
    margin-top: $spacing-and-half;

    @include breakpoint($breakpoint-m) {
      margin-top: 0;
    }
  }
}

// Latest news block variant.
// @todo: move medium teaser styles to generic teaser
// https://helsinkisolutionoffice.atlassian.net/browse/UHF-10868
.news-listing--latest-medium-teasers {
  margin-bottom: 0;
  padding-inline-start: 0; // User agent stylesheet override
  padding-right: 0;

  @include breakpoint($breakpoint-m) {
    column-gap: $spacing-and-half;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: $spacing-double;
  }

  .news-listing__item {
    list-style: none;
    margin-top: $spacing-and-half;
    position: relative;

    @include breakpoint($breakpoint-m) {
      margin-top: 0;
    }
  }
}

.news-listing__medium-teaser {
  padding-inline-start: $spacing + $spacing-quarter;

  @include breakpoint($breakpoint-l) {
    padding-inline-start: $spacing-and-half + $spacing-quarter;
  }

  &::before {
    background-color: var(--hdbt-color-palette--accent);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $spacing-quarter;
  }

  [dir='rtl'] & {
    &::before {
      left: auto;
      right: 0;
    }
  }

  .news-listing__title {
    @include font(h5);

    @include breakpoint($breakpoint-l) {
      @include font(h4);
    }
  }

  .news-listing__datetime {
    display: inline-block;
    margin-top: $spacing;

    @include breakpoint($breakpoint-l) {
      margin-top: $spacing-and-half;
    }
  }
}

.news-listing--card-teasers {
  display: grid;
  gap: 0;
  list-style: none;
  padding-left: 0;

  @include breakpoint($breakpoint-m) {
    column-gap: $spacing-and-half;
    grid-template-columns: repeat(3, 1fr);
  }

  .news-listing__item + .news-listing__item {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-m) {
      margin-top: 0;
    }
  }
}

.news-listing--sidebar {
  margin-bottom: $spacing-quadruple;

  .link__read-more-news {
    align-items: center;
    display: flex;
    text-decoration: none;

    .hel-icon--arrow-right {
      @include hover-link-arrow-transition;
      height: $spacing-and-half;
      margin-inline-start: $spacing-quarter;
      transform: scaleX(var(--lang-direction, 1));
      width: $spacing-and-half;
    }

    &:focus,
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: remify(2px);

      .hel-icon {
        transform: scaleX(var(--lang-direction, 1)) translateX($spacing-quarter);

        @media (prefers-reduced-motion) {
          transform: none;
        }
      }
    }
  }
}
