.service-channel {
  @include font('body');
  background-color: var(--color-fog-light);
  margin: $spacing-double 0 0;
  padding: $spacing-and-half;

  @include breakpoint($breakpoint-l) {
    padding: $spacing-double;
  }
}

.service-channel__type {
  @include font('h3');
  margin-top: 0;
}

.service-channel__title {
  @include font('h4');
  margin-top: $spacing-and-half;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-double;
  }
}

.service-channel__content + .service-channel__content .service-channel__title {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-triple;
  }
}

.service-channel__links {
  display: flex;
  flex-direction: column;
  gap: $spacing-half;
  margin-top: $spacing-and-half;
  place-items: flex-start;
}

.service-channel--eservice .service-channel__links {
  margin-top: $spacing;
}

.service-channel__link {
  @include font('body');
  font-weight: 500;
}

.service-channel__address {
  .address > span {
    display: block;
  }

  .comma {
    display: none;
  }
}

.service-channel__address,
.service-channel__link--email,
.service-channel__phone {
  margin-top: $spacing-and-half;
}

.service-channel__availabilities,
.service-channel__call_charge {
  display: block;
  margin-top: $spacing;

  p:first-of-type {
    margin-top: 0;
  }
}

.service-channel__extra-information {
  margin-top: $spacing;
}

.service-channel--no-title {
  .service-channel__link--email,
  .service-channel__phone {
    margin-top: 0;
  }
}
