.component--recommendations {
  @include component-margin-top;
  background-color:  $color-black-5;
  margin-left: $spacing;
  margin-right: $spacing;
  padding: $spacing-and-half $spacing $spacing-and-half;

  @include breakpoint($breakpoint-m) {
    padding: $spacing-triple $spacing-double $spacing-triple;
  }

  .empty-text {
    @include font(body);
  }

  .component__description {
    @include font(small);
  }
}

.page-type--page .component--recommendations,
.page-type--service .component--recommendations {
  @include breakpoint($breakpoint-m) {
    padding: $spacing-double;
  }

  .component__title {
    @include font(h3);
  }
}
