.components--recommendations {
  @include component-side-padding;
}

.component.component--recommendations {
  @include component-margin-top;
  background-color:  $color-black-5;
  max-width: $content-width-max;
  padding: $spacing-and-half $spacing;

  @include breakpoint($breakpoint-m) {
    padding: $spacing-triple $spacing-double $spacing-triple;
  }

  .empty-text {
    @include font(body);
  }

  .component__description {
    @include font(small);
  }
}

.component--recommendations--tiny-cards {
  @include breakpoint($breakpoint-m) {
    padding: $spacing-double;
  }

  .component__title {
    @include font(h3);
  }
}
