{% if toc_enabled|render|striptags|trim is not empty %}
  {% set alternative_language = current_langcode not in primary_languages %}

  <div class="table-of-contents">
    <div id="helfi-toc-table-of-contents" class="table-of-contents__container">
      {% if toc_title|render %}
        {% set title_attributes = {
            'class': [
              'table-of-contents__title',
            ]
          }
        %}
        {% if alternative_language %}
          {% set title_attributes = title_attributes|merge({
              'dir': 'ltr',
              'lang': 'en'
            })
          %}
        {% endif %}
        <h2 {{ create_attribute(title_attributes) }}>{{ toc_title }}</h2>
      {% endif %}
      <nav id="helfi-toc-table-of-contents-list" class="table-of-contents__content">
        <ul class="table-of-contents__list">
          <li class="js-remove table-of-contents__item">{{ 'Loading table of contents'|t }}</li>
        </ul>
      </nav>
    </div>
  </div>
{% else %}
  <div class="page-divider"></div>
{% endif %}
