{% spaceless %}

  {% if 'data-is-external' in attributes|keys %}
    {% set external %}<span class="link__external" title="({{ 'Link leads to external service'|t({}, {'context': 'Explanation for screen-reader software that the icon visible next to this link means that the link leads to an external service.'}) }})"></span>{%- endset %}
  {% endif %}

  {{ title }}{{ external }}

{% endspaceless %}
