<form class="helfi-search__form" action="https://develop.helsinki-search-results.pages.dev/">
  <div class="js-form-item form-item js-form-type-textfield hds-text-input">
    <div class="hds-text-input__input-wrapper">
      <input type="search" name="q" value="" size="30" maxlength="128" class="form-text hds-text-input__input" placeholder="{{'Enter a search word'|t({}, {'context': 'Helfi search input placeholder'}) }}">
    </div>
  </div>
  <button class="hds-button hds-button--primary helfi-search__submit-button" type="submit" value="Submit">{{ 'Search'|t({}, {'context': 'Helfi search button'}) }}</button>
</form>
