{#
/**
 * @file
 * Theme for Helfi Chart.
 *
 * Field field_helfi_chart_url contains iframe element.
 * See: @helfi_chart/templates/chart-iframe.html.twig
 */
#}
{% if content.field_helfi_chart_url|render %}
  <figure>
    <div class="chart__container">
      {{ content.field_helfi_chart_url }}
    </div>
    <figcaption class="chart__transcript">{{ content.field_helfi_chart_transcript }}</figcaption>
  </figure>
{% endif %}
