<h2 class="news-archive__heading">{{ 'All news items'|t({}, {'context': 'News archive heading'}) }}</h2>
<ul class="news-listing news-listing--teasers">
  {% for row in rows %}
    <li class="news-listing__item">
      {{- row.content -}}
    </li>
  {% endfor %}
</ul>
