<div class="news-archive__heading">
  <h2 class="news-archive__title">
    {{ 'All news items'|t({}, {'context': 'News archive heading'}) }}
  </h2>
</div>
{% for row in rows %}
  {{- row.content -}}
{% endfor %}
