/*
* JS menu styles (reuse CSS menu classes where possible, remove unused when done
*/
// TODO make this available from variables. needs to be accessed from manu scopes

$-header-height: 66px;
$-jsmenu-active-border: 6px;
$-jsmenu-border: #ccc;
.jsmenu__drawer {
  background: $color-silver-light;
  overflow-x:hidden;
  overscroll-behavior: none;
  position:absolute;
  @include font('body');
  display:none;
  height:calc(100vh - $-header-height);
  //this causes panel flex to break. Either fix
  width: 100vw;
  z-index: 2;
}

.jsmenu__loading {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
  .hds-loading-spinner {
    left:auto;
    position: relative;
    top:auto;
  }

}

.jsmenu__panels  {
  background: $color-silver-light;
  height:calc(100vh - $-header-height);
  overscroll-behavior: none;
  position:relative;
}

.jsmenu__panel {
  background-color: white;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height:calc(100vh - $-header-height);
  overflow:visible;
  overscroll-behavior: none;
  position:absolute;
  transition-property: all;
  width:100vw;
}

.jsmenu__panel.jsmenu__panel--visible-fast {
  transition-duration: 0.3s;
  z-index: 50;
}

.jsmenu__panel.jsmenu__panel--visible-slow {
  transition-duration: 0.4s;
  z-index: 4;

}

.jsmenu__panel.jsmenu__panel--visible {
  opacity:1;
  transform:translateX(0);
  transition-property: transform;
  transition-timing-function: ease-out;
}

.jsmenu__panel.jsmenu__panel--visible-right {
  opacity:0.1;
  transform:translateX(100vw);
  transition-property: all;
  transition-timing-function: ease-in;
}



.jsmenu__panel.jsmenu__panel--visible-left {
  opacity:0.1;
  transform:translateX(-100vw);
  transition-property: all;
  transition-timing-function: ease-in;
}


.jsmenu__button--back {

  align-items: center;
  background-color: white;
  border:0;
  display: flex;
  margin: $spacing 0 $spacing-and-half $spacing;
  padding:0;
  position: relative;
  & span {
    background: white;
    display: inline-block;
    flex-grow: 1;
    height: 100%;
    margin-left:12px;
  }
}

.jsmenu__panel:not(:first-child) .jsmenu__button--back::before {
  @include pseudo-icon('angle-left', $spacing-and-half, black);
  transform: translateX(2px);
  // @include rotating-icon-transition;
  z-index:3;
}


.jsmenu__panel:not(:first-child) .jsmenu__button--back::after {
  background: $color-silver-light;
  content:'';
  display: block;
  height:28px;
  left:0;
  position:absolute;
  width:28px;
  z-index:2;
  // @include rotating-icon-transition;
}



.jsmenu__panel-body {
   min-height: 30vh;
}


.jsmenu__title-link {
  display:block;
  font-weight: bold;
  margin: $spacing;
}

.jsmenu__panel-footer {
  background:$color-silver-light;
  flex-grow: 1;
  min-height:10rem;
  padding-left:$spacing;
  padding-top:$spacing-and-half;
}


.jsmenu__panel--current .jsmenu__panel-footer {
  // for transition purposes
  min-height:50vh;
}

.jsmenu__language  {
  background-color: $color-silver-light;
  height:2rem;
  position: relative;
}

// .jsmenu__language::after {
//   position: absolute;
//   right:-2rem;
//   @include pseudo-icon('angle-down', $spacing-and-half, black);
// }

.jsmenu__items {
  background-color: white;
  margin:0;
  margin-top: $spacing;
  padding:0;
}


.jsmenu__item {
  align-items: stretch;
  background:white;
  border-top:1px solid $-jsmenu-border;
  display:flex;
  font-size:var(--jsmenu-font-size);
  gap:12px;
  margin:0;
  min-height: $spacing-triple;
}

.jsmenu__itemlink {
  align-items: center;
  border-left:$-jsmenu-active-border solid white;
  display: inline-flex;
  flex-grow: 1;
  padding: $spacing-half 0;
  padding-left:calc($spacing - $-jsmenu-active-border);
  text-decoration: none;
  &.jsmenu__itemlink--active {
    border-color: black;
    font-weight: bold;
  }
}

.jsmenu__button--forward {
  background:none;
  border:0;
  border-left:1px solid $-jsmenu-border;
  flex-grow:0;
  flex-shrink: 0;
  width: 3rem;
}

.jsmenu__button--forward::before {
  @include pseudo-icon('angle-right', $spacing-and-half, black);
  // @include rotating-icon-transition;
}
