/*
* JS menu styles (reuse CSS menu classes where possible, remove unused when done
*/

$-jsmenu-active-border: $spacing-quarter;
$-jsmenu-border: $color-black-20;
$-transition-duration: 0.2s;

.jsmenu {
  @include font('body');
  background: $color-silver-light;
  display: none;
  width: 100vw; // this causes panel flex to break.
  z-index: 2;
}

.jsmenu--visible {
  display: block;

  @include breakpoint($breakpoint-l) {
    display: none;
  }
}

.jsmenu__loading {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;

  .hds-loading-spinner {
    left: auto;
    position: relative;
    top: auto;
  }
}

.jsmenu__panels {
  background: $color-silver-light;
  display: grid;
  grid-template-areas: 'panels';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  overscroll-behavior: none;
}

.jsmenu__panel {
  --transition-opacity-delay: #{$-transition-duration}; // Delay hiding the offscreen panels until animation is done
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-area: panels;
  height: var(--menu-height);
  max-height: var(--menu-max-height);
  overflow-x: none;
  overflow-y: auto;
  overscroll-behavior: contain;
  transition-delay: 0s, var(--transition-opacity-delay);
  transition-property: transform, opacity;
  width: 100vw;
}

.jsmenu__panel--current {
  --transition-opacity-delay: 0s; // Current panels should be visible instantly
}

.jsmenu__panel.jsmenu__panel--visible-fast,
.jsmenu__panel.jsmenu__panel--visible-slow {
  transition-duration: $-transition-duration, 0s;
}

.jsmenu__panel.jsmenu__panel--visible {
  opacity: 1;
  transform: translateX(0);
  transition-timing-function: ease-out;
}

.jsmenu__panel.jsmenu__panel--visible-right {
  opacity: 0;
  transform: translateX(100vw);
  transition-timing-function: ease-in;
}

.jsmenu__panel.jsmenu__panel--visible-left {
  opacity: 0;
  transform: translateX(-50vw);
  transition-timing-function: ease-in;
}

.jsmenu__button--back {
  align-items: center;
  background-color: $color-white;
  border: 0;
  display: flex;
  margin: $spacing 0 $spacing-and-half $spacing;
  padding: 0;
  position: relative;

  & span {
    background: $color-white;
    display: inline-block;
    flex-grow: 1;
    height: 100%;
    margin-left: 12px;
  }
}

.jsmenu__panel:not(:first-child) .jsmenu__button--back::before {
  @include pseudo-icon('angle-left', $spacing-and-half, black);
  transform: translateX(2px);
  z-index: 3;
}

.jsmenu__panel:not(:first-child) .jsmenu__button--back::after {
  background: $color-silver-light;
  content: '';
  display: block;
  height: 28px;
  left: 0;
  position: absolute;
  width: 28px;
  z-index: 2;
}

.jsmenu__title-link {
  display: block;
  font-weight: bold;
  margin: $spacing;
}

.jsmenu__panel-footer {
  background: $color-silver-light;
  flex-grow: 1;
  padding-left: $spacing;
  padding-top: $spacing-and-half;
}

.jsmenu__language {
  background-color: $color-silver-light;
  height: 2rem;
  position: relative;
}

.jsmenu__items {
  background-color: $color-white;
  margin: 0;
  margin-top: $spacing;
  padding: 0;
}

.jsmenu__item {
  align-items: stretch;
  background: $color-white;
  border-top: 1px solid $-jsmenu-border;
  display: flex;
  font-size: var(--jsmenu-font-size);
  gap: 12px;
  margin: 0;
}

.jsmenu__itemlink {
  align-items: center;
  border-left: $-jsmenu-active-border solid $color-white;
  display: inline-flex;
  flex-grow: 1;
  padding: $spacing-half 0;
  padding-left: calc($spacing - $-jsmenu-active-border);
  text-decoration: none;
}

.jsmenu__itemlink--active {
  border-color: $color-black;
  font-weight: bold;
}

.jsmenu__button--forward {
  background: none;
  border: 0;
  border-left: 1px solid $-jsmenu-border;
  flex-grow: 0;
  flex-shrink: 0;
  width: 3rem;
}

.jsmenu__button--forward::before {
  @include pseudo-icon('angle-right', $spacing-and-half, black);
}
