/*
* JS menu styles (reuse CSS menu classes where possible, remove unused when done
*/

$-mmenu-active-border: $spacing-quarter;
$-mmenu-border-color: $color-black-20;
$-transition-duration: 0.2s;
$-back-icon-bg-size: 40px;
$-back-icon-size: $spacing-double;
$-itemlink-target-size: $spacing-quadruple;
$-footerlink-target-size: 44px;

.mmenu {
  @include font('body');
  background: $color-silver-light;
  display: none;
  width: 100vw; // this causes panel flex to break.
  z-index: 2;
}

.mmenu--visible {
  display: block;

  @include breakpoint($breakpoint-l) {
    display: none;
  }
}

.mmenu__loading {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;

  .hds-loading-spinner {
    left: auto;
    position: relative;
    top: auto;
  }
}

.mmenu__panels {
  background: $color-silver-light;
  display: grid;
  grid-template-areas: 'panels';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  overscroll-behavior: contain;
}

.mmenu__panel {
  --transition-opacity-delay: #{$-transition-duration}; // Delay hiding the offscreen panels until animation is done
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-area: panels;
  height: var(--menu-height);
  max-height: var(--menu-max-height);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-top: $spacing;
  transition-delay: 0s, var(--transition-opacity-delay);
  transition-duration: $-transition-duration, 0s;
  transition-property: transform, opacity;
  width: 100vw;

  @media (prefers-reduced-motion) {
    transition-duration: 0s, 0s;
  }
}

.mmenu__panel--current {
  --transition-opacity-delay: 0s; // Current panels should be visible instantly
}

.mmenu__panel--visible {
  opacity: 1;
  transform: translateX(0);
  transition-timing-function: ease-out;
}

.mmenu__panel--visible-right {
  opacity: 0;
  transform: translateX(100vw);
  transition-timing-function: ease-in;
}

.mmenu__panel--visible-left {
  opacity: 0;
  transform: translateX(-50vw);
  transition-timing-function: ease-in;
}

.mmenu__back {
  align-items: start;
  background-color: $color-white;
  border: 0;
  cursor: pointer;
  display: grid;
  gap: $spacing-half;
  grid-template-areas: 'icon label';
  grid-template-columns: $-back-icon-bg-size auto;
  grid-template-rows: auto;
  justify-items: center;
  margin-top: -5px; // Counter the focus ring padding below
  padding: 5px 12px; // Top and bottom paddings are for handling focus ring 3px width + 2px offset
  position: relative;
  width: 100%;

  &::before {
    @include pseudo-icon('angle-left', $spacing-double, black);
    @include hover-link-arrow-transition;
    grid-area: icon;
    margin-top: 0.5 * ($-back-icon-bg-size - $-back-icon-size);
  }

  &::after {
    background: $color-silver-light;
    content: '';
    display: block;
    grid-area: icon;
    height: $-back-icon-bg-size;
    width: $-back-icon-bg-size;
  }

  &:hover,
  &:active {
    text-decoration: underline;
    text-decoration-thickness: remify(2px);

    &::before {
      transform: translateX(-4px);
    }
  }

  &:focus,
  &:active {
    outline: 3px solid $color-black;
    outline-offset: -3px;

    &::before {
      transform: translateX(-4px);
    }
  }
}

.mmenu__back-wrapper {
  $-back-font: 'button';
  $-back-line-height: get-line-height($-back-font, true);

  @include font($-back-font);
  color: $color-black;
  grid-area: label;
  justify-self: start;
  margin-top: 0.5 * ($-back-icon-bg-size - $-back-line-height);
}

.mmenu__title-link {
  @include font('special.navigation.mobile_header');
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  min-height: 50px; // 40px like above, but add 2*5px to handle focus ring and stay same size as above element
  padding: 5px 12px; // Top and bottom paddings are for handling focus ring 3px width + 2px offset

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:focus,
  &:active {
    outline: 3px solid $color-black;
    outline-offset: -3px;
  }
}

.mmenu__items {
  background-color: $color-white;
  border-bottom: 1px solid $-mmenu-border-color;
  margin: 0;
  margin-top: $spacing;
  padding: 0;
}

.mmenu__item {
  align-items: stretch;
  background: $color-white;
  border-top: 1px solid $-mmenu-border-color;
  display: flex;
  margin: 0;
}

.mmenu__item-link {
  $-itemlink-font: 'special.navigation.mobile_nav';
  $-itemlink-line-height: get-line-height($-itemlink-font, true);
  $-itemlink-vertical-padding: 0.5 * ($-itemlink-target-size - $-itemlink-line-height);

  @include font($-itemlink-font);
  align-items: center;
  flex-grow: 1;
  padding-bottom: $-itemlink-vertical-padding;
  padding-left: $spacing;
  padding-right: $spacing;
  padding-top: $-itemlink-vertical-padding;
  position: relative;
  text-decoration: none;

  &::before {
    background: $color-black;
    bottom: 0;
    content: '';
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform 0.1s ease-in;
    width: $-mmenu-active-border;

    @media (prefers-reduced-motion) {
      transition-duration: 0s;
    }
  }

  &:hover,
  &:active {
    text-decoration: underline;
    text-decoration-thickness: remify(2px);
  }

  // .mmenu__title-link[aria-current='page'],
  &[aria-current='page'],
  &:focus,
  &:active {
    outline: 0 none;

    &::before {
      transform: scaleX(1);
    }
  }

  &[aria-current='page']:focus {
    text-decoration: underline;
    text-decoration-thickness: remify(2px);
  }
}

.mmenu__title-link--in-path,
.mmenu__item-link--in-path {
  font-weight: $font-weight-bold;
}

.mmenu__item-link--injected,
.mmenu__item-link--injected + .mmenu__forward {
  background: $color-black-5;
}

.mmenu__forward {
  align-items: center;
  background: none;
  border: 0;
  border-left: 1px solid $-mmenu-border-color;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  width: $-itemlink-target-size;

  &::before {
    @include pseudo-icon('angle-right', $spacing-and-half, black);
    @include hover-link-arrow-transition;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      transform: translateX(4px);
    }
  }

  &:focus,
  &:active {
    outline: 3px solid $color-black;
    outline-offset: -3px;
  }
}

.mmenu__footer {
  background: $color-silver-light;
  flex-grow: 1;
  padding-bottom: $spacing;
  padding-top: $spacing;

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu__item {
    margin: 0;
    padding: 0;
  }


  .menu__nolink {
    $-footer-link-font: 'body';
    $-footer-link-vertical-padding: 0.5 * ($-footerlink-target-size - get-line-height($-footer-link-font, true));
    display: block;
    @include font($-footer-link-font);
    padding-bottom: $-footer-link-vertical-padding;
    padding-left: $spacing;
    padding-right: $spacing;
    padding-top: $-footer-link-vertical-padding;
  }

  .menu__link {
    $-footer-link-font: 'body';
    $-footer-link-vertical-padding: 0.5 * ($-footerlink-target-size - get-line-height($-footer-link-font, true));

    @include font($-footer-link-font);
    display: block;
    padding-bottom: $-footer-link-vertical-padding;
    padding-left: $spacing;
    padding-right: $spacing;
    padding-top: $-footer-link-vertical-padding;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
      text-decoration-thickness: remify(2px);
    }

    &:focus,
    &:active {
      outline: 3px solid $color-black;
      outline-offset: -3px;
    }
  }
}

.mmenu__logo {
  display: flex;
  justify-items: center;
  margin-bottom: $spacing-quadruple;
  margin-top: $spacing-triple;
}

.mmenu__logo-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mmenu__logo .logo__icon {
  --height: #{$spacing-triple};
}
