// stylelint-disable scss/dollar-variable-empty-line-before
// This file includes constraints used in the theme.

$gutter: 16px;

$spacing: $gutter; // 16px
$spacing-quarter: $spacing * 0.25; // 4px
$spacing-half: $spacing * 0.5; // 8px
$spacing-three-quarters: $spacing * 0.75; // 12px
$spacing-and-half: $spacing * 1.5; // 24px
$spacing-double: $spacing * 2; // 32px
$spacing-triple: $spacing * 3; // 48px
$spacing-quadruple: $spacing * 4; // 64px
$spacing-sextuple: $spacing * 6; // 96px

$wrapper-width-max: 1920px;

$content-area-wrapper-width-max: $container-width-xl + $spacing-quadruple;
$image-content-width-max: 996px;
$content-width-max: 860px;

$footer-koro-height: 50px;

$wcag-touch-target-size-aa: 24px; // The minimum requirement for hel.fi is 24px, https://www.wcag.com/developers/2-5-8-target-size-minimum-level-aa
$wcag-touch-target-size-aaa: 44px; // This is the recommended size for touch targets for AAA accessibility level.

