.region--attachments .kuura-widget-container {
  bottom: $spacing-and-half;
  height: auto;
  left: auto;
  // Override kuura-widget-container-inline class styles since it can't be removed.
  position: fixed;
  right: $spacing-and-half;
  top: auto;
  width: auto;
  z-index: 10;
}
