.block--language-switcher {
  margin: 0 -#{$spacing};
  order: 3;
  padding: 12px $spacing;
  position: relative;
  transition: all .3s ease 1s; // The transition delay here combats a bit for the accidental scroll ups during scrolling
  width: calc(100% + #{$spacing-double});
  z-index: 0;

  @include breakpoint($breakpoint-m) {
    border-top: none;
    margin: 0 0 0 auto;
    order: 2;
    padding: 0;
    width: auto;
  }

  &.scroll-up {
    margin-top: -48px;
    transition-delay: 0s; // Transition delay should be 0 when hiding the switcher

    @include breakpoint($breakpoint-m) {
      margin-top: 0;
    }
  }
}
