.hds-breadcrumb {
  --horizontal-margin: #{$spacing};

  @include font('special.breadcrumb.parent'); // Change the font to match Hel.fi brand.
  padding: 0; // There is too much air around the breadcrumb element in hds.

  @include breakpoint($breakpoint-m) {
    --horizontal-margin: #{$spacing-double};
  }
}

.hds-breadcrumb__list-item {
  margin-top: 0; // Remove spacing caused by hdbt li + li style.
}

.hds-breadcrumb__list-item--active {
  padding: 0; // Remove active list item padding set by hds to match Hel.fi brand.
}

.hds-breadcrumb__link {
  // Make the breadcrumb links clickable area meet the minimum height requirement for the WCAG AAA standard.
  padding-block: $spacing-half;

  @include breakpoint($breakpoint-m) {
    padding-block: $spacing;
  }
}

.hds-breadcrumb__separator.hds-breadcrumb__separator {
  --icon-size: #{remify(14px)}; // Icons are styled smaller in Hel.fi breadcrumb.
  margin-inline: 2px; // Icons have also a little bit more spacing around that in hds.
}

.hds-breadcrumb__back-arrow.hds-breadcrumb__back-arrow {
  // Position the back arrow a bit differently that how it is positioned in hds.
  margin-left: -#{$spacing-half};
  margin-right: 0;
}
