$-header-horizontal-margin: 2px; // This needs to be hard-coded to achieve the designed layout.
$-header-horizontal-padding: 10px; // Specific pixel size for top and bottom padding from layout.
$-header-vertical-padding: $spacing-quarter;

.header-top {
  display: none; // Hide on mobile

  @include breakpoint($breakpoint-l) {
    align-items: center;
    background-color: $color-black-5;
    display: flex;
    justify-content: flex-end;
    padding: 0 $spacing-double;
  }

  .menu {
    display: flex;
    gap: calc($spacing - ($-header-vertical-padding * 2)); // Negate the effect of links padding on the sides to the gap that should be 16px.
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu__link {
    display: inline-block;
    margin-block: $-header-horizontal-margin;
    padding-block: $-header-horizontal-padding; // This sets the link clickable area to be big enough for a11y.
    padding-inline: $-header-vertical-padding;

    &:focus-visible {
      outline: 3px solid $color-black;
      outline-offset: -($-header-horizontal-margin);
    }
  }

  .menu__item:last-child .menu__link {
    padding-inline-end: 0;
  }

  .link-to-site-frontpage {
    @include navigation-link-defaults;
  }

  .menu__link__text::after {
    --external-icon-move: translate(1px, -1px);

    @media (prefers-reduced-motion) {
      --external-icon-move: scale(1);
    }
  }
}

.frontpage-instance-link__container {
  margin-right: auto;
}
