// HDS input height from search-input.css
$-search-button-min-height: 56px;

.helfi-search__form {
  align-items: flex-end;
  display: flex;
  gap: $spacing-half;
  position: relative;

  .form-item {
    margin-bottom: 0;
  }
}

// Hide search form if js is disabled
html:not(.js) .helfi-search__form {
  display: none;
}

.helfi-search__submit-button {
  height: $-search-button-min-height;
}

.hdbt-search-suggestions {
  background-color: $color-white;
  border-bottom: 2px solid $color-black-50;
  border-left: 2px solid $color-black-50;
  border-right: 2px solid $color-black-50;
  border-top: 1px solid $color-black-20;
  left: 0;
  list-style: none;
  margin: 0;
  max-height: 268px; // Approximate height of 6 items.
  overflow-y: auto;
  padding: 2px 0 0;
  position: absolute;
  top: calc(100% - 2px); // Move dropdown over the border from focused input.
  width: 100%;
  z-index: 11;

  &[hidden] {
    display: none;
  }
}

// React version adjustments.
.hdbt-search--react__input-wrapper .hdbt-search-suggestions {
  left: -2px;
  top: 100%;
  width: calc(100% + 4px);
}

// Vanilla JS version of focus & hover styles for suggestions.
.hds-search-input__input:focus + .hdbt-search-suggestions,
.hds-search-input__input:hover + .hdbt-search-suggestions,
// React version of focus & hover styles for suggestions.
.hdbt-search--react__input:focus-within input ~ .hdbt-search-suggestions,
.hdbt-search--react__input input:hover ~ .hdbt-search-suggestions,
.hdbt-search--react__input .hdbt-search-suggestions:hover {
  border-bottom-color: $color-black-90;
  border-left-color: $color-black-90;
  border-right-color: $color-black-90;
}

.hdbt-search-suggestions__option {
  margin-block-start: 0; 
}

.hdbt-search-suggestions__option__button {
  @include font('body');
  background: none;
  border: 0;
  cursor: pointer;
  display: block;
  padding: $spacing-half $spacing;
  text-align: left;
  width: 100%;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }

  &:focus {
    outline: 2px solid $color-black;
    outline-offset: -4px;
  }

  &:focus:hover {
    outline-color: $color-white;
    outline-width: 1px;  
  }
}
