.tab__content[aria-hidden='true'] {
  display: none;
}

.tabs {
  display: flex;
  gap: $spacing-half;
}

.tab {
  background: transparent;
  border: none;
  display: inline-block;
  padding: $spacing;
  position: relative;
  text-decoration: none;

  &[aria-selected='true']::after {
    background-color: $color-black-90;
    bottom: 0;
    content: "";
    height: $spacing-quarter;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus,
  &:active {
    outline: 3px solid $color-black-90;
    outline-offset: 1px;
  }
}
