html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

// Border box is applied to all elements but individual elements can change this setting if required.
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  // stylelint-disable order/properties-alphabetical-order
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  --line-height: #{$base-line-height}; // This line sets the default inline icon-size compared to 1em
  background-color: $body-bg-color;
  color: $color-black-90;
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
  font-size: 1rem; // this should fix UHF-2696
  line-height: $base-line-height;
  // stylelint-enable order/properties-alphabetical-order

  &.gin--horizontal-toolbar {
    // Move toolbar paddings to dialog-off-canvas.
    padding-top: 0 !important;
  }
}
