:root {
  --hdbt-color-black: #121212;
  --hdbt-default-link-color: var(--color-black-90);

  // Default color variables.
  --hdbt-theme-color: var(--color-black);
  --hdbt-text-color: var(--color-white);

  // Default text colors based on background colors.
  --hdbt-text-color--coat-of-arms: var(--color-white);
  --hdbt-text-color--brick: var(--color-white);
  --hdbt-text-color--bus: var(--color-white);
  --hdbt-text-color--metro: var(--color-white);
  --hdbt-text-color--tram: var(--color-white);
  --hdbt-text-color--gold: var(--hdbt-color-black);
  --hdbt-text-color--silver: var(--hdbt-color-black);
  --hdbt-text-color--copper: var(--hdbt-color-black);
  --hdbt-text-color--engel: var(--hdbt-color-black);
  --hdbt-text-color--fog: var(--hdbt-color-black);
  --hdbt-text-color--summer: var(--hdbt-color-black);
  --hdbt-text-color--suomenlinna: var(--hdbt-color-black);

  // Default button colors based on background colors.
  --hdbt-button-text-color--coat-of-arms: var(--hdbt-color-black);
  --hdbt-button-text-color--brick: var(--hdbt-color-black);
  --hdbt-button-text-color--bus: var(--hdbt-color-black);
  --hdbt-button-text-color--metro: var(--hdbt-color-black);
  --hdbt-button-text-color--tram: var(--hdbt-color-black);
  --hdbt-button-text-color--gold: var(--color-white);
  --hdbt-button-text-color--silver: var(--color-white);
  --hdbt-button-text-color--copper: var(--color-white);
  --hdbt-button-text-color--engel: var(--color-white);
  --hdbt-button-text-color--fog: var(--color-white);
  --hdbt-button-text-color--summer: var(--color-white);
  --hdbt-button-text-color--suomenlinna: var(--color-white);

  // Default button highlight colors based on background colors.
  --hdbt-button-highlight-color--coat-of-arms: var(--color-black-90);
  --hdbt-button-highlight-color--brick: var(--color-black-90);
  --hdbt-button-highlight-color--bus: var(--color-black-90);
  --hdbt-button-highlight-color--metro: var(--color-black-90);
  --hdbt-button-highlight-color--tram: var(--color-black-90);
  --hdbt-button-highlight-color--gold: var(--color-white);
  --hdbt-button-highlight-color--silver: var(--color-white);
  --hdbt-button-highlight-color--copper: var(--color-white);
  --hdbt-button-highlight-color--engel: var(--color-white);
  --hdbt-button-highlight-color--fog: var(--color-white);
  --hdbt-button-highlight-color--summer: var(--color-white);
  --hdbt-button-highlight-color--suomenlinna: var(--color-white);

  // Disabled button colors. These are not available for some reason in hds-core.
  --background-color-disabled: transparent;
  --border-color-disabled: transparent;
  --color-disabled: var(--color-black-40);

  // Focused button colors. These are not available for some reason in hds-core.
  --border-color-focus: var(--color-coat-of-arms);
  --border-color-hover-focus: var(--color-coat-of-arms-dark);
}
