$font-path: '../fonts';
$font-faces: (
  'Regular': $font-weight-regular,
  'Medium': $font-weight-medium,
  'Bold': $font-weight-bold,
  'Black': $font-weight-black,
);

@each $name, $weight in $font-faces {
  @font-face {
    font-family: 'HelsinkiGrotesk';
    font-style: normal;
    font-weight: $weight;
    src: url('#{$font-path}/HelsinkiGrotesk-#{$name}.woff2') format('woff2'),
         url('#{$font-path}/HelsinkiGrotesk-#{$name}.woff') format('woff');
  }

  @font-face {
    font-family: 'HelsinkiGrotesk';
    font-style: italic;
    font-weight: $weight;
    src: url('#{$font-path}/HelsinkiGrotesk-#{$name}Italic.woff2') format('woff2'),
         url('#{$font-path}/HelsinkiGrotesk-#{$name}Italic.woff') format('woff');
  }
}
