@import "~hds-design-tokens/lib/all.scss";
@import "library/variables/*.*";
@import "library/mixins/*.*";

.component-library-wrapper {
  background-color: $color-white;
  font-family: Arial, serif;
  padding: $spacing-s;
}

.component-library__nav {
  margin: 0 -$spacing-3-xs;

  a {
    @include font-size(12px);
    border-right: 1px solid $color-black-50;
    color: $color-black;
    padding: $spacing-4-xs $spacing-3-xs;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $color-bus-dark-50;
    }

    &:last-of-type {
      border-right: none;
    }
  }
}

.component-library__accordion {
  @include font-size(20px);
  background-color: $color-black-10;
  border: none;
  color: $color-black-70;
  cursor: pointer;
  outline: none;
  padding: $spacing-s;
  text-align: left;
  transition: 0.4s;
  width: 100%;

  &.active, &:hover {
    background-color: $color-black-20;
  }
}

.component-library__panel {
  background-color: $color-white;
  border: 2px solid $color-black-20;
  margin: 0 0 $spacing-s;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.component-library__code,
.component-library__example {
  padding: $spacing-s;
}

.component-library__code {
  background-color: $color-black-5;
  font-family: monospace;
}
