@import "library/variables/*.*";
@import "library/mixins/*.*";

.component-library-wrapper {
  background-color: $color-white;
  padding: $spacing;
}

.component-library__nav-wrapper {
  align-items: center;
  display: flex;
  position: relative;
  user-select: none;

  label {
    display: block;
    margin-left: $spacing-half;
    position: relative;
    z-index: 1;

    .icon {
      --icon-proportions: 2.5rem;
    }
  }

  span {
    margin-left: $spacing;
  }
}

.component-library__toggle {
  -webkit-touch-callout: none;
  cursor: pointer;
  display: block;
  height: $spacing-double;
  left: 12px; // Position the input field on top of the icon.
  opacity: 0;
  padding: 0;
  position: absolute;
  width: $spacing-double;
  z-index: 2;

  + label .toggle--open {
    display: block;
  }

  + label .toggle--close {
    display: none;
  }

  &:checked + label .toggle--open {
    display: none;
  }

  &:checked + label .toggle--close {
    display: block;
  }

  &:checked ~ ul {
    left: 0;
    opacity: 1;
  }
}

.component-library__nav {
  background-color: $color-black-10;
  box-shadow: 3px 3px 4px $color-black-20;
  left: -100%;
  list-style-type: none;
  min-width: 250px; // Min-width for the navigation to prevent automatic expanding on wider links.
  opacity: 0;
  padding: $spacing $spacing $spacing $spacing-quadruple;
  position: absolute;
  top: -$spacing-double;
  transition: opacity 0.3s ease, left 0.3s ease;

  li {
    padding: $spacing-quarter 0 0;
  }

  a {
    @include font-size(16px);
    color: $color-black-70;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $color-bus-dark;
      font-weight: $font-weight-bold;
    }
  }
}

.component-library__accordion {
  @include font-size(20px);
  background-color: $color-black-10;
  border: none;
  color: $color-black-70;
  cursor: pointer;
  outline: none;
  padding: $spacing;
  text-align: left;
  transition: 0.4s;
  width: 100%;

  &.active, &:hover {
    background-color: $color-black-20;
  }
}

.component-library__panel {
  background-color: $color-white;
  border: 2px solid $color-black-20;
  margin: 0 0 $spacing;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.component-library__code,
.component-library__example {
  padding: $spacing;
}

.component-library__example--text-input {
  max-width: 400px;
}

.component-library__code {
  background-color: $color-black-5;
  font-family: monospace;
}

.component-library__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.component-library__icon {
  align-items: center;
  border: 1px solid $color-black-30;
  display: flex;
  flex-flow: column;
  margin: $spacing-half;
}

.component-library__icon__svg {
  padding: $spacing-half;

  .icon {
    --icon-proportions: 4rem;
  }
}

.component-library__icon__name {
  @include font-size(16px);
  background-color: $color-black-10;
  font-weight: $font-weight-medium;
  height: 100%;
  padding: $spacing-half;
  text-align: center;
  width: calc(100% - #{$spacing});
}
