.toolbar .toolbar-bar,
.toolbar .toolbar-menu,
.toolbar-horizontal .toolbar-tray .toolbar-menu-administration > ul > .menu-item--expanded,
.toolbar-lining {
  // TODO: Get spacing variable to work in hdbt_admin as well
  box-shadow: inset 0 -8px 0 var(--bg);
}

.toolbar-vertical .toolbar .toolbar-bar {
  background-color: var(--bg);

  .toolbar-tab > .toolbar-icon:before {
    background-color: var(--color);
  }

  .toolbar-tab > .toolbar-item {
    color: var(--color);
  }
}

.toolbar-tray-horizontal .toolbar-lining::after,
.toolbar-tray-vertical .toolbar-lining::before {
  background: var(--bg);
  color: var(--color);
  content: var(--name);
  display: block;
  font-size: 14px; // TODO: Get fontsize variable to work in hdbt_admin as well
  line-height: 1.5; // TODO: Get lineheight variable to work in hdbt_admin as well
  padding: 4px 16px; // TODO: Get spacing variable to work in hdbt_admin as well
  z-index: 3;
}

.toolbar-tray-horizontal .toolbar-lining::after {
  position: absolute;
  right: 0;
  top: 24px; // TODO: Get spacing variable to work in hdbt_admin as well
}

.env-local {
  &.toolbar .toolbar-bar,
  &.toolbar .toolbar-menu,
  &.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before,
  &.toolbar .toolbar-bar .toolbar-tab > .toolbar-item,
  .toolbar-horizontal .toolbar-tray .toolbar-menu-administration > ul > .menu-item--expanded,
  .toolbar-lining {
    --bg: var(--color-tram);
    --color: var(--color-white);
    --name: 'Local ';
  }
}

.env-testing {
  &.toolbar .toolbar-bar,
  &.toolbar .toolbar-menu,
  &.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before,
  &.toolbar .toolbar-bar .toolbar-tab > .toolbar-item,
  .toolbar-horizontal .toolbar-tray .toolbar-menu-administration > ul > .menu-item--expanded,
  .toolbar-lining {
    --bg: var(--color-info);
    --color: var(--color-white);
    --name: 'Test ';
  }
}

.env-staging {
  &.toolbar .toolbar-bar,
  &.toolbar .toolbar-menu,
  &.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before,
  &.toolbar .toolbar-bar .toolbar-tab > .toolbar-item,
  .toolbar-horizontal .toolbar-tray .toolbar-menu-administration > ul > .menu-item--expanded,
  .toolbar-lining {
    --bg: var(--color-alert);
    --color: var(--color-black);
    --name: 'Stage';
  }
}

.env-production {
  &.toolbar .toolbar-bar,
  &.toolbar .toolbar-menu,
  &.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before,
  &.toolbar .toolbar-bar .toolbar-tab > .toolbar-item,
  .toolbar-horizontal .toolbar-tray .toolbar-menu-administration > ul > .menu-item--expanded,
  .toolbar-lining {
    --bg: var(--color-metro);
    --color: var(--color-black);
    --name: 'Prod ';
  }
}

.env-development {
  &.toolbar .toolbar-bar,
  &.toolbar .toolbar-menu,
  &.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before,
  &.toolbar .toolbar-bar .toolbar-tab > .toolbar-item,
  .toolbar-horizontal .toolbar-tray .toolbar-menu-administration > ul > .menu-item--expanded,
  .toolbar-lining {
    --bg: var(--color-black-60);
    --color: var(--color-white);
    --name: 'Dev';
  }
}
