// Base font family and size.
// stylelint-disable-next-line value-keyword-case
@use 'sass:math';

$base-font-family: HelsinkiGrotesk, Arial, sans-serif;
$base-font-size: 16px; // We have to assume that this is the default size in browsers.
$base-line-height: 1.5;

// Font weight.
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 800;

// Add design font tokens to $config
$config: deep-map-merge(
  $config,
  (
    font: (
      h1: (
        font-size: remify(40px),
        font-weight: $font-weight-regular,
        letter-spacing: remify(-0.8px),
        line-height: math.div(40, 40), // 1
        breakpoint_l: (
          font-size: remify(64px),
          font-weight: $font-weight-regular,
          letter-spacing: remify(-1.2px),
          line-height: math.div(64, 64), // 1
        )
      ),
      h2: (
        font-size: remify(32px),
        font-weight: $font-weight-regular,
        letter-spacing: remify(-0.4px),
        line-height: math.div(38, 32), // 1.1875
        breakpoint_l: (
          font-size: remify(48px),
          font-weight: $font-weight-regular,
          letter-spacing: remify(-1px),
          line-height: math.div(48, 48), // 1
        )
      ),
      h3: (
        font-size: remify(24px),
        font-weight: $font-weight-medium,
        letter-spacing: remify(-0.2px),
        line-height: math.div(32, 24), // 1.333..
        breakpoint_l: (
          font-size: remify(32px),
          font-weight: $font-weight-regular,
          letter-spacing: remify(-0.4px),
          line-height: math.div(38, 32), // 1.1875
        )
      ),
      h4: (
        font-size: remify(20px),
        font-weight: $font-weight-medium,
        line-height: math.div(30, 20), // 1.5
        breakpoint_l: (
          font-size: remify(24px),
          font-weight: $font-weight-medium,
          line-height: math.div(30, 24), // 1.25
        )
      ),
      h5: (
        font-size: remify(18px),
        font-weight: $font-weight-bold,
        line-height: math.div(28, 18), // 1.555..
        breakpoint_l: (
          font-size: remify(20px),
          font-weight: $font-weight-bold,
          line-height: math.div(30, 20), // 1.5
        )
      ),
      h6: (
        font-size: remify(16px),
        font-weight: $font-weight-bold,
        letter-spacing: remify(0.2px),
        line-height: math.div(24, 16), // 1.5
        breakpoint_l: (
          font-size: remify(18px),
          font-weight: $font-weight-bold,
          line-height: math.div(28, 18), // 1.555..
        )
      ),
      lead: (
        font-size: remify(20px),
        font-weight: $font-weight-regular,
        line-height: math.div(30, 20), // 1.5
        breakpoint_l: (
          font-size: remify(22px),
          font-weight: $font-weight-regular,
          line-height: math.div(33, 22), // 1.5
        )
      ),
      body: (
        font-size: remify(18px),
        font-weight: $font-weight-regular,
        line-height: math.div(28, 18) // 1.555..
      ),
      small: (
        font-size: remify(16px),
        font-weight: $font-weight-regular,
        line-height: math.div(24, 16) // 1.5
      ),
      button: (
        font-size: remify(16px),
        font-weight: $font-weight-medium,
        line-height: math.div(24, 16) // 1.5
      ),
      special: (
        card_title: (
          font-size: remify(26px),
          font-weight: $font-weight-medium,
          line-height: math.div(32, 26), // 1.2307..
          breakpoint_l: (
            font-size: remify(34px),
            font-weight: $font-weight-medium,
            line-height: math.div(42, 34), // 1.2352..
          )
        ),
        helper_text: (
          font-size: remify(14px),
          font-weight: $font-weight-medium,
          line-height: math.div(21, 14), // 1.5
        ),
        large_link: (
          font-size: remify(20px),
          font-weight: $font-weight-medium,
          line-height: math.div(30, 20), // 1.5
        ),
        quote: (
          font-size: remify(24px),
          font-weight: $font-weight-medium,
          line-height: math.div(36, 24), // 1.5
          breakpoint_l: (
            font-size: remify(32px),
            font-weight: $font-weight-regular,
            line-height: math.div(48, 32), // 1.5
          )
        ),
        site_name: (
          font-size: remify(24px),
          font-weight: $font-weight-regular,
          line-height: math.div(28, 24), // 1.666..
        ),
        breadcrumb: (
          parent: (
            font-size: remify(18px),
            font-weight: $font-weight-regular,
            line-height: math.div(28, 18), // 1.555..
            breakpoint_m: (
              font-size: remify(14px),
              font-weight: $font-weight-regular,
              line-height: math.div(21, 14), // 1.5
            )
          ),
          current: (
            font-size: remify(14px),
            font-weight: $font-weight-bold,
            line-height: math.div(21, 14), // 1.5
          )
        ),
        navigation: (
          city_name: (
            font-size: remify(16px),
            font-weight: $font-weight-regular,
            line-height: math.div(24, 16), // 1.5
            breakpoint_m: (
              font-size: remify(20px),
              font-weight: $font-weight-regular,
              line-height: math.div(30, 20), // 1.5
            )
          ),
          icon_label: (
            font-size: remify(14px),
            font-weight: $font-weight-regular,
            line-height: math.div(14, 14), // 1
          ),
          mobile_header: (
            font-size: remify(24px),
            font-weight: $font-weight-regular,
            line-height: math.div(32, 24), // 1.333..
          ),
          main_nav: (
            font-size: remify(16px),
            font-weight: $font-weight-regular,
            line-height: math.div(24, 16), // 1.5
          ),
          sub_nav: (
            font-size: remify(16px),
            font-weight: $font-weight-regular,
            line-height: math.div(20, 16), // 1.25
          ),
          header_top: (
            font-size: remify(14px),
            font-weight: $font-weight-regular,
            line-height: math.div(20, 14), // 1.4285..
          ),
          mobile_nav: (
            font-size: remify(20px),
            font-weight: $font-weight-regular,
            line-height: math.div(30, 20), // 1.5
          ),
          mobile_subnav: (
            font-size: remify(16px),
            font-weight: $font-weight-regular,
            line-height: math.div(24, 16), // 1.5
          ),
        )
      )
    )
  )
);
