// Base font family and size.
// stylelint-disable-next-line value-keyword-case
@use "sass:math";

$base-font-family: HelsinkiGrotesk, Arial, sans-serif;
$base-font-size: 16px; // We have to assume that this is the default size in browsers.
$base-line-height: 1.5;

// Font weight.
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 800;

// Add design font tokens to $config
$config: deep-map-merge(
  $config,
  (
    font: (
      h1: (
        font-size: remify(40px),
        font-weight: $font-weight-regular,
        line-height: math.div(40, 40),
        breakpoint_l: (
          font-size: remify(64px),
          font-weight: $font-weight-regular,
          line-height: math.div(64, 64),
        )
      ),
      h2: (
        font-size: remify(32px),
        font-weight: $font-weight-regular,
        line-height: math.div(32, 32),
        breakpoint_l: (
          font-size: remify(48px),
          font-weight: $font-weight-regular,
          line-height: math.div(48, 48),
        )
      ),
      h3: (
        font-size: remify(24px),
        font-weight: $font-weight-medium,
        line-height: math.div(32, 24),
        breakpoint_l: (
          font-size: remify(32px),
          font-weight: $font-weight-regular,
          line-height: math.div(32, 32),
        )
      ),
      h4: (
        font-size: remify(20px),
        font-weight: $font-weight-medium,
        line-height: 26 * 0.05,
        breakpoint_l: (
          font-size: remify(24px),
          font-weight: $font-weight-medium,
          line-height: math.div(28, 24),
        )
      ),
      h5: (
        font-size: remify(18px),
        font-weight: $font-weight-medium,
        line-height: math.div(22, 18),
        breakpoint_l: (
          font-size: remify(20px),
          font-weight: $font-weight-medium,
          line-height: 30 * 0.05,
        )
      ),
      h6: (
        font-size: remify(16px),
        font-weight: $font-weight-bold,
        line-height: math.div(24, 16),
        breakpoint_l: (
          font-size: remify(18px),
          font-weight: $font-weight-bold,
          line-height: math.div(28, 18),
        )
      ),
      lead: (
        font-size: remify(20px),
        font-weight: $font-weight-regular,
        line-height: 30 * 0.05,
        breakpoint_l: (
          font-size: remify(22px),
          font-weight: $font-weight-regular,
          line-height: math.div(33, 22),
        )
      ),
      body: (
        font-size: remify(18px),
        font-weight: $font-weight-regular,
        line-height: math.div(28, 18)
      ),
      small: (
        font-size: remify(16px),
        font-weight: $font-weight-regular,
        line-height: math.div(24, 16)
      ),
      button: (
        font-size: remify(16px),
        font-weight: $font-weight-medium,
        line-height: math.div(24, 16)
      ),
      special: (
        card_title: (
          font-size: remify(26px),
          font-weight: $font-weight-medium,
          line-height: math.div(32, 26),
          breakpoint_l: (
            font-size: remify(34px),
            font-weight: $font-weight-medium,
            line-height: math.div(42, 34),
          )
        ),
        helper_text: (
          font-size: remify(14px),
          font-weight: $font-weight-medium,
          line-height: math.div(21, 14),
        ),
        large_link: (
          font-size: remify(20px),
          font-weight: $font-weight-medium,
          line-height: 30 * 0.05,
        ),
        quote: (
          font-size: remify(24px),
          font-weight: $font-weight-medium,
          line-height: math.div(36, 24),
          breakpoint_l: (
            font-size: remify(32px),
            font-weight: $font-weight-regular,
            line-height: math.div(48, 32),
          )
        ),
        site_name: (
          font-size: remify(24px),
          font-weight: $font-weight-regular,
          line-height: math.div(28, 24),
        ),
        breadcrumb: (
          parent: (
            font-size: remify(18px),
            font-weight: $font-weight-regular,
            line-height: math.div(28, 18),
            breakpoint_m: (
              font-size: remify(14px),
              font-weight: $font-weight-regular,
              line-height: math.div(21, 14),
            )
          ),
          current: (
            font-size: remify(14px),
            font-weight: $font-weight-bold,
            line-height: math.div(21, 14),
          )
        ),
        navigation: (
          city_name: (
            font-size: remify(16px),
            font-weight: $font-weight-regular,
            line-height: math.div(24, 16),
            breakpoint_m: (
              font-size: remify(20px),
              font-weight: $font-weight-regular,
              line-height: 30 * 0.05,
            )
          ),
          icon_label: (
            font-size: remify(14px),
            font-weight: $font-weight-regular,
            line-height: math.div(14, 14),
          ),
          mobile_header: (
            font-size: remify(24px),
            font-weight: $font-weight-regular,
            line-height: math.div(32, 24),
          ),
          main_nav: (
            font-size: remify(16px),
            font-weight: $font-weight-regular,
            line-height: math.div(24, 16),
          ),
          sub_nav: (
            font-size: remify(16px),
            font-weight: $font-weight-regular,
            line-height: math.div(20, 16),
          ),
          header_top: (
            font-size: remify(14px),
            font-weight: $font-weight-regular,
            line-height: math.div(20, 14),
          ),
          mobile_nav: (
            font-size: remify(20px),
            font-weight: $font-weight-regular,
            line-height: 30 * 0.05,
          ),
          mobile_subnav: (
            font-size: remify(16px),
            font-weight: $font-weight-regular,
            line-height: math.div(24, 16),
          ),
        )
      )
    )
  )
);
