.helfi-calculator {
  .helfi-calculator-disclaimer {
    @include font('body');
  }

  .hds-selection-group,
  .hds-text-input__input {
    scroll-margin-top: $spacing-double;
  }

  .hds-text-input__input {
    @include breakpoint($breakpoint-m) {
      width: auto;
    }
  }

  .helfi-calculator__item:not(:first-child) > :first-child,
  .helfi-calculator__buttons {
    margin-top: $spacing-and-half;
  }

  .helfi-calculator__buttons {
    display: flex;
    flex-direction: column;
    gap: $spacing;

    @include breakpoint($breakpoint-m) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .helfi-calculator__item hr {
    background-color: $color-black-70;
  }

  .helfi-calculator-notification {
    margin-top: $spacing-double;
  }

  .helfi-calculator-notification .hds-notification__body > ul {
    margin-block: 0;
  }

  .helfi-calculator-notification .hds-notification__body li {
    margin-top: $spacing-half;
  }

  .hds-notification__label {
    margin-top: 0;
  }

  .hds-notification--error .hds-notification__label::before {
    --line-height: 1; // HDS line-height here is same as font-size

    @include pseudo-icon('alert-circle-fill');
    margin-right: $spacing-half;
  }

  .helfi-calculator-required {
    font-weight: bold;
  }

  .helfi-calculator__group {
    display: grid;
    grid-template-rows: 0fr;
    margin-left: 10px; // 8px from design + 2px from HDS fieldset style, so that radiobuttons center match this center
    margin-top: 0 !important;
    overflow: hidden;
    transition: grid-template-rows 0.5s;

    @media (prefers-reduced-motion) {
      transition: none;
    }

    & > :first-child {
      border-left: $spacing-half solid $color-black-20;
      padding-left: $spacing-and-half;
    }

    & > * {
      align-self: start;
      min-height: 0;
      /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
      transition: visibility 0.5s linear;
      visibility: hidden;

    }

    &:not([data-hide-group='true']) {
      grid-template-rows: 1fr;

      & > * {
        visibility: visible;
      }
    }
  }

  .helfi-calculator__dynamic-area__slots + button {
    margin-top: 24px;
  }

  .helfi-calculator__dynamic-slot {
    background-color: $color-silver-light;
    padding: $spacing-double $spacing-and-half;

    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  // Animate all added slots
  [data-item-count] .helfi-calculator__dynamic-slot {
    @media (prefers-reduced-motion: no-preference) {
      animation: append-animate 0.3s linear;
    }
    display: grid;
    overflow: hidden;

    & > div {
      align-self: start;
      min-height: 0;
    }
  }

  @keyframes append-animate {
    from {
      grid-template-rows: 0fr;
    }

    to {
      grid-template-rows: 1fr;
    }
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  // For some unknown reason HDS does not include styles for helper-texts and error-texts with radiobuttons.
  .hds-selection-group {
    .hds-text-input__helper-text {
      color: $color-black-60;
      display: block;
      font-size: var(--fontsize-body-m);
      line-height: var(--lineheight-l);
      margin-top: $spacing-half;
      white-space: pre-line;
    }

    .hds-text-input__error-text {
      color: $color-error;
      margin-top: $spacing;
      padding-left: calc(var(--icon-size) + var(--spacing-2-xs));
      position: relative;

      /* stylelint-disable-next-line max-nesting-depth */
      &::before {
        @include pseudo-icon('alert-circle-fill', $color: currentColor);
      }
    }
  }

  .helfi-calculator__dynamic-remove-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .helfi-calculator__dynamic-remove {
    margin-bottom: - $spacing-and-half;
    margin-right: - $spacing;

    &::before {
      content: none !important;
    }

    .hds-button__label {
      margin-bottom: 0;
      padding-right: 0;
    }
  }
}
