.helfi-calculator {
  .hds-text-input__input {
    @include breakpoint($breakpoint-m) {
      width: auto;
    }
  }

  .helfi-calculator__item,
  .helfi-calculator__buttons {
    margin-top: $spacing-and-half;
  }

  .helfi-calculator__buttons {
    display: flex;
    flex-direction: column;
    gap: $spacing;

    @include breakpoint($breakpoint-m) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .helfi-calculator-notification {
    margin-top: $spacing-double;
  }

  .helfi-calculator-notification .hds-notification__body > ul {
    margin-block: 0;
  }

  .helfi-calculator-notification .hds-notification__body li {
    margin-top: $spacing-half;
  }

  .hds-notification__label {
    margin-top: 0;
  }

  .hds-notification--error .hds-notification__label::before {
    --line-height: 1; // HDS line-height here is same as font-size

    @include pseudo-icon('alert-circle-fill');
    margin-right: $spacing-half;
  }

  .required {
    color: $color-error;
  }

  .helfi-calculator__group {
    border-left: $spacing-half solid $color-black-10;
    padding-left: $spacing-and-half;
  }

  .helfi-calculator__group[data-hide-group='true'] {
    display: none;
  }

  [data-hide-group='true'] {
    display: none;
  }
}
