// @todo UHF-8650: Deprecated. Remove when the EU cookie compliance module is removed.
.dialog-off-canvas-main-canvas {
  &::after {
    background-color: rgba($color-black, 0.4);
    content: '';
    height: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    width: 0;
  }
}

.eu-cookie-compliance-banner {
  background-color: $color-bus;
  color: $color-white;
  max-height: 100vh;
  overflow: auto;
  padding: 0 0 $spacing-and-half;

  @include breakpoint($breakpoint-m) {
    padding: 0 0 $spacing-double;
  }

  .eu-cookie-compliance-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: $spacing-and-half;
  }

  .eu-cookie-compliance-message {
    float: none;
    max-width: 100%;
    width: 100%;

    > h2 {
      @include font('h4');
      margin-top: 0;
      max-width: $content-width-max;
    }

    > p {
      max-width: $content-width-max;
    }
  }

  .eu-cookie-compliance-more-info,
  .eu-cookie-compliance-all-buttons {
    margin-top: $spacing-double;
    width: 100%;

    @include breakpoint($breakpoint-m) {
      align-items: center;
      display: flex;
    }
  }

  .eu-cookie-compliance-more-info {
    @include breakpoint($breakpoint-m) {
      width: 30%;
    }
  }

  .eu-cookie-compliance-all-buttons {
    @include breakpoint($breakpoint-m) {
      justify-content: flex-end;
      width: 70%;
    }
  }

  .eu-cookie-compliance-categories-buttons {
    margin-top: $spacing;

    @include breakpoint($breakpoint-m) {
      margin-inline-start: $spacing;
      margin-top: 0;
    }
  }

  .eu-cookie-compliance-buttons {
    float: none;
    max-width: 100%;
  }

  .eu-cookie-withdraw-button {
    display: none; // hide withdraw button from screen readers and tab lists as we're not using it.
  }

  [data-hds-component='button']:not([class*='hds-button']),
  .hds-button {
    @include hds-button-colors-on-dark-bg;
    max-width: 400px;
    width: 100%;

    @include breakpoint($breakpoint-m) {
      width: auto;
    }
  }
}

// Ensure text-align in forced LTR
[dir='ltr'] .eu-cookie-compliance-message {
  text-align: left;
}

// Ensure alignment in forced LTR
[dir='ltr'] .eu-cookie-compliance-categories-buttons {
  @include breakpoint($breakpoint-m) {
    margin-left: $spacing;
    margin-right: 0;
  }
}

.sliding-popup-bottom {
  width: 100%;
}

// Patch Siteimprove false positive color contrast issue to reduce noise
.eu-cookie-compliance-block-form {
  .hds-checkbox .hds-checkbox__input {
    z-index: 1; // make sure that the checkbox is above the following label to show focus-ring properly
  }

  .hds-checkbox__label,
  .description > p {
    background-color: $color-white;
  }
}
