@use "sass:math";

$-logo-aspect-ratio: math.div(78, 36); // fi and en logo size from svg file
$-logo-sv-aspect-ratio: math.div(78, 28); // sv and ru logo size from svg file

.logo {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.logo__icon {
  --height: 32px;
  --aspect-ratio: #{$-logo-aspect-ratio};
  height: var(--height);
  width: calc(var(--aspect-ratio) * var(--height));

  @include breakpoint($breakpoint-m) {
    --height: 54px;
  }
}

.logo__icon--sv,
.logo__icon--ru {
  --aspect-ratio: #{$-logo-sv-aspect-ratio};
}

.logo--header {
  color: $color-black;
  height: var(--branding-height);
}

.logo--footer {
  $logo-size: 40px;
  $padding-size: 0.5 * ($wcag-touch-target-size-aaa - $logo-size);
  margin-top: calc($spacing-half - #{$padding-size});
  padding-block: $padding-size;

  @include breakpoint($breakpoint-m) {
    margin-right: $spacing;
    margin-top: 0;
  }

  .logo__icon {
    --height: #{$logo-size};
  }
}
