$_logo_aspect_ratio: 78/36; // fi and en logo size from svg file
$_logo_sv_aspect_ratio: 78/28; // sv and ru logo size from svg file

.logo {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.logo__icon {
  --height: 32px;
  --aspect-ratio: #{$_logo_aspect_ratio};
  height: var(--height);
  width: calc(var(--aspect-ratio) * var(--height));

  @include breakpoint($breakpoint-m) {
    --height: 54px;
  }
}

.logo__icon--sv,
.logo__icon--ru {
  --aspect-ratio: #{$_logo_sv_aspect_ratio};
}

.logo--header {
  color: $color-black;
  padding: $spacing 0;
}

.logo--footer {
  margin-top: $spacing-half;

  @include breakpoint($breakpoint-m) {
    margin-right: $spacing;
    margin-top: 0;
  }

  .logo__icon {
    --height: 40px;
  }
}
