.content-tags__tags {
  @include tag-container;
}

.content-tags__tags__tag {
  @include tag-parent;
  max-width: 100%;
}

.hds-tag--link {
  &:focus-visible,
  &:focus {
    outline-color: $color-black;
  }
}

.hds-tag__alert,
.hds-tag__info,
.hds-tag__success,
.hds-tag__error {
  position: relative;

  &::before {
    margin-left: 0;
  }
}

.hds-tag__info,
.hds-tag__success,
.hds-tag__error {
  color: $color-white;
}

.hds-tag__alert {
  background-color: $color-alert;


  &::before {
    @include pseudo-icon('alert-circle', $spacing-and-half);
  }
}

.hds-tag__info {
  background-color: $color-info;

  &::before {
    @include pseudo-icon('info-circle', $spacing-and-half, $color-white);
  }
}

.hds-tag__success {
  background-color: $color-success;

  &::before {
    @include pseudo-icon('check-circle', $spacing-and-half, $color-white);
  }
}

.hds-tag__error {
  background-color: $color-error;

  &::before {
    @include pseudo-icon('error', $spacing-and-half, $color-white);
  }
}

.content-tags__tags--static {
  .content-tags__tags__tag--coat-of-arms {
    background-color: $color-coat-of-arms-medium-light;
  }

  .content-tags__tags__tag--gold {
    background-color: $color-gold-medium-light;
  }

  .content-tags__tags__tag--bus {
    background-color: $color-bus-medium-light;
  }

  .content-tags__tags__tag--success {
    background-color: $color-success;
    color: $color-white;
  }

  .content-tags__tags__tag--alert {
    background-color: $color-alert;
  }

  .content-tags__tags__tag--error {
    background-color: $color-error;
    color: $color-white;
  }

  .content-tags__tags__tag--fog-medium-light {
    background-color: $color-fog-medium-light;
  }
}
