$-tag-gap: $spacing-half;

.content-tags__tags {
  @include flex-gap($-tag-gap);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: ($spacing-and-half - $-tag-gap);
  padding-left: 0;
  padding-top: $spacing-and-half;
}

.content-tags__tags__tag {
  list-style: none;
  margin-bottom: $-tag-gap;
  margin-top: 0;

  a,
  span {
    @include font('small');
    display: inline-block;
    text-decoration: none;
    transition: 0.2s ease-in-out background-color, 0.2s ease-in-out border-color;
  }
}

.content-tags__tags--interactive a {
  background-color: transparent;
  border: 2px solid $color-black;
  border-radius: $spacing-and-half;
  padding: 10px 20px;

  &:hover,
  &:active {
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;
  }

  &:focus,
  &:active {
    border-color: $color-black;
    outline: 2px solid $color-black;
    outline-offset: 2px;
  }
}

.content-tags__tags--static span {
  background-color: $color-silver;
  border-radius: $spacing;
  padding: $spacing-quarter $spacing;
}
