.hds-loading-spinner {
  // Center the spinner to the middle of the screen.
  left: calc(50% - (var(--spinner-size) / 2));
  position: fixed;
  top: calc(50% - (var(--spinner-size) / 2));
  z-index: 1000;
}
