{% embed 'page.html.twig' %}
  {% block page_before_content %}
    {% embed '@hdbt/misc/container.twig' with {container_element: 'page-title'} %}
      {% block container_content %}
        <div class="page-title">
          <h1>401 - {{ 'You are unauthorized to view this page.'|t }}</h1>
        </div>
      {% endblock container_content %}
    {% endembed %}
  {% endblock page_before_content %}
  {% block page_content %}
    {% embed '@hdbt/misc/component.twig' with {container_element: 'error-content'} %}
      {% block component_content %}
        <p>{{ 'Sorry, but you are unauthorized to access this page. Please contact the site administrators.' }}</p>
      {% endblock component_content %}
    {% endembed %}
  {% endblock page_content %}
{% endembed %}
