{% embed 'page.html.twig' %}
  {% block page_content %}
    {% embed '@hdbt/misc/container.twig' with {container_element: 'user-login-page-content'} %}
      {% block container_content %}
        <div class="user-login__form-container">
          <div class="user-login__text-container">
            <h1 class="user-login-page__title">{{ 'Log in'|t }}</h1>
          </div>
          {{ page.content|without(page_title_block) }}
        </div>
        {% embed '@hdbt/misc/special-page-illustration.twig' with {
          illustration_modifier_class: 'special-page__illustration-container--user-login',
          illustration_url: theme_path ~ '/src/images/illustration_user_login_page.svg',
          illustration_caption: 'Photo: @photographer'|t({'@photographer': 'Lille Santanen'}, {'context': 'Image photographer'}),
        } %}
        {% endembed %}
      {% endblock container_content %}
    {% endembed %}
  {% endblock page_content %}

  {% block page_after_content %}
  {% endblock page_after_content %}
{% endembed %}
