{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% embed "@hdbt/misc/container.twig" with {container_element: 'footer-bottom'} %}
  {% block container_content %}
    <div{{ attributes.addClass(region|clean_class) }}>
      <div class="footer-bottom__navigation-wrapper">
        {% set link_title %}
          {% embed "@hdbt/misc/logo.twig" %}{% endembed %}
        {% endset %}
        {% set link_attributes = {
          'class': [
            'logo',
            'logo--footer',
          ],
          'title': city_name,
          'rel': 'home',
        } %}
        {{ link(link_title, frontpage_instance_url, link_attributes) }}

        {% if content %}
          {{ content }}
        {% endif %}

      </div>

      {% set skip_link_attributes = {
          'class': [
            'footer__back-to-top'
          ]
        }
      %}
      {% if alternative_language %}
        {% set skip_link_attributes = skip_link_attributes|merge({
            'dir': lang_attributes.fallback_dir,
            'lang': lang_attributes.fallback_lang
          }) 
        %}
      {% endif %}
      <a href="#skip-to-main" onclick="document.getElementById('skip-to-main').focus();" {{ create_attribute(skip_link_attributes) }}>
        {% trans with {'context': 'Footer back to top link'}  %}Back to top{% endtrans %}{% include '@hdbt/misc/icon.twig' with {icon: 'arrow-up'} %}
      </a>
    </div>
  {% endblock container_content %}
{% endembed %}
