{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  {% embed "@hdbt/misc/container.twig" with {container_element: 'footer-bottom'} %}
    {% block container_content %}
      <div{{ attributes.addClass(region|clean_class) }}>
        <div class="footer-bottom__navigation-wrapper">
          <a href="{{ path('<front>') }}" class="logo logo--footer" title="{{ site_name }}" rel="home">
            {% embed "@hdbt/misc/logo.twig" %}{% endembed %}
          </a>
          {{ content }}
        </div>
        <a href="#skip-to-main" onclick="document.getElementById('skip-to-main').focus();" class="footer__back-to-top">
          {% trans with {'context': 'Footer back to top link'}  %}Back to top{% endtrans %}{% include '@hdbt/misc/icon.twig' with {icon: 'arrow-up'} %}
        </a>
      </div>
    {% endblock container_content %}
  {% endembed %}
{% endif %}
