{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass(region|clean_class) }}>
    {{ content }}
    <div class="footer-top__content">
      <h2>Dummy content for styling</h2>
      <p><a href="#">Dummy link for dummy content</a></p>
      <p>
        <a href="#" class="hds-button hds-button--secondary">
          <span aria-hidden="true" class="hds-icon hds-icon--phone"></span>
          <span class="hds-button__label">Dummy button</span>
        </a>
      </p>
    </div>
  </div>
{% endif %}
