@mixin rotating-icon-transition($duration: 0.2s) {
  transition: transform $duration ease-in;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

@mixin hover-link-arrow-transition($duration: 0.2s) {
  transition: transform $duration linear;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

@mixin hover-external-arrow-transition($duration: 0.2s) {
  transition: mask-position $duration linear;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}
