@mixin form-submit-defaults() {
  margin-bottom: $spacing-double;
  margin-top: $spacing;
  max-width: 280px;
  width: 100%;
}

@mixin form-container-defaults() {
  margin-bottom: $spacing-double;
  max-width: $content-width-max;
}
