/* stylelint-disable-next-line scss/at-mixin-pattern -- @todo UHF-12501 */
@mixin navigation_link_defaults() {
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: remify(2px);
  }

  &[aria-current='page'],
  &[aria-current='true'] {
    font-weight: $font-weight-bold;
  }
}
