// Renders styles for tags container
@mixin tag-container() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-half;
  margin-block: 0;
  padding-inline-start: 0;
}

// Renders style for parent li-element for tags
@mixin tag-parent() {
  list-style: none;
  margin: 0;
}
