{% embed "@hdbt/misc/container.twig" with {container_element: 'cookie-policy'} %}
  {% block container_content %}
    <p>{{ content|nl2br }}</p>
    <div class="cookie-policy-settings"></div>
  {% endblock %}
{% endembed %}
